body {
  background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-set-icon{
    background: url(../images/set_icon.png)no-repeat;
    background-size:16/72rem 30/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}

.bxg-set-list{
    width:100%;
    background: #fff;
}
.bxg-set-list ul li{
    padding:0 30/72rem;
    background: #fff;
    border-bottom:1px solid #F0F0F2;
    box-sizing: border-box;
}
.bxg-set-list ul li a{
    display: block;
    height:90/72rem;
    line-height:90/72rem;
    color: #333;
    font-size:32/72rem;
}
.bxg-set-list ul li a span:nth-of-type(1){
    float: left;
}
.bxg-set-list ul li a span:nth-of-type(2){
    font-size:30/72rem;
    color: #787878;
}
.bxg-set-list ul li a span:nth-of-type(2),
.bxg-set-list ul li a i{
    float: right;
}
.bxg-set-list ul li a i{
    margin:30/72rem 0 30/72rem 20/72rem;
    width:16/72rem;
    height:30/72rem;
    background-position:0 0;
}