body{
    background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    
}
.add_f_title{
    padding:50/72rem 0 40/72rem;
    font-size: 40/72rem;
    color: #12B7F5;
    text-align: center;
}
.add_f_radar{
    margin:0 auto;
    width:474/72rem;
    height: 480/72rem;
    background: url(../images/addfriends_bg.png)no-repeat;
    background-size:474/72rem 480/72rem;
}
