body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:10/72rem;
}
.bxg-addshop p{
    color:#12B7F5;
    height:96/72rem;
    line-height: 96/72rem;
    font-size:30/72rem;
    text-align: center;
}
.bxg-addshop-add{
    width:678/72rem;
    height:100/72rem;
    line-height: 100/72rem;
    font-size:33/72rem;
    background: #12B7F5;
    border-radius: 12/72rem;
    text-align: center;
    margin:0 auto;
    color:#fff;
}
.bxg-addshop-add span{
   font-size: 38/72rem;
   font-weight: bold;
   margin-left:20/72rem;
   height:96/72rem;
   line-height: 96/72rem;
}
.bxg-addshop-add a{
    display: block;
    color:#fff;
}
.bxg-addshop-img{
    width:430/72rem;
    height:420/72rem;
    background: url(../images/addshop.png)no-repeat;
    background-size:430/72rem 420/72rem;
    margin:50/72rem auto;
}
