body {
  background: #f0f0f2;
  
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-advice{
    position: absolute;
    top:12/72rem;
    right:30/72rem;
    width:56/72rem;
    height:54/72rem;
    background-position:-160/72rem 0;
}
.bxg-advice-list{
    padding-top:20/72rem;
}
.advice-title{
    padding:0 30/72rem;
    height:80/72rem;
    line-height: 80/72rem;
    color:#fff;
    font-size:30/72rem;
    background:#12B7F5;
}
.advice-content{
    padding:30/72rem;
    background: #fff;
}
.advice-content>div:first-child{
    height:50/82rem;
    line-height: 50/72rem;
    color:#12B7F5;  
    font-size:30/72rem;
}
.advice-content>div:nth-child(2){
    margin-top: 20/72rem;
    padding:0 20/72rem;
    line-height: 50/72rem;
    color:#333;
    font-size: 30/72rem;
}
.advice-reply{
    margin-top:15/72rem;
    padding:20/72rem 30/72rem;
    line-height: 40/72rem;
    font-size: 30/72rem;
    color: #12B7F5;
    background: #f0f0f2;
}






.bxg-advice-head{
    height:318/72rem;
    margin-top:20/72rem; 
}
.bxg-advice-head-top{

    height:80/72rem;
    line-height: 80/72rem;
    color:#fff;
    background:#12B7F5;
    margin-top:20/72rem;
    font-size:30/72rem;
    padding-left:20/72rem;

}

.bxg-advice-head p{
    float:left;
    display:inline-block;
   
    color:#fff;
    font-size:30/72rem;
    margin-right:30/72rem;
   
}
.bxg-advice-head-top-po{
    float:left;
    right:60/72rem;
}

.bxg-advice-head-top-p{
    float:right !important;
    right:20/72rem;
}

.bxg-advice-head-main{
    height:236/72rem;
    background: #fff;
}

.bxg-advice-head-main-p{
    height:80/82rem;
    line-height: 82/72rem;
    color:#12B7F5 !important;  
    margin-left:30/72rem;
    font-size:30/72rem;
    display: block;
}
.bxg-advice-head-top-complaint{
    width:96%;
    height:190/72rem;
    line-height: 50/72rem;
    display: block;
    color:#333 !important;
    margin-left:20/72rem;
    right:20/72rem;
}
.bxg-advice-main{

    height:400/72rem;
    margin-top:20/72rem;
    font-size: 30/72rem;
    background: #fff;
    
}

.bxg-advice-main-top{
    height:80/72rem;
    line-height: 80/72rem;
    color:#fff;
    background:#12B7F5;
 
    font-size:30/72rem;
    padding-left:20/72rem;

}

.bxg-advice-main p{
    float:left;
    display:inline-block;
   
    color:#fff;
    font-size:30/72rem;
    margin-right:30/72rem;
   
}
.bxg-advice-main-top-po{
    float:left;
    margin-right:60/72rem;
}

.bxg-advice-main-top-p{
    float:right !important;
    margin-right:20/72rem;
}

.bxg-advice-main-main{
    height:166/72rem;
    background: #fff;
    float:left;

}

.bxg-advice-main-main-p{
    height:80/82rem;
    line-height: 82/72rem;
    color:#12B7F5 !important;  
    margin-left:30/72rem;
    font-size:30/72rem;
    display: block;
}
.bxg-advice-main-top-complaint{
    width:96%;
    height:190/72rem;
    line-height: 50/72rem;
    display: block;
    color:#333 !important;
    left:20/72rem;
    margin-right:20/72rem;
}
.bxg-advice-main-footer{
    width:660/72rem;
    height:130/72rem;
    background: #f0f0f2;
    float:left;
    margin-left:30/72rem;
    
}
.bxg-advice-main-footer p{
   margin-top:10/72rem;
    height:50/72rem;
   line-height: 50/72rem;
   color:#12B7F5!important;
   margin-left:30/72rem;
    
}
