body {
  background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-set-icon{
    background: url(../images/set_icon.png)no-repeat;
    background-size:16/72rem 30/72rem;
}
.amand-title{
    height:90/72rem;
    line-height: 90/72rem;
    font-weight: bold;
    font-size: 36/72rem;
    text-align: center;
    border-bottom:1px solid #ddd;
}

.bxg-set-list{
    width:100%;
}
.bxg-set-list ul li{
    padding:0 30/72rem;
}
.bxg-set-list ul li a{
    display: block;
    height:90/72rem;
    line-height:90/72rem;
    color: #333;
    font-size:32/72rem;
}

.bxg-set-list ul li a i{
    float: right;
}
.bxg-set-list ul li a i{
    margin:30/72rem 0 30/72rem 20/72rem;
    width:16/72rem;
    height:30/72rem;
    background-position:0 0;
}

.bxg-verify{
    font-size:30/72rem;
    color: #8b8a8a;
}
.bxg-amend-list ul li:nth-child(2n+1){
    height:90/72rem;
    line-height:90/72rem;
}
.bxg-amend-list ul li:nth-child(2n){
    background: #fff;
}