body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 80/72rem;
}
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300/64/2rem;
    margin-top:-0.8/2rem;
    width:300/64rem;
    height:0.8rem;
    line-height: 0.8rem;
    font-size:26/64rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 8/64rem;
}
.bxg-pass-icon{
    background: url(../images/password_eye.png)no-repeat;
    background-size:115/72rem 33/72rem;
}
.bxg-set-list ul li{
    margin-bottom:20/72rem;
    border: none;
}
.bxg-set-list,
.bxg-set-list ul li:first-child{
    background: none;
}
.bxg-set-list ul li:first-child{
    margin-bottom:0;
    height: 90/72rem;
    line-height: 90/72rem;
}
.bxg-set-list ul li span:first-child{
    margin-right: 20/72rem;
    width:130/72rem;
    text-align: right;
}
.bxg-verify{
    font-size:30/72rem;
    color: #8b8a8a;
}
input{
    height:50/72rem;
    font-size: 32/72rem;
    border: none;
}
.bxg-set-list i{
    display: none;
    width:55/72rem!important;
    height:33/72rem!important;
}
.active-eye{
    background-position:-60/72rem 0!important;
}
.bxg-submit{
    margin:80/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    color: #fff;
    font-size: 36/72rem;
    background: #12B7F5;
    border-radius:10/72rem ;
}
//.bxg-hint{
//  color:#999;
//  font-size: 30/72rem;
//  height:76/72rem;
//  line-height: 96/72rem;
//  margin-left:20/72rem;
//}
//
//.bxg-password-list ul li{
//  background: #fff;
//  margin-top:20/72rem;
//}
//.bxg-password ul{
//  margin-top:20/72rem;
//  
//}
//.bxg-password-list ul li a{
//  
//  height:96/72rem;
//  line-height: 96/72rem;
//  font-size: 36/72rem;
//  color: #333;
//
//}
//.bxg-password-list a > div {
//float: left;
//margin-left:20/72rem;
//
//}
//.bxg-password-icon {
//background: url(../images/password.png) no-repeat;
//background-size: 650/72rem 650/72rem;
//}
//.bxg-right-icon{
//  float:right!important;
//  margin-top:26/72rem;
//  width:60/72rem;
//  height:34/72rem;
//  background-position:-48/72rem 0;
//  margin-right:20/72rem;
// 
//}
//
//.bxg-password-x{
//  border:none;
//  color:#999;
//}
//input {
// border:none; 
//}
//
//.bxg-pass-word{
//  background: #fff;
//  margin-top:20/72rem;
//  font-size:36/72rem;
//  height:96/72rem;
//  line-height: 96/72rem;
//  padding-left:20/72rem;
//  color:#999;
//}
//#register{
//  background:#12B7F5;
//  width:100%;
//  height:96/72rem;
//  line-height: 96/72rem;
//  color:#fff;
//  font-size:36/72rem;
//}
