body{
    background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-audit{
    padding:30/72rem;
}
.audit-img{
    width:150/72rem;
    height:150/72rem;
    border:1px solid #F0F0F2;
}
.audit-img img{
    width:100%;
    height:100%;
}
.audit-info{
    width:490/72rem;
}
.audit-info>div{
    font-size: 26/72rem;
}
.audit-info>div:first-child{
    font-size: 30/72rem;
}
.audit-info>div:nth-child(2){
    margin: 30/72rem 0;
}
.audit-info>div span{
    color: #12B7F5;
}
.audit-progress{
    margin:20/72rem 80/72rem;
}

//进度条
.progress-line>div{
    width:50/72rem;
}
.circle{
    width: 50/72rem;
    height:50/72rem;
    border:1px solid #bababa;
    border-radius: 50%;
}
.circle>div{
    margin:6/72rem auto;
    width: 35/72rem;
    height:35/72rem;
    background: #bababa;
    border-radius: 50%;
}
.line{
    margin:0 auto;
    width:2px;
    height:120/72rem;
    background: #bababa;
}
.cirActive .circle{
    border:1px solid #12B7F5;
}
.cirActive .circle>div,
.cirActive .line{
    background: #12B7F5;
}

.progress-content{
    width:500/73rem;
    font-size: 30/72rem;
}
.progress-content>div{
    height: 50/72rem;
    line-height: 50/72rem;
}
.colorActive{
    color: #12B7F5;
}
.progress-content>div{
    margin-top:120/72rem;
}
.progress-content>div:first-child{
    margin-top:0;
}
