body {
  font-family: "微软雅黑";
  min-width: 320px;
  max-width: 960px;
  width:100%;
  height:100%;
  margin:0 auto;
  background: #ededed;
}
.bxg-head-detail{
    position: absolute;
    right:30/72rem;
    font-size:39/72rem;
    color: #fff;
}
.bxg-bg-white{
    background: #fff;
}
.bxg-content{
    width:100%;
    position: relative;
    margin-top:80/72rem;
}
.bxg-balance-icon{
    background: url(../images/balance_icon.png)no-repeat;
    background-size:300/72rem 230/72rem;
}
.bxg-balance{
    margin-bottom:10/72rem;
    width:100%;
    height:431/72rem;
    color: #fff;
    background-image:-webkit-linear-gradient(320deg, #006699, #00ccff);
    background-image:-moz-linear-gradient(320deg, #006699, #00ccff);
    background-image:linear-gradient(320deg,#006699, #00ccff);
}
.bxg-balance span{
    display: block;
}
.bxg-balance span:first-child{
    padding:84/72rem 0 90/72rem 45/72rem;
    font-size:42/72rem;
    color: #f1efef;
}
.bxg-balance span:nth-child(2){
    text-align: center;
    font-size:80/72rem;
}

//充值提现
.bxg-fun{
    width:100%;
    height:100/72rem;
    line-height: 100/72rem;
    background: #fff;
}
.bxg-fun li{
    float: left;
    width:50%;
    font-size:40/72rem;
    box-sizing: border-box;
}
.bxg-fun li:first-child{
    border-right: 1px solid #f0f0f2;
}
.bxg-fun li a{
    color: #333;
}
.bxg-fun li a i{
    float:left;
    display: block;
    margin:17/72rem 15/72rem 17/72rem 95/72rem;
    width:63/72rem;
    height:63/72rem;
}
.bxg-recharge{
    background-position:0 0;
}
.bxg-withdraw{
    background-position:-68/72rem 0;
}

.bxg-sever-title{
    width:100%;
    height:90/72rem;
    line-height: 90/72rem;
    font-size: 42/72rem;
    color: #636363;
    text-indent: 29/72rem;
}
.bxg-serve ul{
    background:#fff;
}
.bxg-serve ul li{
    padding:38/72rem 0 48/72rem;
    float: left;
    width:100%/3rem;
    border-bottom:1px solid #f0f0f2;

    border-right:1px solid #f0f0f2;
    box-sizing: border-box;
}
.bxg-serve ul li a{
    display: block;
    font-size:30/72rem;
    color: #535353;
    text-align: center;
}
.bxg-serve ul li a i{
    display: block;
    height:72/72rem;
    margin:0 auto 60/72rem;
}
.bxg-serve ul li:first-child i{
    width:97/72rem;
    background-position:-141/72rem 0;
}
.bxg-serve ul li:nth-child(2) i{
    width:51/72rem;
    background-position:-248.5/72rem 0;
}
.bxg-serve ul li:nth-child(3) i{
    width:63/72rem;
    background-position:0 -78/72rem;
}
.bxg-serve ul li:nth-child(4) i{
    width:64/72rem;
    background-position:-72/72rem -78/72rem;
}
.bxg-serve ul li:nth-child(5) i{
    width:77/72rem;
    background-position:-140/72rem -78/72rem;
}
.bxg-serve ul li:nth-child(6) i{
    width:82/72rem;
    background-position:-218/72rem -78/72rem;
}
.bxg-serve ul li:nth-child(7) i{
    width:78/72rem;
    background-position:0 -158/72rem;
}
.bxg-serve ul li:nth-child(8) i{
    width:79/72rem;
    background-position:-85/72rem -158/72rem;
}

.bxg-footer{
    margin-top:30/72rem;
    height:60/72rem;
    line-height: 60/72rem;
    font-size:27/72rem;
    text-align: center;
    background: #fff;
}