body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:90/72rem;
}
.add-card{
    position: absolute;
    top:27/72/2rem;
    right: 30/72rem;
    width: 53/72rem;
    height: 53/72rem;
    background-position:-217/72rem 0;
}
.card-list{
    margin-bottom: 60/72rem;
}
.bank-card{
    margin:10/72rem auto 0;
    padding:30/72rem 50/72rem;
    width: 662/72rem;
    height: 300/72rem;
    font-size: 30/72rem;
    color: #fff;
    background: #f25d5d;
    border-radius: 10/72rem;
}
.bank-card>div:first-child img{
    margin-right:20/72rem;
    float: left;
    width: 68/72rem;
    height: 68/72rem;
    border-radius: 50%;
    overflow: hidden;
}
.bank-card>div:first-child{
    line-height: 68/72rem;
}
.bank-card>div:nth-child(2){
    line-height: 100/72rem;
    font-size: 56/72rem;
    text-align: center;
}
.bank-card>div:nth-child(3){
    float: right;
    width: 130/72rem;
    height: 60/72rem;
    line-height: 60/72rem;
    text-align: center;
    color: #f25d5d;
    background: #fff;
    border-radius: 12/72rem;
}
.bxg-tip{
    position: fixed;
    bottom: 0;
    margin-top:300/72rem;
    width: 10rem;
    height: 50/72rem;
    line-height: 50/72rem;
    font-size: 26/72rem;
    text-align: center;
    color: #12B7F5;
    background: #F0F0F2;
}
