body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300/64/2rem;
    margin-top:-0.8/2rem;
    width:300/64rem;
    height:0.8rem;
    line-height: 0.8rem;
    font-size:26/64rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 8/64rem;
}
.card-tip{
    padding:0 30/72rem;
    height: 60/72rem;
    line-height: 60/72rem;
    font-size: 30/72rem;
    color: #848282;
}
.card-info ul li{
    padding:0 30/72rem;
    height: 100/72rem;
    line-height: 100/72rem;
    font-size: 28/72rem;
    color: #333;
    background: #fff;
    border-top:1px solid #F0F0F2;
}
.card-info ul li:first-child{
    border-top: none;
}
.card-info ul{
    margin-bottom: 20/72rem;
}
.card-info ul li span{
    width: 150/72rem;
}
.card-info ul li input{
    width: 500/72rem;
    font-size: 28/72rem;
    border: none;
}
.card-info ul li>div{
    float: left;
    margin-right: 15/72rem;
}
.card-info ul li>div:first-child{
    margin-top:32/72rem;
    width: 36/72rem;
    height: 36/72rem;
    border-radius:50%;
    overflow: hidden;
}
.card-info ul li>div:first-child img{
    display: block;
    width: 100%;
    height: 100%;
}
.card-info ul li>div:last-child{
    font-size: 24/72rem;
    color: #888;
}
.bxg-tip{
    padding:0 30/72rem;
    font-size: 28/72rem;
    color: #767676;
}
.bxg-tip a{
    color: #12B7F5;
}
.bxg-submit{
    margin:50/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    font-size: 36/72rem;
    color: #fff;
    background: #12B7F5;
    border-radius:10/72rem ;
}