body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}

.bill-user{
    padding-top:54/72rem;
}
.user-info{
    margin:0 auto;
    display: table;
}
.user-info>div{
    float: left;
}
.user-img{
    margin-right: 20/72rem;
    width: 76/72rem;
    height: 76/72rem;
    border-radius: 50%;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    height: 100%;
}
.user-name{
    font-size: 30/72rem;
    line-height: 76/72rem;
}
.bill-price{
    margin: 25/72rem 0;
    font-size: 40/72rem;
    text-align: center;
}
.bill-status{
    font-size: 30/72rem;
    color: #999;
    text-align: center;
}
.bill-content{
    margin-top:30/72rem;
}
.bill-content ul li{
    padding:0 30/72rem;
    font-size: 26/72rem;
    height: 60/72rem;
    line-height: 60/72rem;
}
.bill-content ul li span:first-child{
    color: #999;
}
