body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}

.month-day{
    padding:0 30/72rem;
    height: 75/72rem;
    line-height: 75/72rem;
    font-size: 34/72rem;
}
.bill-month ul li{
    padding:15/72rem 30/72rem;
    background: #fff;
    border-top:1px solid #F0F0F2;
}
.bill-month ul li:first-child{
    border-top:0;
}
.user-img{
    width: 76/72rem;
    height: 76/72rem;
    border-radius: 50%;
    overflow: hidden;
}
.user-img img{
    width: 100%;
    height: 100%;
}
.bill-info{
    width: 554/72rem;
    font-size: 28/72rem;
    color: #333;
    line-height: 76/72/2rem;
}
.bill-info>div:last-child{
    font-size: 26/72rem;
    color: #a7a7a7;
}
