body{
    background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300/64/2rem;
    margin-top:-0.8/2rem;
    width:300/64rem;
    height:0.8rem;
    line-height: 0.8rem;
    font-size:26/64rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 8/64rem;
}
.bxg-mobile-head{
    padding:20/72rem;
    font-size: 30/72rem;
    text-align: center;
    background: #fff;
}
.bxg-mobile-bg{
    margin:0 auto;
    width:182/72rem;
    height:232/72rem;
    background: url(../images/binding_mobile.png)no-repeat;
    background-size: 182/72rem 232/72rem;
}
.bxg-mobile-head>div:nth-child(2){
    margin:30/72rem 0 15/72rem;
    color: #7a7a7a;
}
.bxg-submit{
    margin:80/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    font-size: 36/72rem;
    color: #fff;
    background: #12B7F5;
    border-radius:10/72rem ;
}
.bxg-submit a{
    display: block;
    color: #fff;
}
.bxg-binding-tip{
    padding:20/72rem 30/72rem;
    line-height:40/72rem;
    font-size:30/72rem;
    color:#bfbfbf;
}

//新手机号
.new-mobile>div:first-child{
    padding:0 30/72rem;
    height:70/72rem;
    line-height: 70/72rem;
    font-size: 30/72rem;
    color: #b6b5b5;
}
.new-mobile .inp-new-mobile{
    padding:0 30/72rem;
    height: 100/72rem;
    line-height: 100/72rem;
    font-size: 32/72rem;
    background: #fff;
}
.inp-new-mobile input{
    width: 480/72rem;
    font-size: 32/72rem;
    border: none;
}
