body{
    background:#F0F0F2;
}
.bxg-content {
  position: relative;
  margin-top: 80/72rem;
}
.bxg-vip-icon{
    background: url(../images/bxvip_icon.png)no-repeat;
    background-size:172/72rem 48/72rem;
}
.bxg-vip-info{
    padding-top:22/72rem;
    width:10em;
    height:280/72rem;
    background: url(../images/bxvip_bg.png)no-repeat;
    background-size: 10em 280/72rem;
}

.bxg-vip-info>div{
    float: left;
}
//头像
.bxg-vip-head{
    position: relative;
    margin:0 0 0 37/72rem;
    width:136/72rem;
    height:136/72rem;
    border-radius:50%;
}
.bxg-vip-head img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.bxg-vip-head .vip-status{
    position: absolute;
    top:0;
    right:0;
    width:46/72rem;
    height:42/72rem;
    line-height:42/72rem;
    color: #fff;
    font-size: 24/72rem;
    text-indent: 10/72rem;
    border: 1px solid #fff;
    border-radius:50% ;
    background: #000;
}
.bxg-vip-head .vip-adorn{
    position: absolute;
    top:133/72rem;
    left:50%;
    margin-left:-38/72/2rem;
    width:41/72rem;
    height:48/72rem;
    background-position:0 0;
}
.bxg-vip-grade{
    margin-left:30/72rem;
    width:517/72rem;
}
.bxg-vip-grade>div:first-child{
    height:80/72rem;
    line-height: 80/72rem;
    font-size: 30/72rem;
    color: #ffac28;
}
.bxg-vip-grade .vip-user{
    color: #ffac28;
}
.bxg-vip-grade .vip-user span:first-child{
   color: #fff;
}
.bxg-vip-grade .vip-user i{
    display: inline-block;
    width:14/72rem;
    height:27/72rem;
    background-position:-101/72rem 3/72rem;
}
.bxg-vip-grade .user-sign{
    margin-top:10/72rem;
    float: right;
    width:124/72rem;
    height:35/72rem;
    line-height:38/72rem;
    font-size: 22/72rem;
    color: #333;
    background: #f2f2f2;
    border-top-left-radius: 10/72rem;
    border-bottom-left-radius: 10/72rem;
}
.bxg-vip-grade .user-sign i{
    float: left;
    margin:12/72/2rem;
    display:block;
    width:26/72rem;
    height:25/72rem;
    background-position:-44/72rem 0;
}
.bxg-vip-grade .vip-grade{
    padding-top:30/72rem;
    font-size: 26/72rem;
    color: #ffac28;
}
.vip-grade span{
    display: block;
    float: left;
}
.vip-grade span:first-child{
    margin-top:6.5/72rem;
    width:13/72rem;
    height:13/72rem;
    background: #fff;
    border-radius:50% ;
}
.vip-grade span:nth-child(2){
    margin-right:10/72rem;
    margin-top:20/72/2rem;
    width: 330/72rem;
    height:6/72rem;
    background: #ffac28;
}
.vip-grade-tip{
    margin-top: 45/72rem;
}
.vip-grade-tip a{
    display: block;
    font-size: 26/72rem;
    color: #ffac28;
}
.vip-grade-tip a:nth-child(2){
     color: #fff;
     text-align: right;
}
.vip-grade-tip a:first-child span{
    float: left;
    margin-right:10/72rem;
}
.vip-grade-tip a:first-child i{
    margin-top:-3/72rem;
    float: left;
    display: block;
    width:26/72rem;
    height:30/72rem;
    background-position:-72/72rem 0;
}
.vip-grade-tip a:nth-child(2) i{
    float: right;
    margin-right:20/72rem;
    display: block;
    width:14/72rem;
    height:27/72rem;
    background-position:-101/72rem 0;
}
.vip-title{
    padding:0 30/72rem;
    height:100/72rem;
    line-height: 100/72rem;
    font-size: 36/72rem;
    background: #fff;
    border-bottom: 1px solid #F0F0F2;
}
.vip-title a{
    display: block;
    color: #333;
}
.vip-title a i{
    margin-top:20/72rem;
    margin-right:20/72rem;
    float: left;
    display: block;
    width:54/72rem;
    height:49/72rem;
    background-position:-118/72rem 0;
}
.vip-title a span:nth-of-type(2){
    margin-top:32/72rem;
    float: right;
    width:14/72rem;
    height:27/72rem;
    background-position:-101/72rem 3/72rem;
}
.vip-title a span:nth-of-type(3){
    margin-right: 10/72rem;
    float: right;
    font-size: 26/72rem;
}

.vip-equity-list{
    width:100%;
    background: #fff;
}
.vip-equity-icon{
    background:url(../images/bx_vip.png)no-repeat;
    background-size:800/72rem 97/72rem;
}
.vip-equity-list ul{
    padding-bottom:30/72rem;
}

.vip-equity-list ul li{
    margin-top: 30/72rem;
    float: left;
    width:10/4rem;
}
.vip-equity-list ul li a{
    font-size: 28/72rem;
    color: #333;
    text-align: center;
}
.vip-equity-list ul li a i{
    margin: 0 auto;
    display: block;
    width:97/72rem;
    height:97/72rem;
    border-radius:50%;
}
.vip-equity-list ul li:first-child a i{
    background-position:0 0;
}
.vip-equity-list ul li:nth-child(2) a i{
    background-position:-100/72rem 0;
}
.vip-equity-list ul li:nth-child(3) a i{
    background-position:-200/72rem 0;
}
.vip-equity-list ul li:nth-child(4) a i{
    background-position:-300/72rem 0;
}
.vip-equity-list ul li:nth-child(5) a i{
    background-position:-400/72rem 0;
}
.vip-equity-list ul li:nth-child(6) a i{
    background-position:-500/72rem 0;
}
.vip-equity-list ul li:nth-child(7) a i{
    background-position:-600/72rem 0;
}


.vip-equity-list ul li a span{
    margin-top:30/72rem;
    display: block;
}

//会员推荐
.bxg-vip-recom .vip-title{
    margin:20/72rem 0;
} 
.bxg-vip-recom .vip-recom-list ul{
    padding:0 15/72rem;
}
.bxg-vip-recom .vip-recom-list ul li{
    margin-right:10/72rem;
    float: left;
    width:340/72rem;
    height:175/72rem;
    border-radius: 10/72rem;
}
.bxg-vip-recom .vip-recom-list ul li:last-child{
    margin-right: 0;
}
.bxg-vip-recom .vip-recom-list ul li a img{
    display: block;
    width:100%;
    height:100%;
}
.bxg-vip-exchange .vip-recom-list ul li{
    height:408/72rem;
}
.bxg-vip-exchange{
    margin-bottom: 20/72rem;
}