body {
    background: #f0f0f2;
}
.bxg-content {
    width: 100%;
    position: relative;
    margin-top: 80/72rem;
}
.tabs {
    height: 83/72rem;
    width: 100%;
    background: #ffffff;
    font-size: 36/72rem;
    color: #8b8b8b;
}
.tabs > a {
    text-align: center;
    line-height: 83/72rem;
    height: 83/72rem;
    width: 50%;
    float: left;
    text-decoration: none;
    color: #8b8b8b;
}
.tabs a.active{
    color:#12B7F5;
    border-bottom:1px solid #12B7F5;
    box-sizing: border-box;
}
.swiper-slide {
    width: 100%;
}
.nums {
    width: 90%;
    //   background: red;
    margin: 20/72rem auto;

}

.nums > img {
    height: 167/72rem;
    width: 167/72rem;
    border-radius: 83/72rem;
    display: block;
    margin: 30/72rem auto;

}
.nums > p {
    font-size: 30/72rem;
    color: #12b7f5;
    text-align: center;
}
.bxg-card {
    height: 325/72rem;
    width: 100%;
    background: url("../images/ka1.png");
    background-size: 100% 100%;
    color: #2f2f2f;
}
.bxg-card > div:nth-child(1) {
    height: 60/72rem;
    line-height: 80/72rem;
    font-size: 30/72rem;
    margin-left: 45/72rem;
}
.bxg-card > div:nth-child(2) {
    height: 265/72rem;
    line-height: 70/72rem;
    font-size: 30/72rem;

}
.bxg-card-left {
    width: 60%;
    height: 265/72rem;
    float: left;
    font-size: 27/72rem;
}
.bxg-card-left > p {
    margin-left: 45/72rem;
}
.bxg-card-right {
    width: 40%;
    height: 225/72rem;
    float: right;
    text-align: center;
    padding-top: 40/72rem;

}
.bxg-card-right > p > span {
    font-size: 39/72rem;
    color: #2f2f2f;
}
.bxg-card2 {
    height: 325/72rem;
    width: 100%;
    background: url("../images/ka2.png");
    background-size: 100% 100%;
    color: #2f2f2f;
    position: relative;
    overflow: hidden;

}
.bxg-card2 > div:nth-child(1) {
    height: 55/72rem;
    font-size: 30/72rem;
    color: #ffffff;

}
.bxg-card2 > div:nth-child(2) {
    height: 130/72rem;
    text-align: center;
    line-height: 160/72rem;
    font-size: 27/72rem;
    color: #ffffff;
}
.bxg-card2 > div > p > span {
    font-size: 39/72rem;
}
.bxg-card2 > div:nth-child(3) {
    height: 140/72rem;
}
.bxg-card2 > div:nth-child(3) > p {
    float: left;
    width: 33%;
    height: 140/72rem;
    font-size: 27/72rem;
    color: #ffffff;
    text-align: center;
    line-height: 60/72rem;
    margin-top: 20/72rem;
}
.used {
    height: 150/72rem;
    width: 150/72rem;
    border-radius: 83/72rem;
    background: red;
    position: absolute;
    top: 200/72rem;
    left: 530/72rem;
    background: url(../images/used.png)no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;

}
.overdue {
    height: 150/72rem;
    width: 150/72rem;
    border-radius: 83/72rem;
    background: red;
    position: absolute;
    top: 200/72rem;
    left: 530/72rem;
    background: url("../images/overdue.png") no-repeat;
    background-size: 100% 100%;
    opacity: 0.6;

}
.bxg-card2 {
    height: 325/72rem;
    width: 100%;
    background: url("../images/ka3.png");
    background-size: 100% 100%;
    color: #2f2f2f;
    position: relative;
    overflow: hidden;

}
