body {
  background: #f0f0f2;
}
.bxg-content {
  width: 100%;
  position: relative;
  margin-top: 1.11111111rem;
}
.tabs {
  height: 1.15277778rem;
  width: 100%;
  background: #ffffff;
  font-size: 0.5rem;
  color: #8b8b8b;
}
.tabs > a {
  text-align: center;
  line-height: 1.15277778rem;
  height: 1.15277778rem;
  width: 50%;
  float: left;
  text-decoration: none;
  color: #8b8b8b;
}
.tabs a.active {
  color: #12B7F5;
  border-bottom: 1px solid #12B7F5;
  box-sizing: border-box;
}
.swiper-slide {
  width: 100%;
}
.nums {
  width: 90%;
  margin: 0.27777778rem auto;
}
.nums > img {
  height: 2.31944444rem;
  width: 2.31944444rem;
  border-radius: 1.15277778rem;
  display: block;
  margin: 0.41666667rem auto;
}
.nums > p {
  font-size: 0.41666667rem;
  color: #12b7f5;
  text-align: center;
}
.bxg-card {
  height: 4.51388889rem;
  width: 100%;
  background: url("../images/ka1.png");
  background-size: 100% 100%;
  color: #2f2f2f;
}
.bxg-card > div:nth-child(1) {
  height: 0.83333333rem;
  line-height: 1.11111111rem;
  font-size: 0.41666667rem;
  margin-left: 0.625rem;
}
.bxg-card > div:nth-child(2) {
  height: 3.68055556rem;
  line-height: 0.97222222rem;
  font-size: 0.41666667rem;
}
.bxg-card-left {
  width: 60%;
  height: 3.68055556rem;
  float: left;
  font-size: 0.375rem;
}
.bxg-card-left > p {
  margin-left: 0.625rem;
}
.bxg-card-right {
  width: 40%;
  height: 3.125rem;
  float: right;
  text-align: center;
  padding-top: 0.55555556rem;
}
.bxg-card-right > p > span {
  font-size: 0.54166667rem;
  color: #2f2f2f;
}
.bxg-card2 {
  height: 4.51388889rem;
  width: 100%;
  background: url("../images/ka2.png");
  background-size: 100% 100%;
  color: #2f2f2f;
  position: relative;
  overflow: hidden;
}
.bxg-card2 > div:nth-child(1) {
  height: 0.76388889rem;
  font-size: 0.41666667rem;
  color: #ffffff;
}
.bxg-card2 > div:nth-child(2) {
  height: 1.80555556rem;
  text-align: center;
  line-height: 2.22222222rem;
  font-size: 0.375rem;
  color: #ffffff;
}
.bxg-card2 > div > p > span {
  font-size: 0.54166667rem;
}
.bxg-card2 > div:nth-child(3) {
  height: 1.94444444rem;
}
.bxg-card2 > div:nth-child(3) > p {
  float: left;
  width: 33%;
  height: 1.94444444rem;
  font-size: 0.375rem;
  color: #ffffff;
  text-align: center;
  line-height: 0.83333333rem;
  margin-top: 0.27777778rem;
}
.used {
  height: 2.08333333rem;
  width: 2.08333333rem;
  border-radius: 1.15277778rem;
  background: red;
  position: absolute;
  top: 2.77777778rem;
  left: 7.36111111rem;
  background: url(../images/used.png) no-repeat;
  background-size: 100% 100%;
  opacity: 0.8;
}
.overdue {
  height: 2.08333333rem;
  width: 2.08333333rem;
  border-radius: 1.15277778rem;
  background: red;
  position: absolute;
  top: 2.77777778rem;
  left: 7.36111111rem;
  background: url("../images/overdue.png") no-repeat;
  background-size: 100% 100%;
  opacity: 0.6;
}
.bxg-card2 {
  height: 4.51388889rem;
  width: 100%;
  background: url("../images/ka3.png");
  background-size: 100% 100%;
  color: #2f2f2f;
  position: relative;
  overflow: hidden;
}
