body {
    background: #f0f0f2;
}
//内容开始
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    overflow: hidden;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-collection-icon{
    background: url(../images/collection_icon.png)no-repeat;
    background-size:123/72rem 53/72rem;
}
.head-list-content{
    display: none;
    position: fixed;
    top:80/72rem;
    right:0;
    width:240/72rem;
    background: rgba(0,0,0,0.5);
}
.head-list-content li a{
    font-size: 36/72rem;
    color: #fff;
}
.head-list-content li:first-child{
    position: relative;
}
.head-list-content li:first-child b{
    position: absolute;
    top:25/72rem;
    right:20/72rem;
    display: block;
    width:34/72rem;
    height:34/72rem;
    line-height: 34/72rem;
    text-align: center;
    font-size: 20/72rem;
    border-radius:50%;
    background: red;
}
.head-list-content li:nth-child(2){
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,0.5);
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.head-list-content li i{
    float: left;
    display: block;
    margin:23/72rem -50/72rem 23/72rem 40/72rem;
    width:38/72rem;
    height:38/72rem;
}
.head-list-content li .news-icon{
    background-position:0 0;
}
.head-list-content li .index-icon{
    background-position:-40/72rem 0;
}
.head-list-content li .delete-icon{
    background-position:-80/72rem 0;
}
//点击清空的弹出框
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}
.bxg-delete{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-140/72rem;
    margin-left:-275/72rem;
    width:550/72rem;
    height:280/72rem;
    font-size: 34/72rem;
    text-align: center;
    background: #fff;
    border-radius: 10/72rem;
    overflow: hidden;
}
.bxg-delete .bxg-tip{
    height: 200/72rem;
    line-height: 200/72rem;
}
.bxg-delete .bxg-btn {
    border-top:1px solid #eee;
}
.bxg-delete .bxg-btn span{
    display: block;
    float: left;
    width: 100%/2;
    height: 80/72rem;
    color: #888;
    line-height: 80/72rem;
}
.bxg-delete .bxg-btn span:first-child{
    color: #fff;
    background: #12B7F5;
}
//内容
.bxg-content .bxg-day {
    background: #ffffff;
    margin:10/72rem 0;
    height: 80/72rem;
    display: block;
    font-size:30/72rem;
    color: #888;
    line-height: 80/72rem;
    text-indent: 35/72rem;
}

//修改
.bxg-goods-list ul li{
    position: relative;
    margin-bottom: 10/72rem;
    width: 710/72/2rem!important;
}
.bxg-goods-list ul li>a>img{
    width: 710/72/2rem!important;
    height: 710/72/2rem!important;
}
.bxg-goods-list .bxg-goods-price{
    margin-top:15/72rem;
    padding:18/72rem 0 4/72rem;
    border-top:1px dashed #CCCCCC;
}
.bxg-goods-list ul li:nth-child(2n+1){
    margin-right: 10/72rem!important;
}
.bxg-goods-list ul li .goods-list-btn{
    margin-top:3/72rem;
    margin-right:10/72rem;
    width: 3/72rem;
    height:26/72rem;
    background-position:-120/72rem 2/72rem;
    transform:scale(2,1.5);
    -ms-transform:scale(2,1.5);  
    -moz-transform:scale(2,1.5);   
    -webkit-transform:scale(2,1.5);
    -o-transform:scale(2,1.5); 
}
.bxg-goods-list ul li .bxg-goods-price span:first-child{
    color: #ff6100;
}
//猜你喜欢
.bxg-guesslike{
    width:100%;
}
.bxg-guesslike-title{
    margin:30/72rem auto;
    width:300/72rem;
    font-size:26/72rem;
    color: #333;
    text-align: center;
}
.bxg-guesslike-title span{
    margin-top:13/72/2rem;
    display: block;
    width:41/72rem;
    height:13/72rem;
    background-position:0 -40/72rem;
}
.bxg-guesslike-title span:first-child{
    float: left;
}
.bxg-guesslike-title span:last-child{
    float: right;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);  
    -moz-transform:rotate(180deg);   
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg); 
}

//选择
.bxg-bob{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 0;
    -webkit-animation: bob 0.5s ease;
    -moz-animation: bob 0.5s ease;
    -o-animation: bob 0.5s ease;
    animation: bob 0.5s ease;
}
.bxg-bob > div{
    position: absolute;
    display: block;
    top:50%;
    left:50%;
    margin-left:-55/72rem;
    width:110/72rem;
    height:110/72rem;
    line-height: 110/72rem;
    font-size: 24/72rem;
    text-align: center;
    border-radius: 50%;
}
.bxg-bob > div:first-child{
    margin-top:-130/72rem!important;
    background-image:-webkit-linear-gradient(0deg, #f6d265,#fd7167); 
    background-image:linear-gradient(0deg,#f6d265,#fd7167);
    -webkit-animation: bob-similar 0.5s ease;
    -moz-animation: bob-similar 0.5s ease;
    -o-animation: bob-similar 0.5s ease;
    animation: bob-similar 0.5s ease;
}
.bxg-bob > div:last-child{
    margin-top:20/72rem;
    background-image:-webkit-linear-gradient(0deg, #f8c2eb, #a8c1ee); 
    background-image:linear-gradient(0deg,#f8c2eb, #a8c1ee);
    -webkit-animation: bob-cancel 0.5s ease;
    -moz-animation: bob-cancel 0.5s ease;
    -o-animation: bob-cancel 0.5s ease;
    animation: bob-cancel 0.5s ease;
}
//动画
@-webkit-keyframes bob {
    0%{border-radius: 180/72rem;}
    100%{border-radius: 0;}
}
@-moz-keyframes bob {
    0%{border-radius: 180/72rem;}
    100%{border-radius: 0;}
}
@-ms-keyframes bob {
    0%{border-radius: 180/72rem;}
    100%{border-radius: 0;}
}
@keyframes bob{
    0%{border-radius: 180/72rem;}
    100%{border-radius: 0;}       
}

@-webkit-keyframes bob-similar {
    0%{margin-top: -55/72rem;}
    80%{margin-top:-150/72rem;}
    100%{margin-top:-130/72rem;}
}
@-moz-keyframes bob-similar {
    0%{margin-top: -55/72rem;}
    80%{margin-top:-150/72rem;}
    100%{margin-top:-130/72rem;}
}
@-ms-keyframes bob-similar {
    0%{margin-top: -55/72rem;}
    80%{margin-top:-150/72rem;}
    100%{margin-top:-130/72rem;}
}
@keyframes bob-similar{
    0%{margin-top: -55/72rem;}
    80%{margin-top:-150/72rem;}
    100%{margin-top:-130/72rem;}       
}

@-webkit-keyframes bob-cancel {
    0%{margin-top: -55/72rem;}
    80%{margin-top:40/72rem;}
    100%{margin-top:20/72rem;}
}
@-moz-keyframes bob-cancel {
    0%{margin-top: -55/72rem;}
    80%{margin-top:40/72rem;}
    100%{margin-top:20/72rem;}
}
@-ms-keyframes bob-cancel {
    0%{margin-top: -55/72rem;}
    80%{margin-top:40/72rem;}
    100%{margin-top:20/72rem;}
}
@keyframes bob-cancel{
    0%{margin-top: -55/72rem;}
    80%{margin-top:40/72rem;}
    100%{margin-top:20/72rem;}       
}