body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
  overflow: hidden;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-alert-tip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.bxg-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.94444444rem;
  margin-left: -3.81944444rem;
  width: 7.63888889rem;
  height: 3.88888889rem;
  font-size: 0.47222222rem;
  text-align: center;
  background: #fff;
  border-radius: 0.13888889rem;
  overflow: hidden;
}
.bxg-delete .bxg-tip {
  height: 2.77777778rem;
  line-height: 2.77777778rem;
}
.bxg-delete .bxg-btn {
  border-top: 1px solid #eee;
}
.bxg-delete .bxg-btn span {
  display: block;
  float: left;
  width: 50%;
  height: 1.11111111rem;
  color: #888;
  line-height: 1.11111111rem;
}
.bxg-delete .bxg-btn span:first-child {
  color: #fff;
  background: #12B7F5;
}
.bxg-content .bxg-day {
  background: #ffffff;
  margin: 0.13888889rem 0;
  height: 1.11111111rem;
  display: block;
  font-size: 0.41666667rem;
  color: #888;
  line-height: 1.11111111rem;
  text-indent: 0.48611111rem;
}
.bxg-goods-list ul li {
  position: relative;
  margin-bottom: 0.13888889rem;
  width: 4.93055556rem !important;
}
.bxg-goods-list ul li > a > img {
  width: 4.93055556rem !important;
  height: 4.93055556rem !important;
}
.bxg-goods-list .bxg-goods-price {
  margin-top: 0.20833333rem;
  padding: 0.25rem 0 0.05555556rem;
  border-top: 1px dashed #CCCCCC;
}
.bxg-goods-list ul li:nth-child(2n+1) {
  margin-right: 0.13888889rem !important;
}
.bxg-goods-list ul li .goods-list-btn {
  margin-top: 0.04166667rem;
  margin-right: 0.13888889rem;
  width: 0.04166667rem;
  height: 0.36111111rem;
  background-position: -1.66666667rem 0.02777778rem;
  transform: scale(2, 1.5);
  -ms-transform: scale(2, 1.5);
  -moz-transform: scale(2, 1.5);
  -webkit-transform: scale(2, 1.5);
  -o-transform: scale(2, 1.5);
}
.bxg-goods-list ul li .bxg-goods-price span:first-child {
  color: #ff6100;
}
.bxg-guesslike {
  width: 100%;
}
.bxg-guesslike-title {
  margin: 0.41666667rem auto;
  width: 4.16666667rem;
  font-size: 0.36111111rem;
  color: #333;
  text-align: center;
}
.bxg-guesslike-title span {
  margin-top: 0.09027778rem;
  display: block;
  width: 0.56944444rem;
  height: 0.18055556rem;
  background-position: 0 -0.55555556rem;
}
.bxg-guesslike-title span:first-child {
  float: left;
}
.bxg-guesslike-title span:last-child {
  float: right;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.bxg-bob {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 0;
  -webkit-animation: bob 0.5s ease;
  -moz-animation: bob 0.5s ease;
  -o-animation: bob 0.5s ease;
  animation: bob 0.5s ease;
}
.bxg-bob > div {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -0.76388889rem;
  width: 1.52777778rem;
  height: 1.52777778rem;
  line-height: 1.52777778rem;
  font-size: 0.33333333rem;
  text-align: center;
  border-radius: 50%;
}
.bxg-bob > div:first-child {
  margin-top: -1.80555556rem !important;
  background-image: -webkit-linear-gradient(0deg, #f6d265, #fd7167);
  background-image: linear-gradient(0deg, #f6d265, #fd7167);
  -webkit-animation: bob-similar 0.5s ease;
  -moz-animation: bob-similar 0.5s ease;
  -o-animation: bob-similar 0.5s ease;
  animation: bob-similar 0.5s ease;
}
.bxg-bob > div:last-child {
  margin-top: 0.27777778rem;
  background-image: -webkit-linear-gradient(0deg, #f8c2eb, #a8c1ee);
  background-image: linear-gradient(0deg, #f8c2eb, #a8c1ee);
  -webkit-animation: bob-cancel 0.5s ease;
  -moz-animation: bob-cancel 0.5s ease;
  -o-animation: bob-cancel 0.5s ease;
  animation: bob-cancel 0.5s ease;
}
@-webkit-keyframes bob {
  0% {
    border-radius: 2.5rem;
  }
  100% {
    border-radius: 0;
  }
}
@-moz-keyframes bob {
  0% {
    border-radius: 2.5rem;
  }
  100% {
    border-radius: 0;
  }
}
@-ms-keyframes bob {
  0% {
    border-radius: 2.5rem;
  }
  100% {
    border-radius: 0;
  }
}
@keyframes bob {
  0% {
    border-radius: 2.5rem;
  }
  100% {
    border-radius: 0;
  }
}
@-webkit-keyframes bob-similar {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: -2.08333333rem;
  }
  100% {
    margin-top: -1.80555556rem;
  }
}
@-moz-keyframes bob-similar {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: -2.08333333rem;
  }
  100% {
    margin-top: -1.80555556rem;
  }
}
@-ms-keyframes bob-similar {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: -2.08333333rem;
  }
  100% {
    margin-top: -1.80555556rem;
  }
}
@keyframes bob-similar {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: -2.08333333rem;
  }
  100% {
    margin-top: -1.80555556rem;
  }
}
@-webkit-keyframes bob-cancel {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: 0.55555556rem;
  }
  100% {
    margin-top: 0.27777778rem;
  }
}
@-moz-keyframes bob-cancel {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: 0.55555556rem;
  }
  100% {
    margin-top: 0.27777778rem;
  }
}
@-ms-keyframes bob-cancel {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: 0.55555556rem;
  }
  100% {
    margin-top: 0.27777778rem;
  }
}
@keyframes bob-cancel {
  0% {
    margin-top: -0.76388889rem;
  }
  80% {
    margin-top: 0.55555556rem;
  }
  100% {
    margin-top: 0.27777778rem;
  }
}
