body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-alert-tip {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -2.34375rem;
  margin-top: -0.4rem;
  width: 4.6875rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.40625rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.125rem;
}
.bxg-commonweal-icon {
  background: url(../images/commonweal_icon.png) no-repeat;
  background-size: 1.47222222rem 0.86111111rem;
}
.bxg-commonweal-banner {
  width: 10rem;
  height: 6.38888889rem;
}
.bxg-commonweal-banner img {
  display: block;
  width: 100%;
  height: 100%;
}
.love-search {
  margin: 0.30555556rem 0;
  padding: 0 0.41666667rem;
  height: 0.97222222rem;
  line-height: 0.97222222rem;
  color: #8b8b8b;
  font-size: 0.48611111rem;
}
.love-search span,
.love-search input {
  float: left;
}
.love-search input {
  margin: 0 0.25rem;
  width: 6.55555556rem;
  height: 0.94444444rem;
  font-size: 0.41666667rem;
  text-indent: 0.27777778rem;
  border: none;
  box-shadow: 0 0 0.04166667rem 0.04166667rem rgba(200, 200, 200, 0.8) inset;
}
.love-search span:last-child {
  margin-top: 0.05555556rem;
  width: 0.86111111rem;
  height: 0.86111111rem;
  background-position: 0 0 ;
}
.more-project {
  margin: 0 auto;
  width: 4.16666667rem;
  font-size: 0.52777778rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
}
.more-project a {
  font-size: 0.5rem;
  color: #333333;
}
.more-project a span,
.more-project i {
  display: block;
  float: left;
}
.more-project i {
  margin-top: 0.34722222rem;
  margin-left: 0.20833333rem;
  width: 0.52777778rem;
  height: 0.52777778rem;
  background-position: -0.94444444rem 0;
}
.new-project-list {
  margin: 0 auto;
  width: 9.58333333rem;
  overflow: hidden;
}
.new-project .swiper-slide {
  width: 3.75rem;
  height: 5.55555556rem;
  margin-right: 0.13888889rem;
}
.new-project .swiper-slide a,
.new-project .swiper-slide a img {
  display: block;
  width: 100%;
  height: 100%;
}
