body{
    background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 80/72rem;
}
.bxg-banner{
    width:10rem;
    height:532/72rem;
}
.bxg-banner img{
    width: 100%;
    height: 100%;
}
.approval-query{
    padding:35/72rem 0;
    font-size: 40/72rem;
    text-align: center;
    background: #fff;
}
.approval-query>div:first-child{
    margin-bottom: 35/72rem;
    color: #707070;
}
.approval-query>div input{
    margin:0 auto;
    width:638/72rem;
    height:70/72rem;
    border-radius:10/72rem ;
    border: 2px solid #f0f0f2;
    box-sizing: border-box;
}
.query-btn{
    margin:53/72rem auto 0;
    width:250/72rem;
    height:82/72rem;
    line-height: 82/72rem;
    text-align: center;
    font-size: 38/72rem;
    color: #fff;
    background: #12B7F5;
    border-radius: 10/72rem;
}
//合作流程
.process-title{
    height:108/72rem;
    line-height: 108/72rem;
    text-align: center;
    font-size: 36/72rem;
    color: #333;
}
.process-img{
    width: 10rem;
    height:415/72rem;
}
.process-img img{
    widows: 100%;
    height:100%;
}
.process-info{
    padding:30/72rem 27/72rem;
    font-size: 30/72rem;
    line-height:40/72rem;
    color: #707070;
}
