body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}

.bxg-evaluate-success{
    text-align: center;
}
.evaluate-success-bj{
    width:10rem;
    height:227/72rem;
    background: url(../images/evaluate_success.png)no-repeat;
    background-size:10rem 227/72rem ;
}
.bxg-evaluate-success p{
    margin:42/72rem 0 0;
    font-size: 42/72rem;
    color: #fa6678;
}
.bxg-evaluate-success span{
    font-size: 26/72rem;
    color:#878787;
}
.evaluate-btn{
    margin:20/72rem auto;
    display: table;
}
.evaluate-btn a{
    display: inline-block;
    width:294/72rem;
    height:84/72rem;
    line-height:84/72rem;
    font-size: 40/72rem;
    color: #12B7F5;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 10/72rem;
    box-sizing: border-box;
}
.evaluate-btn a:nth-child(2){
    margin-left:40/72rem;
    color: #fff;
    background: #12B7F5;
    border: none;
}
.bxg-guesslike-title{
    margin:20/72rem auto;
    display: table;
    font-size: 40/72rem;
    color: #333;
}

.bxg-goods-list ul li{
    width:715/72/2rem;
}
.bxg-goods-list ul li img{
    width:715/72/2rem!important;
    height:715/72/2rem!important;
}
