body{
    background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.evaluate-icon{
    background: url(../images/evaluate_icon.png)no-repeat;
    background-size:100/72rem 95/72rem;
}
.evaluate-publish{
    position: absolute;
    right:30/72rem;
    font-size: 30/72rem;
}
.evaluate-list{
    margin-bottom:20/72rem;
    background: #fff;
}
.evaluate-title{
    padding:20/72rem;
}
.evaluate-title>div{
    float: left;
}
.goods-img{
    width: 124/72rem;
    height: 124/72rem;
}
.goods-img img{
    width: 100%;
    height:100%;
}
.goods-describe{
    margin-left:10/72rem;
    font-size: 30/72rem;
    line-height: 124/72rem;
}
.goods-describe>div{
    float: left;
}
.goods-describe .bxg-stars span{
    margin-top:86/72/2rem;
    margin-left:10/72rem;
    float: left;
    width: 32/72rem;
    height:31/72rem;
    background-position:0 0;
}
.goods-describe .bxg-stars span.starActive{
    background-position:-36/72rem 0;
}
.goods-describe .bxg-stars{
    margin-left: 10/72rem;
}
.goods-describe .bxg-stars strong{
    float: left;
    margin-left: 40/72rem;
    font-weight: normal;
    color: #999;
}
//输入评价内容
.evaluate-txt{
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.bxg-textarea{
    padding:10/72rem 20/72rem;
}
.bxg-textarea textarea{
    display: block;
    width:660/72rem;
    font-size:30/72rem;
    color: #a8a8a8;
    border: none;
    resize: none;
}
.bxg-upload-img{
    margin:10/72rem 0;
    padding:0 30/72rem 10/72rem;
    background: #fff;
}
.bxg-upload-img>div{
    float:left;
    margin-right: 10/72rem;
    width: 620/72/5rem;
    height: 620/72/5rem;
    margin-top: 10/72rem;
}
.bxg-upload-img>div:nth-child(5n){
    margin-right:0;
}
.upload-btn{
    background: url(../images/camera.png)no-repeat;
    background-size:124/72rem 124/72rem;
    cursor: pointer;
}
.bxg-upload-img>div img{
    width:100%;
    height:100%;
}
.anonymity-block{
    font-size:20/72rem;
    color: #999;
}
.anonymity-block{
    padding:20/72rem 30/72rem;
    line-height: 30/72rem;
}
.anonymityBtn{
    width:30/72rem;
    height:30/72rem;
    border-radius:50%;
    overflow: hidden;
    border: 1px solid #ccc;
    background: none;
    box-sizing: border-box;
}
.anonymityActive{
    border: none;
    background: url(../images/evaluate_icon.png)no-repeat;
    background-size:100/72rem 95/72rem;
    background-position:-70/72rem 0!important;
}
.evaluate-shop{
    background: #fff;
    padding-bottom:30/72rem;
    margin-bottom: 80/72rem;
}
.evaluate-shop-title{
    padding: 20/72rem;
    font-size: 30/72rem;
    line-height: 59/72rem;
}
.evaluate-shop-title span{
    margin-right:15/72rem;
    float: left;
    display:block;
    width:64/72rem;
    height:59/72rem;
    background-position:0 -38/72rem;
}
.evaluate-shop .goods-describe{
    padding:0 20/72rem;
    line-height: 60/72rem;
}
.evaluate-shop .bxg-stars span{
    margin-top:22/72/2rem;
}
