.bxg-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 2;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.97222222rem 0.73611111rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.41666667rem;
  width: 0.20833333rem;
  background-position: -0.5rem 0;
}
.bxg-search {
  right: 1.38888889rem;
  width: 0.625rem;
  background-position: -0.80555556rem 0;
}
.bxg-collection-icon {
  background: url(../images/collection_icon.png) no-repeat;
  background-size: 1.70833333rem 0.73611111rem;
}
.head-list-content {
  display: none;
  position: fixed;
  top: 1.11111111rem;
  right: 0;
  width: 3.33333333rem;
  background: rgba(0, 0, 0, 0.5);
}
.head-list-content li a {
  font-size: 0.5rem;
  color: #fff;
}
.head-list-content li:first-child {
  position: relative;
}
.head-list-content li:first-child b {
  position: absolute;
  top: 0.34722222rem;
  right: 0.27777778rem;
  display: block;
  width: 0.47222222rem;
  height: 0.47222222rem;
  line-height: 0.47222222rem;
  text-align: center;
  font-size: 0.27777778rem;
  border-radius: 50%;
  background: red;
}
.head-list-content li {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.head-list-content li:last-child {
  border-bottom: none;
}
.head-list-content li i {
  float: left;
  display: block;
  margin: 0.31944444rem -0.69444444rem 0.31944444rem 0.55555556rem;
  width: 0.52777778rem;
  height: 0.52777778rem;
}
.head-list-content li .news-icon {
  background-position: 0 0;
}
.head-list-content li .index-icon {
  background-position: -0.55555556rem 0;
}
.head-list-content li .delete-icon {
  background-position: -1.11111111rem 0;
}
