.bxg-content{
    position: relative;
    margin-top:80/72rem;
    margin-bottom:80/72rem;
    overflow: hidden;
}
.bxg-hotel-icon{
    background: url(../images/hotel_icon.png)no-repeat;
    background-size:195/72rem 50/72rem;
}
.hotel-banner{
    width: 100%;
    height:540/72rem;
}
.hotel-banner img{
    width:100%;
    height:100%;
}
.bxg-hotel-search{
    width:100%;
}
.bxg-hotel-search ul{
    padding:0 20/72rem;
}
.bxg-hotel-search ul  li {
    height:100/72rem;
    line-height:100/72rem;
    border-bottom: 1px solid #f0f0f2;
}
.bxg-hotel-search ul a{
    display: block;
    font-size: 36/72rem;
    color: #333;
}
.bxg-hotel-search ul a span:first-child{
    margin-top:25/72rem;
    margin-right: 28/72rem;
    display: block;
    float: left;
    height:50/72rem;
}
.bxg-hotel-search ul li:first-child a span:first-child{
    margin-left:8/72rem;
    margin-right:36/72rem;
    width:34/72rem;
    background-position:0 0;
}
.bxg-hotel-search ul li:nth-child(2) a span:first-child{
    margin-left:1.5/72rem;
    margin-right:29.5/72rem;
    width:47/72rem;
    background-position:-38/72rem 0;
}
.bxg-hotel-search ul li:nth-child(3) a span:first-child{
    width:50/72rem;
    background-position:-90/72rem 0;
}
.bxg-hotel-search ul li:nth-child(4) a span:first-child{
    width:50/72rem;
    background-position:-144/72rem 0;
}
.bxg-hotel-search ul li a span:nth-child(3),
.bxg-hotel-search ul li a span:nth-child(4){
    display: block;
    float:right;
}
.bxg-hotel-search ul li a span:nth-child(3){
    margin-top:35/72rem;
    margin-left:20/72rem;
    width:16/72rem;
    height:30/72rem;
    background: url(../images/hotel_right.png)no-repeat;
    background-size:16/72rem 30/72rem;
}
.search-btn{
    margin: 85/72rem auto 20/72rem;
    width:650/72rem;
    height:90/72rem;
    line-height: 90/72rem;
    font-size:38/72rem;
    color: #fff;
    text-align: center;
    background: #12b7f5;
    border-radius: 10/72rem;
}
