body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:90/72rem;
}
.bxg-hotel-list>li{
    padding:20/72rem;
    height: 158/72rem;
    background: #ffffff;
    margin-bottom: 10/72rem;
}
.hotel-img{
    margin-right:30/72rem;
    float: left;
    height: 158/72rem;
    width: 158/72rem;
}
.hotel-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.hotel-info{
    float: left;
    width:492/72rem;
}
.hotel-info>div:first-child{
    margin-top:5/72rem;
    width:100%;
    height:36/72rem;
    overflow: hidden;
    font-size: 36/72rem;
    color: #333333; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
}
.hotel-info>div:nth-child(2){
    width: 100%;
}
.hotel-info>div:nth-child(2)>span{
    margin-right:15/72rem;
    font-size: 28/72rem;
    color: #7e7e7e;
    display: inline;
}
.hotel-info>div:nth-child(3){
    font-size: 30/72rem;
    color: #333333;
    line-height: 50/72rem;
}
.hotel-info>div:nth-child(3)>b{
    font-size: 20/72rem;
    color:#ff940a;
}
.hotel-info>div:nth-child(3)>b>span{
    color:#ff940a;
    font-size: 36/72rem;
}
