body {
  background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-successidentity-head{
    height:378/72rem;
    border-bottom:1px solid #ddd;
    background: #fff;
    display:block;
    padding-top:20/72rem;
}
.bxg-successidentity-head p{
    height:100/72rem;
    line-height: 100/72rem;
   text-align: center;
   font-size:42/72rem;
}

.bxg-successidentity-icon{
  background: url(../images/identity_icon.png)no-repeat;
  background-size:160/72rem 120/72rem;  
  display: block;
}
 .bxg-win{
  width:110/72rem;
  height:110/72rem;
  background-position:0 -4/72rem;  
  margin:35/72rem auto;  
  display: block;
}
.bxg-successidentity-main p{
    height:76/72rem;
    line-height:76/72rem;
    font-size:33/72rem;
    color:#999;
}
.bxg-limit{
    float:left;
    width:46/72rem;
    height:46/72rem;
    margin:12/72rem 10/72rem 0 30/72rem;
    background-position:-118/72rem -2/72rem;  
}


