body{
    background: #F0F0F2;
}
.bxg-content {
    position: relative;
    margin-top: 95/72rem;
}
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300/64/2rem;
    margin-top:-0.8/2rem;
    width:300/64rem;
    height:0.8rem;
    line-height: 0.8rem;
    font-size:26/64rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 8/64rem;
}
.interest-title{
    padding:30/72rem 0;
    margin-bottom:30/72rem;
    font-size:34/72rem;
    text-align: center;
    line-height: 50/72rem;
    color: #666;
    background: #fff;
}
.interest-sel{
    padding:15/72rem 0;
    background: #fff;
}
.goods-list{
    margin:20/72rem auto;
    display: table;
}
.goods-list label{
    position: relative;
    margin-right:50/72rem;
    display: inline-block;
    width:120/72rem;
    height:145/72rem;
    font-size: 28/72rem;
    line-height: 50/72rem;
    text-align: center;
    overflow: hidden; 
} 
.goods-list label:last-child{
    margin-right:0;
}
.goods-list label span{
    margin:0 auto;
    display: block;
    width:95/72rem;
    height:95/72rem;
    border-radius:50%;
    border: 1px solid #F0F0F2;
    overflow: hidden;
}
.goods-list label span img{
    width: 100%;
    height:100%;
}
input[type="checkbox"]{
    display: none;
}
.activeSel{
    border: 1px solid #12B7F5!important;
}
.sel-icon{
    display: none;
    position: absolute;
    top:0;
    right:0;
    width:40/72rem;
    height:40/72rem;
    border-radius:50%;
    background: url(../images/password_icon.png)no-repeat;
    background-size: 115/72rem 78/72rem;
    background-position:0 -38/72rem ;
}
.bxg-submit{
    margin:50/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    color: #fff;
    font-size: 36/72rem;
    background: #12B7F5;
    border-radius:10/72rem ;
}