body{
    background: #f0f0f2;
}
.bxg-header{
    background: #1a75d0;
}
.bxg-bg-white{
    background: #fff;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    margin-bottom: 80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
//弹框layer选择
.bxg-layer{
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 3;
    background: rgba(0,0,0,0.5);
}
.bxg-layer-alert{
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-346/72/2rem;
    margin-left: -645/72/2rem;
    width:645/72rem;
    height:346/72rem;
    background: #fff;
    border-radius: 10/72rem;
}
.bxg-confirm .bxg-confirm-content{
    height:260/72rem;
    line-height:260/72rem;
    font-size: 36/72rem;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}
.bxg-layer-btn{
    font-size: 36/72rem;
    text-align: center;
}
.bxg-layer-btn span{
    display: inline-block;
    width:50%;
    height:86/72rem;
    line-height:86/72rem;
    cursor: pointer;
}
.bxg-layer-btn span:first-child{
    color: #12B7F5;
    border-right: 1px solid #eee;
}

.bxg-integral-icon{
    background: url(../images/integral.png)no-repeat;
    background-size:720/72rem 500/72rem;
}
.bxg-title{
    width:100%;
    height:80/72rem;
    line-height: 80/72rem;
    font-size: 30/72rem;
    color: #636363;
    text-indent: 30/72rem;
}
.bxg-integral{
    position: relative;
    width: 100%;
    height:276/72rem;
    color: rgba(255,255,255,0.8);
    font-size:28/72rem;
    background-position:0 0;
}
.bxg-integral>div:first-child{
    line-height: 80/72rem;
    text-indent: 30/72rem;
}
.bxg-integral>div:nth-child(2){
    position: absolute;
    top:37/72rem;
    left:50%;
    margin-left:-210/72/2rem;
    width:210/72rem;
    height:210/72rem;
    line-height: 210/72rem;
    text-align: center;
    font-size:48/72rem;
    border-radius:50%;
    background-position:0 -290/72rem;
}

.bxg-mall-list{
    margin:10/72rem 0;
}
.bxg-mall-list ul li{
    float: left;
    width:358/72rem;
    background: #fff;
    margin-bottom:4/72rem;
}
.bxg-mall-list ul li:nth-child(2n+1){
    margin-right:4/72rem;
}
.bxg-mall-list ul li a{
    display: block;
    width:358/72rem;
    height:458/72rem;
    font-size:28/72rem;
    color: #090909;
}
.bxg-goods-img{
    width:358/72rem;
    height:358/72rem;
}
.bxg-mall-list ul li a img{
    display: block;
    width:100%;
    height:100%;
}
.bxg-goods-intro{
    margin:10/72rem 0;
    height:80/72rem;
    line-height: 40/72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.bxg-goods-foot {
    padding:0 15/72rem 15/72rem;
}
.bxg-mall-icon{
    float: left;
    display: block;
    margin:18/72/2rem 0 18/72/2rem 18/72rem;
    width:25/72rem;
    height:25/72rem;
    background: url(../images/mall_icon.png)no-repeat 0 0;
    background-size:25/72rem 25/72rem;
}
.bxg-goods-foot span{
    display: inline-block;
    width:118/72rem;
    height:43/72rem;
    line-height:43/72rem;
    text-align: center;
    font-size:28/72rem;
    color:#fff;
    background:#12b7f5;
    border-radius: 15/72rem;
    cursor: pointer;
}

