 .interest-list{
     margin:10/72rem auto;
     display: table;
}
 .interest-list span{
     margin-right:25/72rem;
     display: inline-block;
     width:190/72rem;
     height:72/72rem;
     line-height: 1rem;
     font-size: 28/72rem;
     text-align: center;
     color:#12B7F5;
     border: 1px solid #12B7F5;
     border-radius:80%; 
     overflow: hidden;
 }
 .interest-list span:last-child{
     margin-right:0;
 }
