body{
    background: #F0F0F2;
}
//筛选
.bxg-filtrate{
    position: absolute;
    top:0;
    right:30/72rem;
    font-size: 28/72rem;
}
.bxg-content{
    position: relative;
    margin-top:90/72rem;
    margin-bottom: 80/72rem;
}

.bxg-center>li{
    padding:20/72rem 30/72rem;
    height:120/72rem;
    background: #ffffff;
    margin-bottom: 10/72rem;
}
.bxg-center-img{
    margin-top:11/72rem;
    float: left;
    width: 98/72rem;
    height: 98/72rem;
    border-radius:50%; 
}
.bxg-center-img>img{
    height:100%;
    width: 100%;
    border-radius:50%;
    display: block;
}
.bxg-center-cc{
    float: left;
    margin-left:20/72rem;
    font-size: 24/72rem;
}
.bxg-center-cc>p{
    margin:20/72rem 0 25/72rem;
    font-size: 24/72rem;
    color:#4b4b4b;
}
.bxg-center-cc>span{
    font-size: 30/72rem;
    color:#4b4b4b;
    
}
.bxg-center-right{
    float: right;
}
.bxg-center-right>div{
    height: 120/72rem;
    float: right;

}
.bxg-center-right>div:first-child{
    margin-left:20/72rem;
    line-height: 120/72rem;  
    font-size: 52/72rem;
}
.bxg-center-right>div:last-child{
    width:75/72rem;
    text-align: center;
}
.bxg-center-right .intimacy{
    margin:25/72rem auto 10/72rem;
    display: block;
    width:52/72rem;
    height:44/72rem;
    background: url(../images/intimacy_heart.png)no-repeat center center;
    background-size:52/72rem 44/72rem;
}
.bxg-center-right small{
    display: block;
    font-size: 22/72rem;
    
}
.wait-check{
    width:150/72rem!important;
    font-size: 30/72rem!important;
}
