body {
    background: #f0f0f2;
}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
}

.bxg-logistics-head {
    width: 100%;
    height: 200/72rem;
    background: #fff;
}
.bxg-logistics-info {
    padding: 20/72rem 30/72rem;
    color: #848484;
    background: #fff;
}
.bxg-logistics-info>div{
    float: left;
    font-size: 30/72rem;
}
.logistics-info>div:first-child span{
    color: #12B7F5;
}
.logistics-info>div:first-child {
   margin-top:8/72rem;
}
.logistics-info>div:nth-child(2){
   margin:30/72rem 0;
}
.goods-img {
    position: relative;
    margin-right:20/72rem;
    width: 157/72rem;
    height: 157/72rem;
}
.goods-img img {
    width: 100%;
    height: 100%;
}
.goods-img .goods-num{
    position: absolute;
    bottom:0;
    width:100%;
    height:40/72rem;
    line-height:40/72rem;
    text-align: center;
    font-size: 26/72rem;
    color:#fff;
    background: rgba(0,0,0,0.5);
}
.bxg-logistics-list{
    margin-top:25/72rem;
}
.bxg-logistics-list>div{
    padding:0 30/72rem;
    background: #fff;
}
.bxg-logistics-list>div:first-child{
    padding-top:30/72rem;
}
.bxg-logistics-list>div:last-child{
    padding-bottom:30/72rem;
}
.logistics-line{
    width:100/72rem;
    height: 120/72rem;
}
.logistics-line i{
    margin:0 auto;
    display: block;
    width:25/72rem;
    height:25/72rem;
    border-radius:50%;
    background: #ddd;
}
.active i{
    position: relative;
    width: 36/72rem;
    height:36/72rem;
    background: #92defa;
}
.active i em{
    position: absolute;
    top:4/72rem;
    left:4/72rem;
    width:28/72rem;
    height:28/72rem;
    background: #12b7f5;
    border-radius:50%;
}
.logistics-line div{
    margin:0 auto;
    width:3/72rem;
    height:95/72rem;
    background: #ddd;
}
.active div{
    height:84/72rem;
}
.bxg-logistics-list>div>div{
    float: left;
}
.logistics-line + div{
    width: 560/72rem;
    padding:15/72rem 0;
    font-size: 30/72rem;
    color:#8e8e8e;
    border-bottom: 1px solid #F0F0F2;
}
.logistics-line + div>div:last-child{
    margin-top:28/72rem;
}
.active + div{
    color: #12B7F5;
}
.bxg-logistics-list>div:last-child .logistics-line + div{
    border: none;
}
.bxg-logistics-foot{
    margin-top:120/72rem;
    text-align: center;
    font-size: 30/72rem;
    color: #c4c4c4;
}
//.bxg-logistics-head-img{
//  width:156/72rem;
//  height:156/72rem;
//  box-sizing: border-box;
//  margin:24/72rem 30/72rem;
//  background: url(../images/binding-failure.png);
//  background-size: 200/72rem 200/72rem;
//  border:1px solid #ddd;
//  float:left;
//  font-size: 36/72rem;
//  z-index: 9;
//}
//.bxg-logistics-head-img p{
// 
//  height:38/72rem;
//  font-size: 28/72rem;
//  opacity: 0.2;
//  text-align: center;
// 
//  float:bottom;
//  z-index: 999;
//  background: #000;
//  margin-top:105/72rem;
//  z-index: 9999;
//  
//}
//.bxg-t{
//  color:#fff;
//}
//.bxg-logistics-head-state{
//  
//  margin-top:20/72rem;
//  float:left;
//}
//.bxg-logistics-head p{
// 
//  font-size: 28/72rem;
//  height:50/72rem;
//  line-height: 50/72rem;
//  display:block;
//  color:#666;
//}
//.bxg-logistics-head span{
// color:#12B7F5;
//}
//
//.bxg-logistics-main{
//  width:100%;
//  height:440/72rem;
//  background: #fff;
//  margin-top:20/72rem;
//}
//.bxg-logistics-main-list{
//  border-left:1px solid #ddd;
//  margin-left:50/72rem;
//  margin-top:20/72rem;
// 
// 
//}
//.bxg-logistics-yem-s{
//  width:24/72rem;
//  height:24/72rem;
//  background:#12B7F5;
//  border-radius:50%;
//  float:left;
//  margin:30/72rem -14/72rem;
//  z-index: 3;
//  border:3px solid #92defa;
//  
//}
//.bxg-logistics-yem{
//  width:24/72rem;
//  height:24/72rem;
//  background:#ddd;
//  border-radius:50%;
//  float:left;
//  margin:30/72rem -14/72rem;
//  z-index: 3;
//  
//}
//.bxg-logistics-main-list li{
//font-size:26/72rem;
//height:108/72rem;
//}
//.bxg-logistics-main-list li p{
//  color:#666;
//  font-size:28/72rem;
//  width:600/72rem;
//  border-bottom:1px solid #ddd;
//  float:right;
//  line-height: 50/72rem;
//}
//.bxg-logistics-main-list span{
//  color:#999;
//  display: block;
//  height:58/72rem;
//  line-height: 58/72rem;
//}
//.bxg-logistics-p{
//  color:#12B7F5;
//  display: block;
//}
//.bxg-logistics-time{
//  color:#12B7F5;
//}
//.bxg-logistics-foot{
//color:#999;  
//font-size: 28/72rem;
//width:100%;
//height: 490/72rem;
//text-align:center;
//}
//.bxg-logistics-foot p{
//  margin-top:300/72rem;
//  height:50/72rem;
//  line-height: 50/72rem;
//}
