body{
    background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-ok{
    position: absolute;
    top:0;
    right:30/72rem;
    font-size: 30/72rem;
    color: #fff;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.mobilepay-success{
    padding: 45/72rem 0;
    font-size: 40/72rem;
    color: #333;
    text-align: center;
}
.mobilepay-success>div:first-child{
    margin:0 auto 45/72rem;
    width:355/72rem;
    height:323/72rem;
}
.mobilepay-success-img{
    background: url(../images/mobilepay_success.png)no-repeat;
    background-size:355/72rem 323/72rem;
}
.mobilepay-fail-img{
    background: url(../images/mobilepay_fail.png)no-repeat;
    background-size:355/72rem 323/72rem;
}
.mobilepay-success>div:last-child{
    margin-top:35/72rem;
    font-size: 36/72rem;
    color: #777;
}
.pay-detail{
    padding:0 30/72rem;
    font-size: 32/72rem;
    color: #afafaf;
}
.pay-detail ul li{
    height:80/72rem;
    line-height: 80/72rem;
}
.pay-detail ul li:first-child,
.pay-detail ul li:last-child{
    border-top:1px solid #afafaf;
}
.mobilepay-tip{
    margin-top:30/72rem;
    text-align: center;
    font-size: 24/72rem;
    color: #afafaf;
}
.bxg-submit{
    margin:30/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    color: #fff;
    font-size: 36/72rem;
    background: #12B7F5;
    border-radius:10/72rem ;
}