.bxg-set-list ul li a{
    height:110/72rem;
    line-height: 110/72rem;
}
.notice-icon {
    margin-top:35/72/2rem;
    margin-right: 10/72rem;
    float: left;
    display: block;
    width: 75/72rem;
    height: 75/72rem;
    border-radius: 50%;
    overflow: hidden;
    background: url(../images/notice_icon.png)no-repeat;
    background-size: 235/72rem 75/72rem;
}

.bxg-set-list ul li:first-child em{
    background-position:0 0 ;
}
.bxg-set-list ul li:nth-child(2) em{
    background-position:-80/72rem 0 ;
}
.bxg-set-list ul li:nth-child(3) em{
    background-position:-160/72rem 0 ;
}