body{
    background: #F0F0F2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.friends-list ul li{
    padding:15/72rem 30/72rem;
    background: #fff;
    border-bottom: 1px solid #F0F0F2;
}
.friends-list ul li a{
    font-size: 30/72rem;
    color: #333;
}
.friend-img{
    width: 80/72rem;
    height: 80/72rem;
    border-radius:50% ;
    overflow: hidden;
}
.friend-img img{
    width: 100%;
    height: 100%;
}
.friend-info{
    width: 560/72rem;
    line-height: 40/72rem;
}
.friend-info>div:first-child span:last-child,
.friend-info>div:last-child
{
    font-size: 24/72rem;
    color: #989898;
}
.friend-info>div span:first-child{
    width: 350/72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.friend-info>div:last-child span:last-child{
    margin-top:5/72rem;
    width: 30/72rem;
    height: 30/72rem;
    line-height: 30/72rem;
    text-align: center;
    color: #fff;
    background: red;
    border-radius:50% ;
}
