body {
  background: #F0F0F2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.friends-list ul li {
  padding: 0.20833333rem 0.41666667rem;
  background: #fff;
  border-bottom: 1px solid #F0F0F2;
}
.friends-list ul li a {
  font-size: 0.41666667rem;
  color: #333;
}
.friend-img {
  width: 1.11111111rem;
  height: 1.11111111rem;
  border-radius: 50% ;
  overflow: hidden;
}
.friend-img img {
  width: 100%;
  height: 100%;
}
.friend-info {
  width: 7.77777778rem;
  line-height: 0.55555556rem;
}
.friend-info > div:first-child span:last-child,
.friend-info > div:last-child {
  font-size: 0.33333333rem;
  color: #989898;
}
.friend-info > div span:first-child {
  width: 4.86111111rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.friend-info > div:last-child span:last-child {
  margin-top: 0.06944444rem;
  width: 0.41666667rem;
  height: 0.41666667rem;
  line-height: 0.41666667rem;
  text-align: center;
  color: #fff;
  background: red;
  border-radius: 50% ;
}
