body {
  background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}

.bxg-passport-icon{
    background: url(../images/passport.png)no-repeat;
    background-size:386/72rem 460/72rem;
}
.bxg-pass{
    width:386/72rem;
    height:386/72rem;
    line-height:400/72rem;
    text-align: center;
    background-position:0 0;
    display:block;
    margin:0/72rem auto;
    margin-top:10/72rem;
    color: #fff;
}
.bxg-passport-star{
    height:700/72rem;
    background: linear-gradient(#12b7f5, #89f7fe);
}

.bxg-passport-star p{
    top:280/72rem;
    left:50%;
    color:#fff;
    font-size:64/72rem;
    font-weight: bold;
    position: absolute;
    text-align: center;
    direction: block;
    z-index: 2;
}

.bxg-passport-growth{
    height:110/72rem;

}
.bxg-passport-star a{
    height:38/72rem;
    line-height: 38/72rem;
    text-align: center;
    font-size:30/72rem;
    display: block;
    color:#fff;
}
.bxg-growth{
   margin:6/72rem auto;
   width:58/72rem;
   height:58/72rem; 
   display:block;
   background-position:0 -398/72rem;
   margin-top:20/72rem;
}
.bxg-passport-love{
    height:150/72rem;
    position:absolute;
    display: block;
    margin-top:90/72rem;
    margin-left:60/72rem;
}
.bxg-love{
   margin:6/72rem auto;
   width:58/72rem;
   height:58/72rem; 
   display:block;
   background-position:-60/72rem -398/72rem;
   margin-top:20/72rem; 
}
.bxg-passport-integrate{
    height:150/72rem;
    position:absolute;
    display: block;
    margin-top:50/72rem;
    right:80/72rem;
    float:right;
}
.bxg-integrate{
    margin:6/72rem auto;
   width:58/72rem;
   height:58/72rem; 
   display:block;
   background-position:-120/72rem -398/72rem;
   margin-top:20/72rem;   
}
.bxg-passport-fans{
    height:150/72rem;
    position:absolute;
    display: block;
    margin-top:10/72rem;
    left:200/72rem;
    float:left;
}
.bxg-fans{
    margin:6/72rem auto;
   width:58/72rem;
   height:58/72rem; 
   display:block;
   background-position:-240/72rem -398/72rem;
   margin-top:20/72rem;   
}
.bxg-passport-referrals{
    height:150/72rem;
    position:absolute;
    display: block;
    margin-top:10/72rem;
    right:200/72rem;
    float:right;
}
.bxg-referrals{
    margin:6/72rem auto;
   width:58/72rem;
   height:58/72rem; 
   display:block;
   background-position:-180/72rem -398/72rem;
   margin-top:20/72rem;   
}
.bxg-credit{
    height:132/72rem;
    background:#fff;
}
.bxg-credit-head{
    float:left;
    width:49.9%;
    height:132/72rem;
    border-right:1px solid #ddd;
    display: block;
}
.bxg-credit-head i{
  width:30/72rem;
  height:30/72rem;
  border:1px solid red;
  margin:0 auto;
  display: block;
  margin-top:10/72rem;
}
.bxg-credit-head p{
  text-align: center;
  font-size:27/72rem;
    height:40/72rem;
    line-height:40/72rem;
    display: block;
    color:#666;
}
.bxg-credit-head span{
  text-align: center;
  font-size:27/72rem;
    height:36/72rem;
    line-height: 36/72rem;
    display: block;
    color:#999;
}
.bxg-credit-head a{
 
    color:#999;
}
.bxg-passport-main{
    margin-top:20/72rem;
    height:256/72rem;
    background: #fff;
}
.bxg-passport-main p{
    height:80/72rem;
    line-height: 80/72rem;
    color:#666;
    padding-left:30/72rem;
    font-size:31/72rem;
}
.bxg-passport-circulate{
    width:25%;
    height:166/72rem;
    float:left;
    direction: inline-block;
    color:#666;
}
.bxg-passport-circulate i{
    width:60/72rem;
    height:60/72rem;
   border:1px solid red;
   display: block;
  margin: 10/72rem auto;
   
  
}
.bxg-passport-circulate a{
    width:180/72rem;
    height:60/72rem;
    line-height: 60/72rem;
    color:#333;
   text-align: center;
    font-size:31/72rem;
    display: block;
}

.bxg-passport-footer{
    margin-top:40/72rem;
    height:400/72rem;
    background: #fff;
}
.bxg-passport-footer p{
    font-size:30/72rem;
    height:80/72rem;
    line-height: 80/72rem;
    padding-left:30/72rem;
    color:#666;
}
.bxg-passport-positive{
    height:248/72rem;
}
.bxg-positive{
    width:186/72rem;
    height:186/72rem;
    background: #ddd;
    display: inline-block;
    float:left;
    margin:30/72rem;
    
}
.bxg-passport-positive p{

    display: block;
    font-size:40/72rem;
    height:186/72rem;
     line-height: 186/72rem !important;
}
//.bxg-passport-footer span{
//  clear:both;
//   display: block;
//  font-size:42/72rem;
//  height:86/72rem;
//   line-height: 86/72rem !important;
//   color:#12B7F5;
//   text-align: center;
//   border:1px solid red;
//}
.bxg-passport-footer a{
  
    display: block;
    font-size:42/72rem;
    height:56/72rem;
     line-height: 56/72rem !important;
     color:#12B7F5;
     text-align: center;
}
