body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:180/72rem;
}
.pay-status{
    margin:0 auto;
}
.pay-success{
    width: 424/72rem;
    height: 368/72rem;
    background:url(../images/pay_success_img.png)no-repeat;
    background-size:424/72rem 368/72rem;
}
.pay-fail{
    width: 432/72rem;
    height: 357/72rem;
    background:url(../images/pay_fail_img.png)no-repeat;
    background-size:432/72rem 357/72rem;
}
.pay-tip{
    height: 100/72rem;
    line-height: 100/72rem;
    font-size: 40/72rem;
    text-align: center;
}
.bxg-submit{
    margin:50/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    color: #fff;
    font-size: 36/72rem;
    background: #12B7F5;
    border-radius:10/72rem ;
}
.bxg-submit a{
    display: block;
    color: #fff;
}