 body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}

.bxg-payment-success{
    text-align: center;
}
.payment-success-bj{
    width:10rem;
    height:227/72rem;
    background: url(../images/payment_success.png)no-repeat;
    background-size:10rem 227/72rem ;
}
.bxg-payment-success p{
    margin:42/72rem 0 0;
    font-size: 42/72rem;
    color: #12B7F5;
}
.bxg-payment-success span{
    font-size: 26/72rem;
    color:#878787;
}
.payment-btn{
    margin:20/72rem auto;
    display: table;
}
.payment-btn a{
    display: inline-block;
    width:294/72rem;
    height:84/72rem;
    line-height:84/72rem;
    font-size: 40/72rem;
    color: #12B7F5;
    text-align: center;
    border: 1px solid #c7c7c7;
    border-radius: 10/72rem;
    box-sizing: border-box;
}
.payment-btn a:nth-child(2){
    margin-left:40/72rem;
    color: #fff;
    background: #12B7F5;
    border: none;
}


.bxg-guesslike-title{
    margin:30/72rem auto;
    display: table;
    font-size: 40/72rem;
    color: #333;
}
.bxg-guesslike-title span{
     float: left;
}
.bxg-guesslike-title span:nth-child(2){
   margin:0 20/72rem;
}
.bxg-guesslike-title span:nth-child(3){
    margin-top:2/72rem;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);  
    -moz-transform:rotate(180deg);   
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg); 
}
.bxg-guesslike-blue{
    margin-top:5/72rem;
    width: 103/72rem;
    height:35/72rem;
    background: url(../images/guesslike_blue.png)no-repeat;
    background-size: 103/72rem 35/72rem;
}

.bxg-goods-list ul li{
    width:715/72/2rem;
}
.bxg-goods-list ul li img{
    width:715/72/2rem!important;
    height:715/72/2rem!important;
}
.bxg-goods-price{
    margin-top:10/72rem;
    padding-top:15/72rem;
    color: #ff740a;
    border-top:1px dashed #F0F0F2;
}
