body{
    background: #F0F0F2;
}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
}
.payment-fail{
    padding:45/72rem 0;
    font-size: 38/72rem;
    color: #333;
    text-align: center;
}
.fail-img{
    margin:45/72rem auto;
    width: 212/72rem;
    height:212/72rem;
    background: url(../images/payment_fail.png)no-repeat;
    background-size:212/72rem 212/72rem;
}
.bxg-btn{
    margin:100/72rem auto 0;
    display: table;
}
.bxg-btn a{
    display: inline-block;
    width: 248/72rem;
    height:83/72rem;
    line-height: 83/72rem;
    text-align: center;
    font-size: 40/72rem;
    color: #12B7F5;
    border:3px solid #fff;
    border-radius: 20/72rem;
}
.bxg-btn a:first-child{
    margin-right:100/72rem;
}
