.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.proceeds-head{
    height:300/72rem;
    text-align: center;
    color: #fff;
    font-size: 50/72rem;
    background: #12B7F5;
}
.proceeds-head>div:first-child{
    padding: 60/72rem 0 70/72rem;
    font-size: 30/72rem;
}
.proceeds-list ul li{
    margin-top:10/72rem;
    padding:15/72rem 20/72rem;
    background: #f0f0f2;
}
.proceeds-list .user-img{
    width:100/72rem;
    height:100/72rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
}
.proceeds-list .user-img img{
    width: 100%;
    height:100%;
}
.user-info{
    width: 540/72rem;
    font-size: 32/72rem;
    line-height: 100/72rem;
}
.user-info>div:first-child{
    font-size: 32/72rem;
    line-height:50/72rem;
}
.user-info>div:first-child>div:last-child{
    font-size: 28/72rem;
    color: #8d8d8d;
}
.empty-page{
    padding:20/72rem 0;
    font-size: 26/72rem;
    color: #8d8d8d;
    text-align: center;
}
