body {
  background: #F0F0F2;
}
.questionnaire_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/questionnaire/questionnaire_bg.png) no-repeat;
  background-size: 100% 100%;
}
.questionnaire_bg a {
  position: absolute;
  left: 50%;
  margin-left: -1.27777778rem;
  bottom: 0.69444444rem;
  width: 2.55555556rem;
  height: 1.33333333rem;
  background: url(../images/questionnaire/questionnaire_btn.png) no-repeat;
  background-size: 100% 100%;
}
.bxg-banner {
  width: 10rem;
  height: 2.5rem;
  background: url(../images/questionnaire/questionnaire_banner.png) no-repeat;
  background-size: 10rem 2.5rem;
}
.bxg-progress {
  margin: 0.27777778rem auto;
  display: table;
}
.bxg-progress > div {
  display: block;
  float: left;
  font-size: 0.41666667rem;
  color: #02678d;
}
.question-progress {
  margin: 0.13888889rem 0.27777778rem 0;
  width: 3.77777778rem;
  height: 0.16666667rem;
  border: 2px solid #fff;
}
.progress {
  width: 0;
  height: 100%;
  background: #02678d;
}
.question_info {
  margin: 0 0.27777778rem;
  padding: 0.34722222rem;
  font-size: 0.36111111rem;
  line-height: 0.55555556rem;
  background: #fff;
}
.question_list {
  margin: 0.41666667rem 0.27777778rem;
  font-size: 0.41666667rem;
  color: #12b7f5;
  background: #fff;
}
.question_list > div {
  padding: 0.27777778rem 0.27777778rem 0;
}
.question_list > div > div {
  height: 0.83333333rem;
  line-height: 0.83333333rem;
}
.question_list > div > div:last-child {
  height: auto!important;
  padding-bottom: 0.27777778rem;
}
input[type="radio"] + label::before {
  float: left;
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  width: 0.41666667rem;
  height: 0.41666667rem;
  margin: 0.13888889rem 0.25rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="radio"]:checked + label::before {
  background-color: #12b7f5;
  background-clip: content-box;
  padding: 0.05555556rem;
  box-sizing: border-box;
  border: 1px solid #12b7f5;
}
input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.question_list ul li {
  height: 0.69444444rem;
  line-height: 0.69444444rem;
}
input[type="checkbox"] + label::before {
  float: left;
  content: "\a0";
  display: inline-block;
  vertical-align: middle;
  width: 0.34722222rem;
  height: 0.34722222rem;
  margin: 0.13888889rem 0.25rem;
  border-radius: 0.06944444rem;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type="checkbox"]:checked + label::before {
  background: url(../images/questionnaire/question_select.png) no-repeat;
  background-size: 0.34722222rem 0.34722222rem;
  background-clip: content-box;
  border: none;
}
input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.question-advice {
  width: 100%;
}
.question-advice textarea {
  display: block;
  padding: 0.20833333rem 0.20833333rem 0.13888889rem;
  width: 100%;
  border: none;
  overflow: hidden;
  background: #f0f0f2;
  box-sizing: border-box;
  resize: none;
}
.bxg-submit {
  margin: 1.11111111rem auto 0.41666667rem;
  width: 9.02777778rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #fff;
  font-size: 0.5rem;
  background: #12B7F5;
  border-radius: 0.13888889rem;
}
