body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.referrer-address{
    position: relative;
    width: 10rem;
    height: 642/72rem;
    background: url(../images/referrer_bg.png)no-repeat;
    background-size:10rem 642/72rem;
}
.sum-people{
    position: absolute;
    top:260/72rem;
    left:300/72rem;
    color: #12B7F5;
}
.people-address{
    font-size: 30/72rem;
    color: #12B7F5;
}
.people-address>div{
    position: absolute;
}
.people-address>div:nth-child(2n){
    right: 65/72rem;
}
.people-address>div:nth-child(2n-1){
    left: 65/72rem;
}
.people-address>div:nth-child(1),
.people-address>div:nth-child(2){
    top:120/72rem;
}
.people-address>div:nth-child(3),
.people-address>div:nth-child(4){
    top:263/72rem;
}
.people-address>div:nth-child(5),
.people-address>div:nth-child(6){
    top:410/72rem;
}
.referrer-list{
    height: 300/72rem;
    font-size: 28/72rem;
    color: #505050;
    overflow: scroll;
}
.referrer-list ul li{
    padding:15/72rem 30/72rem;
    background: #fff;
}
.referrer-list ul li>div{
    float: left;
    line-height: 70/72rem;
}
.referrer-list ul li>div:last-child{
    float: right;
}
.referrer-list ul li>div:nth-child(2){
    margin: 0 30/72rem;
    width: 200/72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:1;
}
.referrer-list .user-img{
    width: 70/72rem;
    height: 70/72rem;
    border-radius: 50%;
    overflow: hidden;
    background: #12B7F5;
}
.referrer-list .user-img img{
    width: 100%;
    height: 100%;
}
.load-all{
    text-align: center;
    color: #999;
}
