body{
    background: #396ea2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;

}
.bxg-content-top{
    width: 100%rem;
    height: 660/72rem;
    background: #f0f0f2;
}
.bxg-content-top>p{
    font-size: 39/72rem;
    color: #848484;
    text-align: center;
    line-height: 80/72rem;
}
.bxg-content-top>img{
    height: 527/72rem;
    width: 527/72rem;
    display: block;
    margin: 20/72rem auto;
}
.bxg-content-cen{
    height: 145/72rem;
    background: #396ea2;
}
.bxg-content-cen>div{
    padding:15/72rem 0;
    float: left;
    width:710/72/2rem;
    height: 120/72rem;
    line-height: 45/72rem;
    font-size: 36/72rem;
    text-align: center;
    color:#888;
    background: #ffffff;
}
.bxg-content-cen>div:first-child{
    margin-right: 10/72rem;
}

.bxg-invite .bxg-code-title{
    margin: 60/72rem auto;
    width: 662/72rem;
    height: 60/72rem;
    line-height: 60/72rem;
    font-size:30/72rem;
    text-align: center;
    color: #333;
    background: url(../images/code_title.png)no-repeat;
    background-size:662/72rem 60/72rem;
}
.bxg-invite-message{
    height: 878/72rem;
    width: 660/72rem;
    margin: 0 auto;
    background: #6790b8;
    padding-top: 36/72rem;
}
.bxg-message-out{
   margin:  auto;
    height: 750/72rem;
    width: 612/72rem;
    background: #fff;
    overflow: scroll;
}
.ef{ 
    width: 612/72rem;
    height: 80/72rem;
    border-bottom: 1px solid #396ea2;
    background: #ffffff;
    margin:  auto;
}
.ef>li{
    width: 33%;
    float: left;
    line-height:80/72rem ;
    text-align: center;
    font-size: 33/72rem;
    color:#396ea2;
}

.message-in-end{
    height: 100/72rem;
}
.message-in-end>img{
    height: 80/72rem;
    width: 80/72rem;
    border-radius: 44/72rem;
    margin: 6/72rem 30/72rem;
    float: left;
}

.message-in-end>p{
    float: left;
    font-size: 30/72rem;
    color:#12b7f5;
    line-height: 100/72rem;
    margin-left: 70/72rem;
}
.message-in-end>span{
    float: left;
    font-size: 30/72rem;
    color:#12b7f5;
    line-height: 100/72rem;
    margin-left: 85/72rem;
    
}
