body {
    background: #f0f0f2;

}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
    padding-top:70/72rem;
}
.bxg-fail-img{
    margin:0 auto;
    width:401/72rem;
    height:350/72rem;
    background: url(../images/register_fail.png)no-repeat;
    background-size:100% 100%;    
}
.bxg-success-img{
    margin:0 auto;
    width:401/72rem;
    height:350/72rem;
    background: url(../images/register_success.png)no-repeat;
    background-size:100% 100%; 
}
.bxg-tip{
    height: 100/72rem;
    line-height: 100/72rem;
    width: 100%;
    text-align: center;
    color: #e16655;
    font-size: 42/72rem;
}
.bxg-back-btn{
    margin:88/72rem auto 0;
    display: block;
    width: 576/72rem;
    height: 96/72rem;
    line-height: 96/72rem;
    background: #E16655;
    font-size: 42/72rem;
    text-align: center;
    color: #fff;
    border-radius: 96/72/2rem;
}
