.bxg-content{
    margin-top: 90/72rem;
}
.bxg-content>div{
    margin-top:10/72rem;
}
.bxg-logout{
    margin:30/72rem auto 0!important;
    width:650/72rem;
    height:90/72rem;
    line-height: 90/72rem;
    text-align: center;
    font-size: 38/72rem;
    color: #fff;
    background: #12B7F5;
    border-radius: 10/72rem;
}
.user-info{
    width:100%;
    height:110/72rem;
   
}
.user-info a{
    padding:10/72rem 0;
    height:110/72rem;
    line-height:40/72rem!important; 
}
.user-head{
    margin-right:20/72rem;
    width: 90/72rem;
    height:90/72rem;
    border-radius:50%;
    overflow: hidden;
}
.user-head img{
    width:100%;
    height:100%;
}
.user-cont{
    float: left;
    font-size: 25/72rem;
    color: #a2a2a2;
}
.user-cont>div:first-child{
    font-size: 30/72rem;
    line-height:50/72rem!important; 
    color: #333333;
}
