body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top:80/72rem;
}
.bxg-congratulation{
    padding-top:80/72rem;
    height:80/72rem;
    line-height: 80/72rem;
    color:#666;
    font-size: 60/72rem;
    text-align: center;
}
.bxg-fail-tip{
    color:#999;
    font-size:33/72rem;
    text-align: center;
    height:60/72rem;
    line-height: 60/72rem;
}
.set-fail-img{
    margin:0 auto;
    width:369/72rem;
    height:530/72rem;
    background: url(../images/set_fail.png)no-repeat;
    background-size:100% 100%;
}
.set-success-img{
    margin:0 auto;
    width:480/72rem;
    height:472/72rem;
    background: url(../images/set_success.png)no-repeat;
    background-size:100% 100%;
}
.bxg-submit{
    display: block;
    margin:80/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    color: #fff;
    font-size: 36/72rem;
    background: #12B7F5;
    border-radius:10/72rem ;
}