body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
  margin-bottom: 1.11111111rem;
  overflow: hidden;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.similar-icon {
  background: url(../images/similar_icon.png) no-repeat;
  background-size: 1.38888889rem 0.44444444rem;
}
.bxg-content-ul > li {
  margin-bottom: 0.04166667rem;
  position: relative;
  width: 100%;
  background: #fff;
}
.bxg-content-ul > li:last-child {
  margin-bottom: 0;
}
.bxg-content-left {
  width: 2.77777778rem;
  height: 2.77777778rem;
}
.bxg-content-left img {
  height: 100%;
  width: 100%;
}
.bxg-content-right {
  width: 6.94444444rem;
}
.bxg-content-ul > li:last-child .bxg-content-right {
  border-bottom: none;
}
.bxg-content-right .goods-info > div {
  font-size: 0.375rem;
  color: #333333;
  height: 1.11111111rem;
  width: 5.55555556rem;
  line-height: 0.55555556rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.bxg-content-right .goods-info span {
  display: block;
  margin-top: 0.13888889rem;
  width: 1.38888889rem;
  font-size: 0.36111111rem;
  text-align: center;
  color: #888;
}
.bxg-content-right .goods-address {
  font-size: 0.33333333rem;
  color: #999999;
  margin: 0.20833333rem 0;
}
.goods-footer {
  margin-top: 0.48611111rem;
  line-height: 0.44444444rem;
}
.goods-sales {
  padding-right: 0.27777778rem;
  display: block;
  color: #5f5f5f;
  font-size: 0.36111111rem;
}
.goods-price {
  font-size: 0.44444444rem;
}
.goods-price,
.goods-sales span {
  color: #ff6100;
}
.similar-title {
  height: 1.16666667rem;
  line-height: 1.16666667rem;
  font-size: 0.33333333rem;
  text-align: center;
}
.similar-title span {
  margin-top: 0.58333333rem;
  display: block;
  width: 2.91666667rem;
  height: 1px;
  color: #626262;
  background: #c7c7c7;
}
.similar-title span:first-of-type {
  float: left;
}
.similar-title span:last-of-type {
  float: right;
}
.goods-filtrate {
  margin-bottom: 0.13888889rem;
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  font-size: 0.38888889rem;
  color: #12B7F5;
  background: #fff;
}
.goods-filtrate > div {
  float: left;
  width: 33.33333333%;
}
.goods-filtrate div span {
  float: left;
  margin-left: 0.41666667rem;
}
.goods-filtrate div i {
  margin-left: 0.13888889rem;
  margin-top: 0.32638889rem;
  float: left;
  display: block;
  width: 0.45833333rem;
  height: 0.45833333rem;
}
.goods-filtrate div:first-child i {
  margin-top: 0.45833333rem;
  width: 0.41666667rem;
  height: 0.20833333rem;
  background-position: 0 -0.23611111rem;
}
.goods-filtrate div:first-child i.sel-active {
  background-position: 0 0;
}
.goods-filtrate div:nth-child(2) i,
.goods-filtrate div:nth-child(3) i {
  background-position: -0.44444444rem 0;
}
.goods-filtrate div i.sel-active {
  background-position: -0.93055556rem 0;
}
.syn-type {
  position: relative;
}
.syn-list {
  display: none;
  position: absolute;
  top: 1.11111111rem;
  font-size: 0.34722222rem;
  color: #333;
  z-index: 2;
  background: #fff;
}
.syn-list li {
  padding: 0 0.20833333rem;
  height: 0.97222222rem;
  line-height: 0.97222222rem;
  border-top: 1px solid #F0F0F2;
}
