.bxg-content{
    position: relative;
    margin-top:100/72rem;
}
body{
    background: #f0f0f2;
}
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300/64/2rem;
    margin-top:-0.8/2rem;
    width:300/64rem;
    height:0.8rem;
    line-height: 0.8rem;
    font-size:26/64rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 8/64rem;
}
.bxg-account{
    position: relative;
    padding:0 30/72rem;
    width: 100%;
    height:100/72rem;
    line-height: 100/72rem;
    font-size:33/72rem;
    color: #333;
    background: #fff;
}
.bxg-account span{
    display: inline-block;
    margin-right:51/72rem;
}
.bxg-account input{
    font-size:33/72rem;
    border: none;
}

.bxg-inp-delete{
    display: none;
    position: absolute;
    top:57/72/2rem;
    right:30/72rem;
    width: 42/72rem;
    height:42/72rem;
    border-radius:50%;
    background:url(../images/transfer_delete.png)no-repeat center center;
    background-size:42/72rem 42/72rem ;
}
.bxg-account-tip{
    height:106/72rem;
    line-height:106/72rem;
    font-size:33/72rem;
    color: #ababab;
    text-indent: 30/72rem;
}
.bxg-next{
    margin:0 auto;
    width:660/72rem;
    height:90/72rem;
    line-height: 90/72rem;
    font-size:40/72rem;
    text-align: center;
    color: #fff;
    background: #12b7f5;
    border-radius: 8/72rem;
}
