body {
  background: #F0F0F2;
}
.bxg-content {
  position: relative;
  margin-top: 80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;   
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-transfer-icon{
    background: url(../images/transfer_icon_2.png)no-repeat;
    background-size:253/72rem 71/72rem;
}
.bxg-transfer-search{
    height:80/72rem;
    background: #fff;
    margin-bottom:20/72rem;
}

.bxg-transfer-search input{
    width:680/72rem;                    
    border:none;
    font-size:32/72rem;
    color:#999;
}


.bxg-transfer-search i{
    margin:25/72rem 10/72rem 25/72rem 30/72rem;
    width:28/72rem;
    height:30/72rem;
    background-position:-224/72rem 0;
}

.bxg-transfer-friend ul li{
    height:100/72rem;
    border-bottom:1px solid #ddd;
    background: #fff;
    margin-bottom:20/72rem;
}
.bxg-friend{
    float:left;
    display: inline-block;
    width:71/72rem;
    height:71/72rem;
    background-position: 0 0;
    margin:15/72rem 20/72rem;
}

.bxg-transfer-friend ul li a{
    height:80/72rem;
    line-height: 80/72rem;
    font-size:32/72rem;
    color:#333;
}
.bxg-bxg{
    float:left;
    display: inline-block;
    width:71/72rem;
    height:71/72rem;
    background-position: -74/72rem 0;
    margin:15/72rem 20/72rem;  
}
.bxg-bank{
    margin:12/72rem 20/72rem;  
    float:left;
    display: inline-block;
    width:71/72rem;
    height:71/72rem;
    background-position:-150/72rem 0;
}
.bxg-transfer-lately{
    height:80/72rem;
    line-height: 80/72rem;
    padding-left:30/72rem;
    color:#999;
    font-size:32/72rem;
}
.bxg-transfer-main ul li{
   height:100/72rem;
   background: #fff;
   margin-bottom:20/72rem;
}
.bxg-transfer-main ul li p{
   height:60/72rem;
   line-height: 60/72rem;
   font-size:30/72rem;
   color:#333;
   display: block;
}
.bxg-transfer-main ul li span{
   height:30/72rem;
   line-height: 30/72rem;
   color:#999;
   font-size:21/72rem;
   display: block;
}
.bxg-j{
   width:80/72rem;
   height:80/72rem;
   background-position: -78/72rem -85/72rem; 
   display: inline-block;
   float:left;
   margin:10/72rem 30/72rem;
}
