body {
  background: #F0F0F2;
}
.bxg-content {
  position: relative;
  margin-top: 1.25rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-alert-tip {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -2.34375rem;
  margin-top: -0.4rem;
  width: 4.6875rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.40625rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.125rem;
}
.bxg-transfer-list {
  background: #fff;
}
.bxg-transfer-list li {
  padding: 0 0.41666667rem;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  font-size: 0.5rem;
  border-bottom: 1px solid #F0F0F2;
}
.bxg-transfer-list li span {
  color: #3a3a3a;
}
.bxg-transfer-list li input {
  width: 7.5rem;
  font-size: 0.44444444rem;
  background: none;
  border: none;
}
.bxg-submit {
  margin: 1.11111111rem auto 0.41666667rem;
  width: 9.02777778rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: #fff;
  font-size: 0.5rem;
  background: #12B7F5;
  border-radius: 0.13888889rem;
}
