body {
    background: #f0f0f2;
}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-alert-tip{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-300/64/2rem;
    margin-top:-0.8/2rem;
    width:300/64rem;
    height:0.8rem;
    line-height: 0.8rem;
    font-size:26/64rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
    border-radius: 8/64rem;
}
.withdraw-icon{
    background: url(../images/user_withdraw_icon.png)no-repeat;
    background-size:653/72rem 135/72rem;
}
//提现方式
.withdraw-type{
    padding:20/72rem 30/72rem;
    font-size: 28/72rem;
    color: #5e5e5e;
}
.withdraw-go{
    margin-bottom: 10/72rem;
    padding: 30/72rem;
    width: 622/72rem;
    height: 135/72rem;
    background-position:0 0;
}
.withdraw-sel>div:last-child{
    margin-top: 96/72/2rem;
    width: 21/72rem;
    height:39/72rem;
    background-position:-625/72rem 0!important;
}
.withdraw-go .type-img{
    width: 75/72rem;
    height: 75/72rem;
    border-radius:50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    overflow: hidden;
}
.withdraw-go .type-img img{
    width: 100%;
    height: 100%;
}
.withdraw-go .type-info{
    width: 450/72rem;
    color: #fff;
}
.withdraw-go .type-info>div:first-child{
    margin-bottom:15/72rem;
}
.withdraw-go .type-info small{
    font-size: 24/72rem;
}
.withdraw-money{
    padding:0 30/72rem;
    font-size: 30/72rem;
    background: #fff;
    color: #868686;
}
.withdraw-money ul li{
    height: 100/72rem;
    line-height: 100/72rem;
}
.withdraw-money ul li:first-child{
    border-bottom: 1px solid #d2d2d2;
}
.withdraw-money ul li span{
    margin-right: 8/72rem;
    display: inline-block;
    width: 150/72rem;
    text-align: right;
}
.withdraw-money ul li input{
    font-size: 30/72rem;
    color: #868686;
    border: none;
    background: none;
}
.withdraw-money ul li:last-child{
    position: relative;
}
.all-withdraw{
    position: absolute;
    top:20/72rem;
    right: 0;
    width: 166/72rem;
    height: 60/72rem;
    color: #fff;
    font-size: 26/72rem;
    border: none;
    background: #12B7F5;
    border-radius: 10/72rem;
}
.withdraw-pass{
    margin-top:30/72rem;
    padding:0 30/72rem;
    height: 100/72rem;
    line-height: 100/72rem;
    font-size: 30/72rem;
    color: #868686;
    background: #fff;
}
.withdraw-pass .pass-inp{
    margin-top:15/72rem;
    width: 490/72rem;
}
.withdraw-pass .pass-inp input{
    margin-right: 10/72rem;
    float: left;
    width: 60/72rem;
    height: 60/72rem;
    font-size: 50/72rem;
    text-align: center;
}
.withdraw-tip{
    padding: 0 30/72rem;
    height: 70/72rem;
    line-height: 70/72rem;
    font-size: 30/72rem;
    color: #aaa;
}
.bxg-submit{
    margin:50/72rem auto 0;
    width:650/72rem;
    height:90/72rem;
    line-height:90/72rem;
    text-align: center;
    color: #fff;
    font-size: 36/72rem;
    background: #12B7F5;
    border-radius:10/72rem ;
}
.withdraw-tip a{
    display: block;
    text-align: right;
    font-size: 26/72rem;
    color: #12B7F5;
}
.bxg-saveTip{
    display: table;
    margin:60/72rem auto 0;
    line-height: 32/72rem;
    font-size: 24/72rem;
    color: #12B7F5;
    
}
.bxg-saveTip span{
    float: left;
    margin-right: 10/72rem;
    display: inline-block;
    width: 28/72rem;
    height: 32/72rem;
    background-position:-624/72rem -39/72rem;
}
