body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-send {
  color: #999;
  font-size: 0.45833333rem;
  text-align: center;
  height: 1.11111111rem;
  line-height: 1.11111111rem;
}
.bxg-import {
  margin: 0 auto;
  padding: 0.27777778rem;
  width: 6.66666667rem;
  color: #333;
  font-size: 0.55555556rem;
  text-align: center;
  border: none;
  background: #fff;
}
.bxg-import input {
  float: left;
  margin-right: 0.13888889rem;
  display: block;
  width: 0.90277778rem;
  height: 0.90277778rem;
  text-align: center;
  font-size: 0.83333333rem;
  border: none;
  background: #d2d2d2;
}
.bxg-import input:last-child {
  margin-right: 0;
}
.bxg-verification {
  text-align: center;
  margin: 0.41666667rem 0 1.11111111rem;
}
.bxg-verification button {
  color: #12B7F5;
  font-size: 0.45833333rem;
  border: none;
  background: none;
}
.bxg-logout {
  width: 90%;
  height: 1.22222222rem;
  background: #12B7F5;
  text-align: center;
  color: #fff;
  font-size: 0.45833333rem;
  margin: 0 auto;
  line-height: 1.22222222rem;
  border-radius: 0.11111111rem;
  margin-top: 0.41666667rem;
  margin-bottom: 0.41666667rem;
}
.bxg-logout a {
  display: block;
  color: #fff;
}
.bxg-keyboard {
  display: none;
}
