body {
    background: #f0f0f2;
}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
}
.bxg-send {
    color: #999;
    font-size: 33/72rem;
    text-align: center;
    height: 80/72rem;
    line-height: 80/72rem;
}

.bxg-import{
    margin: 0 auto;
    padding: 20/72rem;
    width: 480/72rem;
    color: #333;
    font-size: 40/72rem;
    text-align: center;
    border: none;
    background: #fff;
}
.bxg-import input{
    float: left;
    margin-right: 10/72rem;
    display: block;
    width: 65/72rem;
    height:65/72rem;
    text-align: center;
    font-size: 60/72rem;
    border: none;
    background: #d2d2d2;
}
.bxg-import input:last-child{
    margin-right: 0;
    
}
//::-webkit-input-placeholder{
//  color: #fff;
//}
//::-moz-placeholder{
//  color: #fff;
//}
//:-moz-placeholder{
//  color: #fff;
//}
//:-ms-input-placeholder{
//  color: #fff;
//}
.bxg-verification {
    text-align: center;
    margin: 30/72rem 0 80/72rem;
}
.bxg-verification  button{
    color: #12B7F5;
    font-size: 33/72rem;
    border: none;
    background: none;
}
.bxg-logout {
    width: 90%;
    height: 88/72rem;
    background: #12B7F5;
    text-align: center;
    color: #fff;
    font-size: 33/72rem;
    margin: 0 auto;
    line-height: 88/72rem;
    border-radius: 8/72rem;
    margin-top: 30/72rem;
    margin-bottom: 30/72rem;

}
.bxg-logout a {
    display: block;
    color: #fff;
}
.bxg-keyboard{
    display: none;
}
