body {
    background: #f0f0f2;
}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
}
.bxg-send {
    color: #999;
    font-size: 33/72rem;
    text-align: center;
    height: 80/72rem;
    line-height: 80/72rem;
}

.bxg-import {
    width: 280/72rem;
    background: #ddd;
    color: #333;
    font-size: 40/72rem;
    text-align: center;
    margin: 0 auto;
    height: 60/72rem;
    line-height: 60/72rem;
    border: none;
}
::-webkit-input-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
}
:-moz-placeholder{
    color: #fff;
}
:-ms-input-placeholder{
    color: #fff;
}
.bxg-verification {
    color: #12B7F5;
    font-size: 33/72rem;
    text-align: center;
    margin: 30/72rem 0 80/72rem;
}

.bxg-logout {
    width: 90%;
    height: 88/72rem;
    background: #12B7F5;
    text-align: center;
    color: #fff;
    font-size: 33/72rem;
    margin: 0 auto;
    line-height: 88/72rem;
    border-radius: 8/72rem;
    margin-top: 30/72rem;
    margin-bottom: 30/72rem;

}
.bxg-logout a {
    color: #fff;
}
