body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 90/72rem;
}
.bxg-voucher{
    padding:0 15/72rem;
}
.bxg-voucher ul li{
    margin-bottom: 10/72rem;
    height:260/72rem;
    border:1px solid  #ddd;
    background: #fff;
    border-radius: 12/72rem;
    
}
.bxg-voucher ul li>div{
    float: left;
}
.bxg-voucher-left{
    width:240/72rem;
    height:260/72rem;
    background:url(../images/voucher.png)no-repeat;
    background-size:10/72rem 258/72rem;
    border-right:1px dashed #ddd;
}
.voucher-price{
    color:#666;
    font-size:28/72rem;
    text-align: center;
    height: 260/72rem;
}
.bxg-voucher-left p{
   font-family: arial;
   font-size: 33/72rem;
   color:#444444;
   text-align: center;
}
.bxg-voucher-left p:first-child{
    margin:30/72rem auto 30/72rem;
    color:#d20f1e;
}
.voucher-price span{
   letter-spacing: -8px;
   font-size: 120/72rem;
   color:#d20f1e;
   text-align: center;
}
.bxg-voucher-right{
    float:left;
    height:60/72rem;
    line-height:60/72rem;
    margin-left:30/72rem;
}
.voucher-info>p:first-child{
    margin-top:50/72rem;
    font-size: 36/72rem;
    color: #282828;
}
.voucher-info>p:nth-child(2){
    font-size: 24/72rem;
    color: #727272;
}
.voucher-info>p:nth-child(3){
    font-size: 24/72rem;
    color: #ccc;
}

//优惠券
.coupon-status .bxg-voucher{
    margin-top:10/72rem;
}
