body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-wallet-icon {
  background: url(../images/wallet_icon.png) no-repeat;
  background-size: 3.55555556rem 0.84722222rem;
}
.bxg-user {
  padding: 0.47222222rem 0.375rem;
  background: #fff;
}
.bxg-user a {
  display: block;
  color: #333;
}
.bxg-user a > div,
.bxg-wallet-list a > div {
  float: left;
}
.bxg-avactor {
  display: inline-block;
  margin-right: 0.45833333rem;
  width: 1.55555556rem;
  height: 1.55555556rem;
  border: 1px solid #f0f0f2;
  border-radius: 50%;
  overflow: hidden;
}
.bxg-avactor img {
  width: 100%;
  height: 100%;
}
.bxg-u-nickname {
  font-size: 0.41666667rem;
  line-height: 0.77777778rem;
}
.bxg-u-mobile {
  margin-top: 0.13888889rem;
  font-size: 0.41666667rem;
  color: #d3d1d1;
}
.bxg-right-icon {
  float: right!important;
  margin-top: 0.48611111rem;
  width: 0.23611111rem;
  height: 0.45833333rem;
  background-position: -0.04166667rem 0;
}
.bxg-money-type {
  border-top: 1px solid #ccc;
  background: #fff;
}
.bxg-money-type ul li {
  float: left;
  width: 3.33333333rem;
  height: 1.94444444rem;
}
.bxg-money-type ul li a {
  display: block;
  font-size: 0.41666667rem;
  color: #a0a0a0;
  text-align: center;
}
.bxg-money-type ul li a i {
  display: block;
  margin: 0.19444444rem auto;
  height: 0.88888889rem;
}
.bxg-money-type ul li:first-child i {
  width: 1.09722222rem;
  background-position: -0.30555556rem 0;
}
.bxg-money-type ul li:nth-child(2) i {
  width: 1.30555556rem;
  background-position: -1.48611111rem 0;
}
.bxg-money-type ul li:nth-child(3) i {
  width: 0.66666667rem;
  background-position: -2.91666667rem 0;
}
.bxg-wallet-list ul {
  margin: 0.27777778rem 0;
}
.bxg-wallet-list ul li {
  background: #fff;
  padding: 0 0.375rem;
  border-top: 1px solid #f0f0f2;
}
.bxg-wallet-list ul li a {
  display: block;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  font-size: 0.48611111rem;
  color: #333;
}
.bxg-wlist-icon {
  background: url(../images/wallet_list_icon.png) no-repeat;
  background-size: 3.22222222rem 2.375rem;
}
.bxg-wallet-list ul li div:first-child {
  height: 0.76388889rem;
  margin-top: 0.3125rem;
  margin-right: 0.27777778rem;
}
.bxg-wallet-list ul li:first-child div:first-child {
  width: 0.75rem;
  background-position: 0 0;
}
.bxg-wallet-list ul li:nth-child(2) div:first-child {
  width: 0.75rem;
  background-position: -0.83333333rem 0;
}
.bxg-wallet-list ul li:nth-child(3) div:first-child {
  width: 0.75rem;
  background-position: -1.69444444rem 0;
}
.bxg-wallet-list ul li:nth-child(4) div:first-child {
  width: 0.75rem;
  background-position: -2.47222222rem 0;
}
.bxg-wallet-list ul li:nth-child(5) {
  margin: 0.41666667rem 0;
}
.bxg-wallet-list ul li:nth-child(5) div:first-child {
  width: 0.75rem;
  background-position: 0 -0.80555556rem;
}
.bxg-wallet-list ul li:nth-child(6) div:first-child {
  width: 0.75rem;
  background-position: -0.86111111rem -0.80555556rem;
}
.bxg-wallet-list ul li:nth-child(7) div:first-child {
  margin-left: -0.05555556rem;
  margin-right: 0.18055556rem;
  width: 0.86111111rem;
  background-position: -1.68055556rem -0.80555556rem;
}
.bxg-wallet-list ul li:nth-child(8) div:first-child {
  width: 0.75rem;
  background-position: -2.47222222rem 0;
}
.bxg-recommend {
  margin: 0.27777778rem 0;
  padding: 0.36111111rem 0.375rem;
  background: #fff;
  font-size: 0.48611111rem;
  color: #333;
}
.bxg-recommend > div:first-child {
  margin-bottom: 0.41666667rem;
}
.bxg-recommend > div:first-child > div:first-child {
  float: left;
  margin-right: 0.27777778rem;
  width: 0.75rem;
  height: 0.73611111rem;
  background-position: 0 -1.63888889rem;
}
.bxg-recommend > div > div:nth-child(2) {
  line-height: 0.73611111rem;
}
.bxg-re-list a {
  display: inline-block;
  margin: 0 0.27777778rem;
  width: 2.36111111rem;
  height: 1.13888889rem;
  line-height: 1.13888889rem;
  font-size: 0.375rem;
  color: #d8d8d8;
  border: 1px solid #818181;
  border-radius: 0.06944444rem;
}
.bxg-re-list a i {
  margin-top: 0.27777778rem;
  float: left;
  display: block;
  height: 0.52777778rem;
}
.bxg-re-list a:first-child i {
  margin-left: 0.20833333rem;
  margin-right: 0.20833333rem;
  width: 0.51388889rem;
  background-position: -0.88888889rem -1.61111111rem;
}
.bxg-re-list a:nth-child(2) i {
  margin-left: 0.34722222rem;
  margin-right: 0.34722222rem;
  width: 0.48611111rem;
  background-position: -1.52777778rem -1.54166667rem;
}
.bxg-re-list a:nth-child(3) i {
  width: 0.48611111rem;
  background-position: -2.05555556rem -1.54166667rem;
}
