body{
     background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-wallet-icon{
    background:url(../images/wallet_icon.png)no-repeat;
    background-size:256/72rem 61/72rem;
}
.bxg-user{
    padding:34/72rem 27/72rem;
    background: #fff;
}
.bxg-user a{
    display: block;
    color: #333;
}
.bxg-user a >div,
.bxg-wallet-list a>div{
    float:left;
}

.bxg-avactor{
    display: inline-block;
    margin-right:33/72rem;
    width:112/72rem;
    height:112/72rem;
    border:1px solid #f0f0f2;
    border-radius: 50%;
    overflow: hidden;
}
.bxg-avactor img{
    width:100%;
    height:100%;
}
.bxg-u-nickname{
    font-size:30/72rem;
    line-height:112/2/72rem;
}
.bxg-u-mobile{
    margin-top:10/72rem;
    font-size:30/72rem;
    color: #d3d1d1;
}
.bxg-right-icon{
    float:right!important;
    margin-top:35/72rem;
    width:17/72rem;
    height:33/72rem;
    background-position:-3/72rem 0;
}
.bxg-money-type{
    border-top:1px solid #ccc;
    background: #fff;
}
.bxg-money-type ul li{
    float:left;
    width:10/3rem;
    height:140/72rem;
}

.bxg-money-type ul li a{
    display: block;
    font-size:30/72rem;
    color:#a0a0a0;
    text-align: center;
}
.bxg-money-type ul li a i{
    display: block;
    margin:14/72rem auto;
    height:64/72rem;
}
.bxg-money-type ul li:first-child i{
    width:79/72rem;
    background-position:-22/72rem 0;
}
.bxg-money-type ul li:nth-child(2) i{
    width:94/72rem;
    background-position:-107/72rem 0;
}
.bxg-money-type ul li:nth-child(3) i{
    width:48/72rem;
    background-position:-210/72rem 0;
}

.bxg-wallet-list ul{
    margin:20/72rem 0;
    
}
.bxg-wallet-list ul li{
    background: #fff;
    padding:0 27/72rem;
    border-top: 1px solid #f0f0f2;
    
}
.bxg-wallet-list ul li a{
    display: block;
    height:100/72rem;
    line-height: 100/72rem;
    font-size: 35/72rem;
    color: #333;
}
.bxg-wlist-icon{
    background: url(../images/wallet_list_icon.png)no-repeat;
    background-size:232/72rem 171/72rem;
}
.bxg-wallet-list ul li div:first-child{
    height:55/72rem;
    margin-top:45/2/72rem;
    margin-right:20/72rem;
}
.bxg-wallet-list ul li:first-child div:first-child{
    width:54/72rem;
    background-position:0 0;
}
.bxg-wallet-list ul li:nth-child(2) div:first-child{
    width:54/72rem;
    background-position:-60/72rem 0;
}
.bxg-wallet-list ul li:nth-child(3) div:first-child{
    width:54/72rem;
    background-position:-122/72rem 0;
}
.bxg-wallet-list ul li:nth-child(4) div:first-child{
    width:54/72rem;
    background-position:-178/72rem 0;
}
.bxg-wallet-list ul li:nth-child(5){
    margin:30/72rem 0;
}
.bxg-wallet-list ul li:nth-child(5) div:first-child{
    width:54/72rem;
    background-position:0 -58/72rem;
}
.bxg-wallet-list ul li:nth-child(6) div:first-child{
    width:54/72rem;
    background-position:-62/72rem -58/72rem;
}
.bxg-wallet-list ul li:nth-child(7) div:first-child{
    margin-left:-4/72rem;
    margin-right:13/72rem;
    width:62/72rem;
    background-position:-121/72rem -58/72rem;
}
.bxg-wallet-list ul li:nth-child(8) div:first-child{
    width:54/72rem;
    background-position:-178/72rem 0;
}
//.bxg-wallet-list ul li:nth-child(9) div{
//}
//.bxg-wallet-list ul li:nth-child(9) div:first-child{
//  width:54/72rem;
//  background-position:0 -118/72rem;
//}
.bxg-recommend{
    margin:20/72rem 0;
    padding:26/72rem 27/72rem;
    background: #fff;
    font-size: 35/72rem;
    color: #333;
}
.bxg-recommend>div:first-child{
    margin-bottom:30/72rem;
}
.bxg-recommend>div:first-child>div:first-child{
    float:left;
    margin-right:20/72rem;
    width:54/72rem;
    height:53/72rem;
    background-position:0 -118/72rem;
}
.bxg-recommend>div>div:nth-child(2){
    line-height:53/72rem;
}

.bxg-re-list a{
    display: inline-block;
    margin:0 20/72rem;
    width:170/72rem;
    height:82/72rem;
    line-height: 82/72rem;
    font-size: 27/72rem;
    color: #d8d8d8;
    border: 1px solid #818181;
    border-radius: 5/72rem;
}
.bxg-re-list a i{
    margin-top:20/72rem;
    float: left;
    display:block;
    height:38/72rem;
}
.bxg-re-list a:first-child i{
    margin-left:15/72rem;
    margin-right:15/72rem;
    width:37/72rem;
    background-position:-64/72rem -116/72rem;
}
.bxg-re-list a:nth-child(2) i{
    margin-left:25/72rem;
    margin-right:25/72rem;
    width:35/72rem;
    background-position:-110/72rem -111/72rem;
}
.bxg-re-list a:nth-child(3) i{
//  margin-top:22/72rem;
    width:35/72rem;
    background-position:-148/72rem -111/72rem;
}