body{
    background: #F0F0F2;
}
.bxg-wish{
    position: absolute;
    top:0;
    right:30/72rem;
    font-size: 28/72rem;
}
.bxg-content{
    position: relative;
    margin-top:160/72rem;
    overflow: hidden;
}
.bxg-bg-white{
    background: #fff;
}
.bxg-wish-icon{
    background: url(../images/wish_icon.png)no-repeat;
    background-size:120/72rem 257/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-tabs{
    position: fixed;
    top:80/72rem;
    width: 100%;
    height:80/72rem;
    line-height:80/72rem;
    z-index:2;
}
.bxg-tabs a{
    width:50%;
    font-size:32/72rem;
    color: #333;
    text-align: center;
}
.bxg-tabs a.bxg-active{
    color: #12B7F5;
    border-bottom: 1px solid #12B7F5;
}
.bxg-content-slide{
    position: relative;
    margin-top:10/72rem ;
    padding:20/72rem;
   
}
.bxg-avactor{
    width:100/72rem;
    height:100/72rem;
    border-radius: 50%;
    overflow: hidden;
    background: red;
}
.bxg-avactor>img{
    width:100%;
    height:100%;
}
.bxg-info{
    width: 570/72rem;
}
.info-name{
    height: 65/72rem;
    line-height: 65/72rem;
    font-size: 28/72rem;
    color: #333333;
}
.info-name>div:last-child{
    margin-top:10/72rem;
    width:31/72rem;
    height:17/72rem;
    background:url(../images/myattention_icon.png)no-repeat -47/72rem -26/72rem;
    background-size:77/72rem 42/72rem;
}
.info-wish{
    font-size: 24/72rem;
    
}
.info-wish>div:first-child{
    color: #12B7F5;
}
.info-wish>div:nth-child(2){
    color: #a1a1a1;
}
.info-wish>div:nth-child(2) span:nth-child(2){
    padding:0 8px;
}
.wish-content{
    padding:20/72rem 10/72rem;
}
.wish-img{
    width:120/72rem;
    height:160/72rem;
}
.wish-img img{
    width:100%;
    height:100%;
}
.wish-info{
    position: relative;
    width:520/72rem;
    font-size: 30/72rem;
}
.wish-info>div:first-child{
    margin-top:10/72rem;
}
.wish-info>div:nth-child(2){
    margin:35/72rem 0;
    font-size: 24/72rem;
    color: #595959;
}
.wish-info>div:nth-child(3){
    font-size: 24/72rem;
}
.wish-search{
    position: absolute;
    bottom:0;
    right:0;
    width:138/72rem;
    height:48/72rem;
    line-height: 48/72rem;
    text-align: center;
    font-size: 24/72rem;
    color: #fff;
    background: #12B7F5;
    border-radius:10/72rem ;
}
.wish-fun{
    margin:20/72rem 10/72rem 10/72rem;
    font-size: 24/72rem;
    color: #8f8f8f;
}
.wish-fun>div:first-child{
    margin: 5/72rem 0;
}
.wish-fun>div:last-child span{
    float:left;
    display:block;
    height:30/72rem;
}
.wish-fun>div:last-child span:first-child{
    width:29/72rem;
    background-position:0 0 ;
}
.wish-fun>div:last-child span.supportActive{
    background-position:0 -35/72rem ;
}
.wish-fun>div:last-child span:nth-child(2){
    margin:3/72rem 60/72rem;
    width:35/72rem;
    background-position:-35/72rem 0;
}
.wish-fun>div:last-child span:nth-child(3){
    margin:3/72rem 0;
    width:30/72rem;
    background-position:-76/72rem 0;
}
.bxg-comment{
    padding:20/72rem 0;
    border-top:1px solid #f0f0f2;
}
.comment-inp{
    width:680/72rem;
    height:60/72rem;
}
.comment-inp input{
    display: block;
    margin:0 auto;
    width:660/72rem;
    height:60/72rem;
    border-radius: 15/72rem;
    border: 1px solid #f0f0f2;
    text-indent: 20/72rem;
}
.bxg-support{
    margin-bottom: 10/72rem;
    height:42/72rem;
    line-height: 42/72rem;
    font-size: 24/72rem;
    color: #12B7F5;
}
.bxg-support i{
    margin-right:10/72rem;
    float:left;
    display:block;
    width: 42/72rem;
    height:43/72rem;
    background-position:-35/72rem -36/72rem;
}
.bxg-message{
    font-size: 24/72rem;
}
.bxg-message>div{
    margin-top:15/72rem;
}
.bxg-message>div a{
    color: #cbcbcb;
}
.other-btn{
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index:3;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}
.wish-alert{
    position: absolute;
    top:50%;
    left:0;
    z-index: 3;
    margin-top:-382/72/2rem;
    width:100%;
    height:382/72rem;
    background: #f5f5f5;
}
.other-fun{
    padding:10/72rem 35/72rem;
    font-size:30/72rem;
    color: #333;
}
.other-fun li{
    height:362/3/72rem;
    line-height:362/3/72rem;
}
.other-fun li i{
    margin:55/2/72rem 20/72rem 0 0;
    float:left;
    display: block;
    height:57/72rem;
}
.other-fun li span{
    float:left;
}
.other-fun li:first-child i{
    width:67/72rem;
    background-position:0 -80/72rem;
}
.other-fun li:nth-child(2) i{
    width:57/72rem;
    background-position:0 -140/72rem;
}
.other-fun li:nth-child(3) i{
    width:53/72rem;
    background-position:0 -199/72rem;
}
.other-fun li:first-child a{
    margin:36/72rem 20/72rem 0;
    display: block;
    float:left;
    width:48/72rem;
    height:48/72rem;
}
.other-fun li:first-child a.qq{
    background-position:-72/72rem -89/72rem;
}
.other-fun li:first-child a.wechat{
    background-position:-72/72rem -140/72rem;
}
.other-fun li:first-child a.friendster{
    background-position:-72/72rem -192/72rem;
}