body{
    background: #F0F0F2;
}
.bxg-content {
    position: relative;
    margin-top: 80/72rem;
}
.bxg-ok{
    position: absolute;
    right:30/72rem;
    font-size: 30/72rem;
    
}
.withdraw-price{
    width: 270/72rem;
    height: 144/72rem;
}
