.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-header-right{
    float:right;
    margin-right:20/72rem;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-feedbacks-head{
    font-size:33/72rem;
    background: #fff;
}
.bxg-feedbacks-head p{
    float:left;
    color:#333;
    font-size:33/72rem;
    height:100/72rem;
    line-height: 100/72rem;
    margin-left:30/72rem;
    float:left;
}
.bxg-feedbacks-head ul li{
    float:left;
    color:#333;
    font-size:33/72rem;
    height:100/72rem;
    line-height: 100/72rem;
    margin-left:30/72rem;
    display: inline-block;
}

.bxg-feedbacks-head-top{
    width:100%;
    height:100/72rem;
    border-bottom:1px solid #ddd;
}
//.bxg-feedbacks-yen{
//  float:left;
//  width:18/72rem;
//  height:18/72rem;
//  border-radius: 50/72rem;
//  background: #12B7F5;
//  margin-top:44/72rem;
//  margin-right:10/72rem;
//}
//
.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    border: 2px solid #12B7F5;
    border-radius: 50/72rem;
    display: inline-block;
    position: relative;
    margin-right:10/72rem;
    margin-top:30/72rem;
    float:left;
  

}

.regular-radio:checked + label:after {
    content: ' ';
    width: 16/72rem;
    height: 16/72rem;
    border-radius: 50/72rem;
    position: absolute;
    top:36/72rem;
    background: #12B7F5;
    
}

.regular-radio:checked + label {
   

}

.regular-radio + label:active, .regular-radio:checked + label:active {
 
}

.big-radio + label {
    padding: 17/72rem;
    
}

.big-radio:checked + label:after {
    width: 26/72rem;
    height: 26/72rem;
    left: 4/72rem;
    top: 4/72rem;
    
}
.bxg-feedbacks-top{
    height:440/72rem;
    width:100%;
}
.bxg-feedbacks-top input{
    width:100%;
   color:#999;
   font-size:30/72rem;
   border:none;
   padding:20/72rem 30/72rem;
   
}
.bxg-feedbacks-main{
    margin-top:20/72rem;
    width:100%;
    height:180/72rem;
    background: #fff;
}
.bxg-feedbacks-main-img{
 
    width:150/72rem;
    height:170/72rem;
    background: url(../images/feedecks.png)no-repeat;
    background-size:210/72rem 184/72rem;
    margin:15/72rem 20/72rem;
   
}
.bxg-feedbacks-footer{
    width:100%;
    height:96/72rem;
    line-height: 96/72rem;
    color:#999;
    
}
.bxg-feedbacks-footer input{
    width:100%;
    height:96/72rem;
    line-height: 96/72rem;
    color:#999;
    border:none;
    padding-left:30/72rem;
    font-size:30/72rem;
    
}

