.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-logistics-head {
  width: 100%;
  height: 2.77777778rem;
  background: #fff;
}
.bxg-logistics-head-img {
  width: 2.16666667rem;
  height: 2.16666667rem;
  box-sizing: border-box;
  margin: 0.33333333rem 0.41666667rem;
  background: url(../images/binding-failure.png);
  background-size: 2.77777778rem 2.77777778rem;
  border: 1px solid #ddd;
  float: left;
  font-size: 0.5rem;
  z-index: 9;
}
.bxg-logistics-head-img p {
  height: 0.52777778rem;
  font-size: 0.38888889rem;
  opacity: 0.2;
  text-align: center;
  float: bottom;
  z-index: 999;
  background: #000;
  margin-top: 1.45833333rem;
  z-index: 9999;
}
.bxg-t {
  color: #fff;
}
.bxg-logistics-head-state {
  margin-top: 0.27777778rem;
  float: left;
}
.bxg-logistics-head p {
  font-size: 0.38888889rem;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  display: block;
  color: #666;
}
.bxg-logistics-head span {
  color: #12B7F5;
}
.bxg-logistics-main {
  width: 100%;
  height: 6.11111111rem;
  background: #fff;
  margin-top: 0.27777778rem;
}
.bxg-logistics-main-list {
  border-left: 1px solid #ddd;
  margin-left: 0.69444444rem;
  margin-top: 0.27777778rem;
}
.bxg-logistics-yem-s {
  width: 0.33333333rem;
  height: 0.33333333rem;
  background: #12B7F5;
  border-radius: 50%;
  float: left;
  margin: 0.41666667rem -0.19444444rem;
  z-index: 3;
  border: 2px solid #92defa;
}
.bxg-logistics-yem {
  width: 0.33333333rem;
  height: 0.33333333rem;
  background: #ddd;
  border-radius: 50%;
  float: left;
  margin: 0.41666667rem -0.19444444rem;
  z-index: 3;
}
.bxg-logistics-main-list li {
  font-size: 0.36111111rem;
  height: 1.5rem;
}
.bxg-logistics-main-list li p {
  color: #666;
  font-size: 0.38888889rem;
  width: 8.33333333rem;
  border-bottom: 1px solid #ddd;
  float: right;
  line-height: 0.69444444rem;
}
.bxg-logistics-main-list span {
  color: #999;
  display: block;
  height: 0.80555556rem;
  line-height: 0.80555556rem;
}
.bxg-logistics-p {
  color: #12B7F5;
  display: block;
}
.bxg-logistics-time {
  color: #12B7F5;
}
.bxg-logistics-foot {
  color: #999;
  font-size: 0.38888889rem;
  width: 100%;
  height: 6.80555556rem;
  text-align: center;
}
.bxg-logistics-foot p {
  margin-top: 4.16666667rem;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
}
