.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
  margin-bottom: 0.27777778rem;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-vs {
  clear: both;
  background: #fff;
  height: 0.83333333rem;
  margin-top: 0.13888889rem;
  margin: 0 0.20833333rem;
  border: 2px solid #fff;
  border-radius: 0.13888889rem;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-passwordlogin-list {
  width: 100%;
}
.bxg-passwordlogin-list ul li {
  width: 100%;
  height: 1.33333333rem;
  margin-top: 0.27777778rem;
  font-size: 0.47222222rem;
  color: #999;
  line-height: 1.33333333rem;
  padding-left: 0.27777778rem;
}
.bxg-passwordlogin-list ul li a {
  color: #999;
}
.bxg-passwordlogin-icon {
  background: url(../images/password.png) no-repeat;
  background-size: 9.02777778rem 9.02777778rem;
}
.bxg-right-icon5 {
  float: right;
  width: 0.61111111rem;
  height: 0.61111111rem;
  background-position: -0.90277778rem -0.72222222rem;
  margin-right: 0.41666667rem;
  margin-top: 0.41666667rem;
}
.bxg-right-icon6 {
  float: right;
  width: 0.61111111rem;
  height: 0.61111111rem;
  background-position: -1.68055556rem -0.72222222rem;
  margin-top: 0.41666667rem;
  margin-right: 0.41666667rem;
}
.bxg-number {
  color: #333;
}
.bxg-num {
  border: none;
  color: #333;
  font-size: 0.47222222rem;
}
.bxg-bj {
  background: #fff;
}
.bxg-next{
  width: 90%;
  border-radius: 0.13888889rem;
  background: #999;
  font-size: 0.5rem;
  text-align: center;
  height: 1.22222222rem;
  line-height: 1.22222222rem;
  color: #fff;
  margin: 0.27777778rem auto;
}
