.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
  box-sizing: border-box;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-logout {
  width: 90%;
  height: 1.22222222rem;
  background: #12B7F5;
  text-align: center;
  color: #fff;
  font-size: 0.45833333rem;
  margin: 0 auto;
  line-height: 1.22222222rem;
  border-radius: 0.11111111rem;
  margin-top: 0.41666667rem;
  margin-bottom: 0.41666667rem;
}
.bxg-logout a {
  color: #fff;
}
.bxg-payment-code-list p {
  font-size: 0.44444444rem;
  text-align: center;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  color: #999;
}
.bxg-payment-code-icon {
  background: url(../images/chenggong.png) no-repeat;
  background-size: 7.83333333rem 4.91666667rem;
}
.bxg-payment-code {
  margin-top: 1.38888889rem;
  width: 4.27777778rem;
  height: 5.55555556rem;
  background-position: -3.33333333rem 0;
  margin: 0 auto;
}
