body {
  font-family: "微软雅黑";
  min-width: 320px;
  max-width: 960px;
  width:100%;
  height:100%;
  margin:0 auto;
  background: #ededed;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
//小图标
.bxg-p-icon1{background:url(../images/personal.png) no-repeat;background-size:720/72rem 460/72rem;}
.bxg-p-head{
    width:720/72rem;
    height:377/72rem;
    background-position:0 -90/72rem;
}
.bxg-head-top{
    padding:18/72rem 30/72rem;
    width:100%;

}
.bxg-head-top a{
    display: block;
    width:60/72rem;
    height:60/72rem;
}
.bxg-set{
    background-position:-390/72rem 0;
}
.bxg-news{
    background-position:-464/72rem 0;
}
.bxg-p-info{
    display: relative;
    padding:25/72rem 38/72rem;
    width:10rem;
}
.bxg-avactor{
    position:relative;
    width:210/72rem;
}
.bxg-avactor span{
    display: block;
    width:170/72rem;
    height:170/72rem;
    border-radius: 50%;
}
.bxg-avactor span img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.bxg-status-warning{
    position: absolute;
    top:150/72rem; 
    width:177/72rem;
    height:42/72rem;
    line-height: 42/72rem;
    font-size:26/72rem;
    text-align: center;
    color: #fff;
    border-radius: 8/72rem;
    background-image:-webkit-linear-gradient(315deg, #ff9a44, #fd7167); 
    background-image:linear-gradient(315deg,#ff9a44,#fd7167);
}
.bxg-info-content{
    padding:5/72rem 40/72rem;
    width:510/72rem;
    font-size:30/72rem;
    color:#fff;
}
.bxg-mobile-status{
    font-size: 20/72rem;
    color: #e4ff03;
}
.bxg-mobile-status:before{
    margin:0 6/72rem 0 15/72rem;
    display:inline-block;
    width:17/72rem;
    height:22/72rem;
    content: '';
    background:url(../images/personal.png) no-repeat -657/72rem 0;
    background-size:720/72rem 460/72rem;
}
.bxg-p-btn{
    margin-top: 44/72rem;
}
.bxg-p-btn a{display:block;}
.bxg-p-btn a:first-child,.bxg-p-btn a:nth-child(2){
    float:left;
    margin-right:36/72rem;
    width:97/72rem;
    height:33/72rem;
    line-height:35/72rem;
    font-size:20/72rem;
    color: #fff;
    border-radius:8/72rem;
    background: #ffac28;
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
.bxg-p-btn a:first-child i{
    display: block;
    margin: 5/72rem 0 5/72rem 11/72rem;
    width:28/72rem;
    height: 24/72rem;
    background:url(../images/personal.png) no-repeat -197/72rem 0;
    background-size:720/72rem 460/72rem;
}
.bxg-p-btn a:nth-child(2) i{
    display: block;
    margin: 5/72rem 0 5/72rem 11/72rem;
    width:28/72rem;
    height: 24/72rem;
    background:url(../images/personal.png) no-repeat -232/72rem 0;
    background-size:720/72rem 460/72rem;
}
.bxg-p-btn a:first-child span,.bxg-p-btn a:nth-child(2) span{
    display: block;
    width:53/72rem;
}
.bxg-p-btn a:nth-child(3){
    clear: both;
    padding-top:32/72rem;
}
.bxg-p-btn a:nth-child(3) span{
    display: block;
    width:48/72rem;
    height:48/72rem;
    border-radius:50%;
    background:#2f2e2d url(../images/personal.png) no-repeat -288/72rem 7/72rem;
    background-size:720/72rem 460/72rem;
}

//红包提示
.bxg-p-tip{
    position: absolute;
    right:0;
    padding:0 13/72rem;
    height:42/72rem;
    line-height: 42/72rem;
    color: #ffba00;
    font-size: 21/72rem;
    background: #2f2e2d;
    border-bottom-left-radius: 10/72rem;
    border-top-left-radius: 10/72rem;
}
.bxg-tip-top{
    top:161/72rem;
}
.bxg-tip-top span:before{
    margin:6/72rem 10/72rem 0 0;
    float:left;
    display:block;
    width:27/72rem;
    height:25/72rem;
    content: '';
    background:url(../images/personal.png) no-repeat -262/72rem 0;
    background-size:720/72rem 460/72rem;
}
.bxg-tip-bottom{
    top:290/72rem;
}

//我执行的行为
.bxg-p-behavior {
    margin-top:30/72rem;
    padding-bottom:19/72rem;
    border-bottom:1px solid #dadada;
}
.bxg-p-behavior ul li{
    float: left;
    width:10/3rem;
    height:42/72rem;
    line-height: 42/72rem;
    text-align: center;
    box-sizing: border-box;
    border-right:1px solid #dadada;
}
.bxg-p-behavior ul li:last-child{
    border-right:none;
}
.bxg-p-behavior ul li a{
    display: block;
    font-size:27/72rem;
    color:#666;
}
//轮播图
.swiper-slide{
    padding:15/72rem 24/72rem;
    height:238/72rem;
    
}
.swiper-slide a{
    display: block;
    width:672/72rem;
    height:202/72rem;
}
.swiper-slide a img{
    display: block;
    width:100%;
    height:100%;
    border-radius: 15/72rem;
}
//背景颜色
.bxg-bg-white{
    background: #fff;
}
.bxg-p-title{
    padding:0 10/72rem 0 24/72rem;
    font-size: 30/72rem;
    height:90/72rem;
    line-height:90/72rem;
    border-bottom: 1px solid #ededed;
}
.bxg-p-title span:first-child:before{
    margin:18/72rem 30/72rem 0 0;
    float:left;
    display:block;
    width:44/72rem;
    height:56/72rem;
    content: '';
}
.bxg-title-order span:first-child:before{
    background:url(../images/personal.png) no-repeat 0 0;
    background-size:720/72rem 460/72rem;
}
.bxg-p-title a{color: #333;}
.bxg-p-title a:after{
    margin:32/72rem 0 0 16/72rem;
    float:right;
    display:block;
    width:44/72rem;
    height:56/72rem;
    content: '';
    background:url(../images/personal.png) no-repeat -132/72rem 0;
    background-size:720/72rem 460/72rem;
}


.bxg-order-list ul{
    padding:35/72rem 0 45/72rem;
}
.bxg-order-list ul li{
    float: left;
    width:10/5rem;
    text-align: center;
}
.bxg-order-list ul li a{
    display: block;
    font-size:30/72rem;
    color: #333;
}
.bxg-order-list ul li a span,
.bxg-order-list ul li i,
.bxg-tool-list ul li i
{
    display:block;
}

.bxg-order-list ul li i{
    margin:0 auto 45/72rem;
    height:60/72rem;
}
//订单状态icon
.bxg-order-icon{
    background: url(../images/p_order_icon.png)no-repeat;
    background-size:685/72rem 60/72rem;
}
.bxg-order-list ul li:first-child i{
    width:75/72rem;
    background-position:-20/72rem 0;
}
.bxg-order-list ul li:nth-child(2) i{
    width:66/72rem;
    background-position:-168/72rem 0;
}
.bxg-order-list ul li:nth-child(3) i{
    width:67/72rem;
    background-position:-304/72rem 0;
}
.bxg-order-list ul li:nth-child(4) i{
    width:73/72rem;
    background-position:-440/72rem 0;
}
.bxg-order-list ul li:nth-child(5) i{
    width:68/72rem;
    background-position:-584/72rem 0;
}

//工具
.bxg-p-tool{
    margin-top:9/72rem;
}
.bxg-tool-list ul li i{
    margin:24/72rem auto 0;
    height:63/72rem;
}
.bxg-title-tool span:first-child:before{
    margin:20/72rem 30/72rem 0 0;
    background:url(../images/personal.png) no-repeat -64/72rem 0;
    background-size:720/72rem 460/72rem;
}
.bxg-tool-list ul li{
    float: left;
    text-align: center;
    width:10/4rem;
    height:10/4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.bxg-tool-list ul li:nth-child(4n){
    border-right:none;
}
.bxg-tool-list ul li a{
    font-size:30/72rem;
    color: #333;
}
//工具列表icon
.bxg-tool-icon{
    background: url(../images/p_tool_icon.png)no-repeat;
    background-size:620/72rem 63/72rem;
}
.bxg-tool-list ul li:first-child i{
    width:64/72rem;
    background-position:0 0;
}
.bxg-tool-list ul li:nth-child(2) i{
    width:68/72rem;
    background-position:-73/72rem 0;
}
.bxg-tool-list ul li:nth-child(3) i{
    width:67/72rem;
    background-position:-155/72rem 0;
}
.bxg-tool-list ul li:nth-child(4) i{
    width:81/72rem;
    background-position:-230/72rem 0;
}
.bxg-tool-list ul li:nth-child(5) i{
    width:64/72rem;
    background-position:-316/72rem 0;
}
.bxg-tool-list ul li:nth-child(6) i{
    width:61/72rem;
    background-position:-389/72rem 0;
}
.bxg-tool-list ul li:nth-child(7) i{
    width:89/72rem;
    background-position:-463/72rem 0;
}
.bxg-tool-list ul li:nth-child(8) i{
    width:49/72rem;
    background-position:-563/72rem 0;
}

//猜你喜欢
.bxg-g-t-content{
    padding:27/72rem 0 22/72rem;
    margin:0 auto;
    width:580/72rem;
}
.bxg-g-t-content>span:first-child{
    float: left;
    margin-right:12/72rem;
    margin-left:30/72rem;
    display:block;
    font-size:39/72rem;
    line-height:56/72rem;
}
.bxg-g-t-content>span:first-child:before{
    display: block;
    float: left;
    margin-top:18/72rem;
    margin-right:10/72rem;
    width:64/72rem;
    height:22/72rem;
    content: '';
    background:url(../images/personal.png) no-repeat -542/72rem 0;
    background-size:720/72rem 460/72rem;
}
.bxg-g-t-content>span:nth-child(2):after{
    display: block;
    float: right;
    margin-top:-12/72rem;
    margin-left:10/72rem;
    width:64/72rem;
    height:22/72rem;
    content: '';
    background:url(../images/personal.png) no-repeat -545/72rem -28/72rem;
    background-size:720/72rem 460/72rem;
}
.bxg-g-t-content>span:nth-child(2){
    display:block;
    float:left;
    margin-right:30/72rem;
    font-size:24/72rem;
    line-height:28/72rem;
}
.bxg-g-t-content>span:nth-child(2) span{
    font-size:11/72rem;
}

//商品列表
.bxg-goods-list ul{
    padding:0 11.5/72rem;
}
.bxg-goods-list ul li{
    float:left;
    margin-top:5/72rem;
    width:346/72rem;
    background: #fff;
}
.bxg-goods-list ul li:nth-child(2n+1){
    margin-right:5/72rem;
}
.bxg-goods-list ul li>a{
    display: block;
    font-size:30/72rem;
    color: #333;
}
.bxg-goods-list ul li>a>img{
    display: block;
    width:346/72rem;
    height:346/72rem;
    background: #FF9A44;
}
.bxg-goods-info{
    padding:14/72rem;
}
.bxg-goods-name{
    line-height: 45/72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
}
.bxg-goods-profit{
    margin:27/72rem 0;
    color: #f90707;
}
.bxg-goods-price{
    color: #f90707;
}
.bxg-add-cart{
    display: block;
    width:29/72rem;
    height:26/72rem;
    background-position:-342/72rem 0 ;
}
