.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-preferences-gender p {
  clear: both;
  color: #999;
  font-size: 0.45833333rem;
  height: 1.52777778rem;
  line-height: 1.52777778rem;
}
.bxg-demo-table {
  width: 100%;
  height: 2.77777778rem;
}
.bxg-preferences-gender {
  color: #999;
  text-align: center;
}
.bxg-demo-table ul li {
  padding: 1.11111111rem;
  background: #fff;
  border-radius: 50%;
  float: left;
  font-size: 0.45833333rem;
  display: block;
  margin-left: 1.11111111rem;
}
.bxg-demo-table ul li p {
  clear: both;
  font-size: 0.45833333rem;
  display: block;
  position: absolute;
  margin-top: 0.69444444rem;
  margin-left: -20%;
}
.bxg-preferences-gender-w {
  margin-top: 0.27777778rem;
  margin-left: 0.69444444rem;
}
.bxg-preferences-gender-w p {
  clear: both;
  color: #999;
  font-size: 0.45833333rem;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  text-align: center;
}
.bxg-preferences-incline {
  margin-top: 0.55555556rem;
}
.bxg-next {
  width: 90%;
  border-radius: 0.13888889rem;
  background: #12B7F5;
  font-size: 0.5rem;
  text-align: center;
  height: 1.22222222rem;
  line-height: 1.22222222rem;
  color: #fff;
  margin: 0.27777778rem auto;
}
.bxg-next a {
  color: #fff;
}
