.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 999;;
}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
body {
  background: #f0f0f2;
  
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
 
.bxg-registered{
    position: relative;
  margin-top: 1.11111111rem;
  background: url(../images/Registration.png)no-repeat;
  background-size:720/72rem 1156/72rem;
  height:1156/72rem;
}
.bxg-registered span{
    float:left;
  height:100/72rem;
  line-height: 100/72rem;
  width:100%;
  text-align: center;
    padding-top:450/72rem;
  color:#666;
  font-size: 36/72rem;
  text-align: center;
}

.bxg-registered p{
  height:100/72rem;
  line-height: 100/72rem;
  width:100%;
  text-align: center;
    padding-top:530/72rem;
  color:#e16655;
  font-size: 42/72rem;
}
.bxg-registered-foot{
    width:576/72rem;
    height:96/72rem;
    background: #E16655;
    border-radius: 50/72rem;
    margin:0 auto;
    text-align: center;
    margin-top:50/72rem;
}
.bxg-registered-foot a{
   font-size:42/72rem;
   text-align: center;
  color:#fff;
}

.bxg-registered-zh{
   margin-top:280/72rem;
    text-align: center;
    font-size:28/72rem;
    color:#999;
}
