.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-voucher-head ul li{
    position: relative;
  
    width:680/72rem;
    height:auto;
    height:260/72rem;
    border:1px solid  #ddd;
    background: #fff;
    margin:20/72rem auto;
    border-radius: 12/72rem;
}
.bxg-voucher-head-left{
   float:left;
    width:240/72rem;
    height:260/72rem;
    background:url(../images/voucher.png)no-repeat;
    background-size:10/72rem 258/72rem;
    border-right:1px dashed #ddd;
}
.bxg-voucher-head{
    color:#666;
    font-size:28/72rem;
    text-align: center;
    height: 260/72rem;
   
}
.bxg-voucher-head-left p{
   font-size: 33/72rem;
   color:#d20f1e;
 
   line-height: 80/72rem;
   text-align: center;
}
.bxg-voucher-head span{
   font-size: 84/72rem;
   color:#d20f1e;
   height: 160/72rem;
   line-height: 160/72rem;
   text-align: center;
   margin-left:20/72rem;
}

.bxg-voucher-head-p{
    color:#666 !important;
    height:30/72rem  !important;
    line-height:30/72rem  !important;
    font-size: 26/72rem;
}
.bxg-voucher-head-right{
    
    height:260/72rem;
    text-align: left;
  
   
}
.bxg-voucher-head-right p{
    float:left;
  height:60/72rem;
  
  
  line-height:60/72rem;
    margin-left:40/72rem;
   
}
.bxg-voucher-right{
    margin-top:40/72rem;
    padding-left:40/72rem ;
}
.bxg-voucher-right-one{
    font-size: 36/72rem;
}
.bxg-voucher-right-two{
    font-size: 28/72rem;
    color:#666;
}
.bxg-voucher-right-three{
    font-size: 26/72rem;
    color:#999;
}