.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-header-right{
    float:right;
    margin-right:20/72rem;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-withdraw-list{
    height:590/72rem;
    height: 590/72rem;
    background: url(../images/withdraw.png);
    background-size:720/72rem 590/72rem; 
}

.bxg-withdraw-icon{
    background:url(../images/member.png)no-repeat;
  background-size:500/72rem 328/72rem;
  display: block;
  
}
.bxg-withdraw{
    width:126/72rem;
    height:126/72rem;
    background-position: -275/72rem -206/72rem ;
    margin:0 auto;
   

}
.bxg-withdraw-list p{
    text-align: center;
    color:#fff;
    font-size: 43/72rem;
    height:50/72rem;
    line-height: 50/72rem;
}
.bxg-money{
    width:190/72rem;
    height:190/72rem;
    margin-top:200/72rem;
    margin:290/72rem auto;
    background-position: -215/72rem 4/72rem ;
}
.bxg-withdraw-footer{
   
   
    width:580/72rem;
    height:500/72rem;
    margin:20/72rem auto;
    display: block;
}
.bxg-withdraw-foot{
    margin-top:100/72rem;
    width:580/72rem;
   
    height:96/72rem;
    background: #12B7F5;
    border-radius: 12/72rem;
    text-align: center;
    
}
.bxg-withdraw-foot a{
  
   
    font-size:36/72rem;
    color:#fff;
}