.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-header-right {
  float: right;
  margin-right: 0.27777778rem;
}
body {
  background: #f0f0f2;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
}
.bxg-withdraw-list {
  height: 8.19444444rem;
  background: url(../images/withdraw.png);
  background-size: 10rem 8.19444444rem;
}
.bxg-withdraw-icon {
  background: url(../images/member.png) no-repeat;
  background-size: 6.94444444rem 4.55555556rem;
  display: block;
}
.bxg-withdraw {
  width: 1.75rem;
  height: 1.75rem;
  background-position: -3.81944444rem -2.86111111rem;
  margin: 0 auto;
}
.bxg-withdraw-list p {
  text-align: center;
  color: #fff;
  font-size: 0.59722222rem;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
}
.bxg-money {
  width: 2.63888889rem;
  height: 2.63888889rem;
  margin-top: 2.77777778rem;
  margin: 4.02777778rem auto;
  background-position: -2.98611111rem 0.05555556rem;
}
.bxg-withdraw-footer {
  width: 8.05555556rem;
  height: 6.94444444rem;
  margin: 0.27777778rem auto;
  display: block;
}
.bxg-withdraw-foot {
  margin-top: 1.38888889rem;
  width: 8.05555556rem;
  height: 1.33333333rem;
  background: #12B7F5;
  border-radius: 0.16666667rem;
  text-align: center;
}
.bxg-withdraw-foot a {
  font-size: 0.5rem;
  color: #fff;
}
