.bxg-header{
    height: 80/72rem;
    width: 100%;
    background: #12b7f5;
    font-size: 33/72rem;
    color: #fefefe;
    text-align: center;
    line-height:80/72rem ;
    }
.bxg-header>a:nth-child(1){
    display: block;
    width: 45/72rem;
    height: 80/72rem;
    float:left;
    margin-left: 30/72rem;
    text-decoration:none;
    }
.bxg-header>a:nth-child(1)>span{
    width: 30/72rem;
    height:58/72rem;
    display: block;
    margin-top: 10/72rem;
    background: url(../../images/my.png)no-repeat;
    background-size:200/72rem;
    background-position:0 0;
    clear: both;
 }

.bxg-header>a:nth-child(2){
    display: block;
    width: 90/72rem;
    height: 78/72rem;
    float: right;
    margin-right: 25/72rem;
    text-decoration:none;
    color:#ffffff;
    }
    .bxg-header>a:nth-child(2)>span:nth-child(1){
    width: 53/72rem;
    height:55/72rem;
    display: inline;
    float: left;
    margin-top: 18/72rem;
    background: url(../../images/my.png)no-repeat;
    background-size:200/72rem;
    background-position:-155/72rem -148/72rem ;
    clear: both;
    }

.bxg-header>a:nth-child(2)>span:nth-child(2){
    width: 15/72rem;
    height:60/72rem;
    float: right;
    display: block;
    margin-top: 13/72rem;
    background: url(../../images/my.png)no-repeat;
    background-size:200/72rem;
    background-position:-50/72rem 0;

    }




//tttt
.pan{
    height: 0/72rem;
    width: 0/72rem;
    position: absolute;
    right: 0;
    float: right;
    background: #363636;
    opacity: 0.9;
//  display:none;
}
//弹出窗
.aaa{
    width: 240/72rem;
    height: 242/72rem;
    display: none;
}
.delate_ejct{
   position: absolute;
   left: 0;
   right: 0;
   top:0;
   bottom:0;
   margin: auto;
   background: #ffffff;
    height: 498/72rem;
    width: 676/72rem;
    border-radius: 20/72rem;
     z-index:1002;  
    overflow: auto; 
     display: none; 
    
}
.delate_ejct>p{
    font-size: 60/72rem;
    color: #6c6a6a;
    height: 300/72rem;
    text-align: center;
    line-height: 300/72rem;
    
}
.delate_ejct>button{
    width: 268/72rem;
    height: 96/72rem;
    color:#ffffff;
    font-size: 39/72rem;
    background: #12b7f5;
    border: 0;
    border-radius: 20/72rem;
    margin: 40/72rem  0 0 33/72rem;
    
   
}
.black_overlay{  
   display: none;  
   position: absolute;  
   top: 0%;  
   left: 0%;  
   width: 100%;  
   height: 100%;  
   background-color: black;  
   z-index:1001;  
   -moz-opacity: 0.8;  
   opacity:.80;  
   filter: alpha(opacity=80);  
} 


.news{
    height: 80/72rem;
    width: 242/72rem;
   border-top: 1px solid #ffffff;
}

.news>a{
    height: 80/72rem;
    width: 242/72rem;
    display:block; 
}
.news>a>span{
    width: 40/72rem;
    height: 45/72rem;
    float: left;
    display: block;
    margin:22/72rem  0  0 25/72rem;
    background: url(../../images/my.png)no-repeat;
    background-size:200/72rem;
    background-position: -4/72rem -109/72rem;
    
}
.fftb{
    float: left;
    text-decoration:none;
    font-weight:normal;
      font-size: 36/72rem;
      color: #ffffff;
      line-height:  80/72rem;
      margin-left: 24/72rem;
}
.news>a>p{
    font-size: 27/72rem;
    float: right;
    width: 35/72rem;
    height: 35/72rem;
   background: #ff0000;
   border-radius: 20/72rem;
   margin-top: 22/72rem;
   text-align: center;
   line-height: 35/72rem;
   color:#ffffff;
   margin-right: 10/72rem;
}
.first{
    height: 80/72rem;
    width: 242/72rem;
   border-top: 1px solid #ffffff;
}
.first>a>span{
     width: 40/72rem;
    height: 45/72rem;
    float: left;
    display: block;
    margin:22/72rem  0  0 25/72rem;
    background: url(../../images/my.png)no-repeat;
    background-size:200/72rem;
    background-position: -160/72rem -101/72rem;
}

.delate{
    height: 80/72rem;
    width: 242/72rem;
   border-top: 1px solid #ffffff;
}
.delate>a>span{
    width: 40/72rem;
    height: 40/72rem;
    float: left;
    display: block;
    margin:22/72rem  0  0 25/72rem;
    background: url(../../images/my.png)no-repeat;
    background-size:200/72rem;
    background-position: -5/72rem -67/72rem;
    
}
