.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 999;

}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:155/72rem 53/72rem;
 
}
.bxg-advice-icon{
    background: url(../images/feedecks.png) no-repeat;
    background-size:210/72rem 180/72rem;
 
}
.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-list{
    right:30/72rem;
    width:60/72rem;
    height:60/72rem;
    background-position:-150/72rem 0;
}
.bxg-search{
    right:100/72rem;
    width:45/72rem;
    background-position:-58/72rem 0;
}

.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
body {
  background: #f0f0f2;
  
}
.bxg-affinity-head{
    margin-top:20/72rem;
    width:100%;
    height:202/72rem;
    background: #fff;
}
.bxg-affinity-head-left{
    width:500/72rem;
    height:202/72rem;
   float:left;
}
.bxg-affinity-head-img{
    width:100/72rem;
    height:100/72rem;
    background: url(../images/preferences.png)no-repeat;
    background-size:100/72rem 100/72rem;
    display: block;
    float:left;
   margin:50/72rem 20/72rem;
}
.bxg-affinity-fa{
  display: block;
  font-size: 20/72rem;
  height:110/72rem;
  line-height:140/72rem;
}
.bxg-affinity-faim{
  display: block;
  font-size: 30/72rem;
  height:80/72rem;
  line-height:30/72rem;
}
.bxg-affinity-head-right{
    float:left;
    width:180/72rem;
    height:202/72rem;
    margin-right:30/72rem;
}
.bxg-myservice-icon{
   background: url(../images/myservice.png)no-repeat;
   background-size:500/72rem 154/72rem;
}
.bxg-love{
    width:78/72rem;
    height:48/72rem;
    background-position:-193/72rem -110/72rem;
    font-size:20/72rem;
    margin-top:70/72rem;
    float:left;
    margin-right:30/72rem;
}
.bxg-affinity-head-right span{
    font-size:20/72rem;
    height:200/72rem;
    line-height: 140/72rem;
    display: block;
    text-align: center;
}

.bxg-affinity-head-right p{
    font-size:54/72rem;
    height:200/72rem;
    line-height: 200/72rem;
    float:right;

}
