
.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 999;
}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
body {
  background: #f0f0f2;
}

.bxg-baixin-member-head{
    box-sizing: border-box;
    text-align: center;
    height:280/72rem;
background: url(../images/prerogative-member.png)no-repeat;
background-position: 0 0;
   
}
.bxg-prerogative-icon{
    background: url(../images/prerogative.png)no-repeat;
    background-size:720/72rem 502/72rem;
    display: block;
}

.bxg-baixin-member-header{
      width:146/72rem;
     height:200/72rem;
      margin:20/72rem;
    background-position: -556/72rem -140/72rem;
}
 .bxg-baixin-member-head-left{
     width:200/72rem;
    height:280/72rem;   
     float:left;
 }

 .bxg-baixin-member-head-right{
     float:left;
     height:280/72rem;
     width:520/72rem;
 }
.bxg-baixin-member-head-right-mobile{
   height: 80/72rem;
   line-height: 80/72rem;
   width:520/72rem;
}
.bxg-baixin-member-head-right-mobile p{
 color:#fff;
 font-size:30/72rem;
 display: inline-block;
}

.bxg-baixin-member-head-right-mobile span{
 color:#ffac28;
 font-size:30/72rem;
 display: inline-block;
}
.bxg-baixin-member-head-right-mobile span a{
 color:#ffac28;
 font-size:30/72rem;
 display: inline-block;
}
.bxg-baixin-list{
    
    width:18/72rem;
    height:24/72rem;
    background-position: -529/72rem -140/72rem;
    margin-left:0/72rem;
   margin-top:45/72rem;
   margin-right:30/72rem;
   display: inline-block;
}
.bxg-bainxin-members-sign{
    width:130/72rem;
    height:30/72rem;
    background: #f2f2f2;
   float:right;
   border-radius: 12/72rem;
     margin-top:30/72rem;
  
}
.bxg-baixin-sign{
    font-size:21/72rem;
    height:28/72rem;
    margin-top:-50/72rem;
    text-align: center;
    margin-left:14/72rem;
    }
.bxg-sign{
    width:26/72rem;
    height:26/72rem;
    background-position:-310/72rem 0 ;
    margin-left:10/72rem;
    margin-top:2/72rem;
  
   
}
.bxg-baixin-member-schedule{
    width:470/72rem;
    height:50/82rem; 
}
.bxg-baixin-member-schedule p{
  font-size:23/72rem;
  height:50/72rem;
line-height:50/72rem;
  color:#ffac28;
  float:right;
   
}
.bxg-baixin-member-schedule span{
 width:14/72rem;
 height:14/72rem;
 border-radius: 50/72rem;
 background: #fff;

}

.bxg-baxin-progress {
    margin-left:30/72rem;
    width:340/72rem;
position:relative;
background-color:#ffac28;
height:8/72rem;
margin-top:24/72rem;
float:left;
}
.bxg-baxin-progress  .bxg-baixin-schedule{

text-align:left;
height:16/72rem;
width:16/72rem;
background: #fff;
border-radius: 50/72rem;
display:block;
}
.bxg-baxin-progress  .bxg-baixin-schedule{background-color:#fff;}
.bxg-baixin-but{
    width:380/72rem;
    height:66/72rem;
}
.bxg-baixin-but div{
    width:138/72rem;
    height:48/72rem;
    background: #FFAC28;
    border-radius: 12/72rem;
    float:left;
    margin-left:40/72rem;
    color:#fff;
    font-size:28/72rem;
    line-height:48/72rem;
    text-align: center;
    margin-top:12/72rem;
}
.bxg-baixin-but-one{
    width:36/72rem;
    height:36/72rem;
    float:left;
    margin-top:8/72rem;
    background-position: -341/72rem 0;
    margin-left:10/72rem;
}
.bxg-baixin-but-two{
    width:36/72rem;
    height:36/72rem;
    float:left;
    margin-top:8/72rem;
    background-position: -378/72rem 0;
    margin-left:10/72rem;
}
.bxg-baixin-integral{
    height:38/72rem;
    line-height: 38/72rem;
   margin:5/72rem 0; 
}
.bxg-baixin-integral p{
    height:38/72rem;
    line-height: 38/72rem;
    font-size:24/72rem;
    color:#FFAC28;
    display: inline-block;float:left;
    margin-left:40/72rem;
    margin-right:20/72rem;
}
.bxg-intergral-three{
    float:left;
    width:30/72rem;
    height:30/72rem;
    background-position: -280/72rem 0;
    margin-top:4/72rem;
   
}
.bxg-bainxin-promotion{
    height:40/72rem;
    line-height: 40/72rem;
    float:right;
}
.bxg-bainxin-promotion p{
    height:40/72rem;
    line-height: 40/72rem;
    font-size:31/72rem;
    float:left;
  
    color:#fff;
}
.bxg-baixin-prerogative-tuo{
    float:left;
    width:18/72rem;
    height:24/72rem;
    background-position: -529/72rem -140/72rem;
    margin-right:20/72rem;
   margin-top:10/72rem;
   display: inline-block;
}
.bxg-prerogative-main{
    clear:both;
    margin-top:20/72rem;
}
.bxg-prerogative-main-head ul li{
    float:left;
    width:176/72rem;
    height:176/72rem;
}
.bxg-prerogative-main-head ul li p{
   text-align: center;
   height:20/72rem;
   line-height: 20/72rem;
   color:#333;
   font-size:30/72rem;
}
.bxg-prerogative-happy{
    width:128/72rem;
    height:128/72rem;
    background-position:-2/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-freight{
     width:128/72rem;
    height:128/72rem;
    background-position:-138/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-gust{
   width:128/72rem;
    height:128/72rem;
    background-position:-280/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;  
}
.bxg-prerogative-preferred{
    width:128/72rem;
    height:128/72rem;
    background-position:-418/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;  
    
}
.bxg-pre-ul{
    float:left;
    margin:20/72rem 0;
    display: block;
}
.bxg-prerogative-finance{
     width:128/72rem;
    height:128/72rem;
    background-position:-2/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-for{
 width:128/72rem;
    height:128/72rem;
    background-position:-138/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-vip{
     width:128/72rem;
    height:128/72rem;
    background-position:-280/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;  
}
.bxg-prerogative-double{
    width:128/72rem;
    height:128/72rem;
    background-position:-418/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;   
}
.bxg-prerogative-footer{
   clear:both;
    height:720/72rem;
}
.bxg-prerogative-footer-head{
    clear:both;
    height:300/72rem;
    
}
.bxg-prerogative-footer-head-top{
    height:100/72rem;
    line-height: 100/72rem;
}
.bxg-prerogative-diamond{
    width:58/72rem;
    height:58/72rem;
     background-position:-462/72rem -128/72rem;
     margin:20/72rem 30/72rem;
     float:left;
}
.bxg-prerogative-footer-head p{

 color:#333;
 height:100/72rem;
 line-height:100/72rem;
 font-size:37/72rem;

    
}
.bxg-prerogative-footer-head-welfare{
    width:49%;
    height:194/72rem;
    float:left;
}

.bxg-prerogative-footer-head-daw-right{
    width:49%;
    height:194/72rem;
    float:right;
}
.bxg-welfare{
    width:130/72rem;
    height:110/72rem;
    background-position: -454/72rem 0;
    margin:30/72rem 5/72rem;
    float:left;
}
.bxg-draw{
    width:130/72rem;
    height:120/72rem;
    background-position: -601/72rem 0;
    margin:30/72rem 5/72rem;
    float:left;

}

.bxg-welfare-p{
     display: inline-block;
  float:left;
  font-size:34/72rem;
  font-weight: bold;  
}

.bxg-prerogative-footer-head-welfare span{
  float:left;
  font-size:22/72rem;
  color:#666;
  height:30/72rem;
  line-height: 30/72rem;
}
.bxg-prerogative-footer-head-daw-right span{
  float:left;
  font-size:22/72rem;
  color:#666;
}
.bxg-welfare-games{
    display:block;
    text-align: center;
}
.bxg-welfare-packet{
    width:100%;
    display: block;
    float:left;
    height:30/72rem;
    line-height: 30/72rem;
  font-size:22/72rem;
  color:#666; 
  text-align:center ;
}
.bxg-packet{
    clear:both;
    width:180/72rem;
    height:174/72rem;
    background-position: -273/72rem -36/72rem;
    margin:40/72rem 80/72rem ;
}
