body {
  background: #f0f0f2;
}

.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 998;
}

.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}

.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    box-sizing: border-box;
}


.bxg-cellular-replenishing-head{
    height:292/72rem;
 
}

.bxg-mobile-pay-icon{
    background: url(../images/mobile-pay.png)no-repeat;
    background-size:720/72rem 800/72rem;
}
 .bxg-china{
     width:720/72rem;
     height:292/72rem;
     background-position:0 0;
 }
.bxg-cellular-replenishing-main{
    height:200/72rem;
 background: #fff;
}
.bxg-cellular-replenishing-main p{
    height:90/72rem;
    line-height: 100/72rem;
    padding-left:30/72rem;
     font-size:42/72rem;
     color:#333;
}
.bxg-cellular-replenishing-main-cost{
     height:90/72rem;
    line-height: 80/72rem;
    color:#666 !important;
    font-size:36/72rem;
    padding-left:30/72rem;
}
.bxg-cellular-replenishing-footer{
    
clear:both;
}

.bxg-cellular-replenishing-footer ul li{
    
  width:206/72rem;
  height:194/72rem;
  background: #fff; 
  color:#12B7F5;
  text-align: center;
  float:left;
  margin:25/72rem 0 0/72rem 25/72rem;
}
.bxg-cellular-replenishing-footer ul li p{
  
  height:96/72rem;
  line-height: 96/72rem;
  background: #fff; 
  color:#12B7F5;
  text-align: center;
}
.bxg-cellular-replenishing-none{
    color:#666 !important;
    font-size: 42/72rem;
    text-align: center;
}
.bxg-cellular-none{
    color:#666 !important; 
     font-size: 32/72rem; 
}
.bxg-cellular-num{
    color:#666 !important;
    font-size: 42/72rem;
    text-align: center;
}
.bxg-cellular-start{
    font-size:32/72rem;
    color:#12B7F5 !important;
}
