.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;

  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
    float:left;
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
  display: inline-block;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
margin-top:80/72rem;
box-sizing: border-box;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-header-right{
    float:right;
    margin-right:20/72rem;
}
body {
  background: #f0f0f2;
}
.bxg-head-girl{
   
    font-size:40/72rem;
    margin-left:100/72rem;
    font-family: "黑体";
  width:500/72rem;
  height:78/72rem;
   display: inline-block;
}
.bxg-head-shop{
     font-size:32/72rem;
   right:50/72rem;
     width:100/72rem;
  height:80/72rem;
  line-height: 80/72rem;
  display:inline-block;
}
.bxg-chat-head{
    height:50/72rem;
    color:#666;
    font-size:24/72rem;
    background: #fff;
    
}
.bxg-chat-head p{
    padding-left:30/72rem;
    line-height: 50/72rem;
}
.bxg-chat-head span{
    width:128/72rem;
    height:34/72rem;
   margin-right:30/72rem;
    line-height: 34/72rem;
    color:#ff0000;
    border:2px solid #ff0000;
    text-align: center;
    float:right;
    margin-top:4/72rem;
}
.bxg-chat-main-time{
    width:246/72rem;
    height:40/72rem;
    line-height: 40/72rem;
    font-size:16/72rem;
    text-align: center;
    background: #d0d0d0;
    border-radius:12/72rem;
    color:#fff;
    margin:30/72rem auto;
}
.bxg-chat-main-details{
    height:158/72rem;
    font-size:30/72rem;
    margin-top:30/72rem;
}
.bxg-chat-icon{
    background: url(../images/chat.png)no-repeat;
    background-size:136/72rem 156/72rem;
} 
.bxg-head{
    float:right;
    width:106/72rem;
    height:106/72rem;
    background-position: 0 0;
    border-radius: 50/72rem;
    margin-right:30/72rem;
    margin-top:25/72rem;

}
.bxg-chat-main-text{
    width:550/72rem;
    float:right;
   position: relative;
    line-height: 60/72rem;
    font-size:30/72rem;
}
.bxg-three{
    float:right;
    width:30/72rem;
    height:34/72rem;
    background-position:-110/72rem -38/72rem;
  margin-right:0/72rem;
    margin-top:50/72rem;
    z-index: 33;
}
.bxg-chat-main-details p{
    width:470/72rem;
    height:150/72rem;
    border-radius: 12/72rem;
    margin: 0 auto;
    font-size: 28/72rem;
    line-height:70/72rem;
  
    background: #fff;
    z-index: 36;
    border:1px solid #ddd;
}
.bxg-chat-main-text-hello{
    padding-left:20/72rem;
    padding-right:10/72rem;
}
.bxg-chat-main-details-left{
    height:158/72rem;
    font-size:30/72rem;
    margin-top:50/72rem;
}

.bxg-chat-main-text-left{
    width:550/72rem;
    float:left;
   position: relative;
    line-height: 60/72rem;
    font-size:30/72rem;
}

.bxg-chat-main-details-left p{
    width:470/72rem;
    height:150/72rem;
    border-radius: 12/72rem;
    margin: 0 auto;
    font-size: 28/72rem;
    line-height:70/72rem;
  
    background: #fff;
    z-index: 36;
    border:1px solid #ddd;
}
.bxg-head-left{
    float:left;
    width:106/72rem;
    height:106/72rem;
    background-position: 0 0;
    border-radius: 50/72rem;
    margin-left:30/72rem;
    margin-top:25/72rem;
    margin-right:20/72rem;

}
.bxg-three-left{
    float:left;
    width:30/72rem;
    height:34/72rem;
    background-position:-110/72rem -3/72rem;
  margin-right:0/72rem;
    margin-top:50/72rem;
    z-index: 33;
}

.wenwen-footer{
    width:100%;
    position:fixed;
    bottom:-5/72rem;
    left:0;
    background:#fff;
    padding:3%;
    border-top:solid 1px #ddd;
    box-sizing:border-box;
    }
    .wenwen_btn,.wenwen_help{
        width:15%;
        text-align:center;
        }
    .wenwen_btn img,.wenwen_help img{
        height:40/72rem;
        }
    .wenwen_text{
        height:60/72rem;
        border-radius:5/72rem;
    border:solid 1px #636162;
    box-sizing:border-box;
    width:66%;
    text-align:center;
    overflow:hidden;
    margin-left:2%;
    margin-top:10/72rem;
    }
    .circle-button{
        padding:0 5/72rem;
        }
    .wenwen_text .circle-button{
        font-size:14/72rem;
        color:#666;
        line-height:60/72rem;
        }
    .write_box{
        background:#fff;
        width:100%;
        height:40/72rem;
        line-height:40/72rem;
        display:none;
        }
    .write_box input{
        height:60/72rem;
        padding:0 5/72rem;
        line-height:60/72rem;
        width:100%;
        box-sizing:border-box;
        border:0;
        }
    .wenwen_help button{
        width:95%;
        background:#ddd;
        color:#fff;
        border-radius:5/72rem;
        border:0;
        height:40/72rem;
        display:none;
        margin-top:20/72rem;
        }
    #wenwen{
        height:100%;
    }
    .speak_window{
        overflow-y:scroll;
        height:100%;
        width:100%;
        position:fixed;
        top:0;
        left:0;
        }
    .speak_box{
        margin-bottom:70/72rem;
        padding:10/72rem;
        }
    .question,.answer{
        margin-bottom:1rem;
        }
    .question{
        text-align:right;
        }
    .question>div{
        display:inline-block;
        }
    .left{
        float:left;
        }
    .right{
        float:right;
        }
    .clear{
        clear:both;
        }
    .heard_img{
        height:60/72rem;
        width:60/72rem;
        border-radius:5/72rem;
        overflow:hidden;
        background:#ddd;
        }
    .heard_img img{
        width:100%;
        height:100%;
        }
    .question_text,.answer_text{
        box-sizing:border-box;
        position:relative;
        display:table-cell;
        min-height:60/72rem;
        }
    .question_text{
        padding-right:20/72rem;
        }
    .answer_text{
        padding-left:20/72rem;
        }
    .question_text p,.answer_text p{
        border-radius:10/72rem;
        padding:.5rem;
        margin:0;
        font-size:14/72rem;
        line-height:28/72rem;
        box-sizing:border-box;
        vertical-align:middle;
        display:table-cell;
        height:60/72rem;
        word-wrap:break-word;
        }
    .answer_text p{
        background:#fff;
        }
    .question_text p{
        background:#42929d;
        color:#fff;
        text-align:left;
        }
    .question_text i,.answer_text i{
        width:0;
        height:0;
        border-top:5/72rem solid transparent;
        border-bottom:5/72rem solid transparent;
        position:absolute;
        top:25/72rem;
        }
    .answer_text i{
        border-right:10/72rem solid #fff;
        left:10/72rem;
        }
    .question_text i{
        border-left:10/72rem solid #42929d;
        right:10/72rem;}
    .answer_text p a{color:#42929d;display:inline-block;}
    audio{display:none;
    }
    .saying{
        position:fixed;
    bottom:30%;
    left:50%;
    width:120/72rem;
    margin-left:-60/72rem;
    display:none;
    }
    .saying img{
    width:100%;
    }
    
    
/*menu*/
  #bxg-meun{
      margin-top:80/72rem;
      height:250/72rem;
      background: #fff;
  }
  #bxg-meun ul li{
      height:84/72rem;
      line-height:84/72rem;
     border-top:1px solid #ddd;
     font-size:30/72rem;
     padding-left:30/72rem;
     display:block;
     
  }
.bxg-chat-one{
    width:33/72rem;
    height:44/72rem;
    background-position:0 -102/72rem ;
    display: inline-block;
    margin-right:20/72rem;  
}
.bxg-chat-two{
    width:32/72rem;
    height:36/72rem;
    background-position:-36/72rem -110/72rem ;
    display: inline-block;
    margin-right:20/72rem;  
    margin-top:15/72rem;
}
.bxg-chat-three{
     width:33/72rem;
    height:44/72rem;
    background-position:0 -102/72rem ;
    display: inline-block;
    margin-right:20/72rem;  
    margin-top:10/72rem;
}
//.bxg-chat-q{
//  background-color:#000;
//  position:absolute;
//  z-index:49;
//  display:none;
//  width:100%;
//  height:100%;
//  opacity:0.6;
//  filter: alpha(opacity=60);
//  -moz-opacity: 0.6;
//  margin: 0px;
//  left: 0px;
//  top: 0px;
//  right: 0px;
//  bottom: 0px;
//}
