body {
  background: #f0f0f2;
}

.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 998;
}

.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}

.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
}

.bxg-payment-failure-icon{
    background: url(../images/payment-faiure.png)no-repeat;
    background-size:720/72rem 960/72rem;
}
.bxg-comment-singl-comment{
    width:720/72rem;
    height:228/72rem;
    background-position:0 -509/72rem;
    margin:0 auto;
}
.bxg-comment-singl p{
    color:#fa6578;
    text-align: center;
    height:100/72rem;
    line-height: 100/72rem;
    font-size:42/72rem;
}
.bxg-comment-singl span{
    display: block;
    text-align: center;
    color:#999;
    text-align: center;
    height:50/72rem;
    line-height:50/72rem;
    font-size:30/72rem;
}

.bxg-comment-singl-button{
    margin-top:20/72rem;
    clear:both;
}
.bxg-comment-singl-Paying a{
   color:#12B7F5;
}
.bxg-comment-singl-index a{
   color:#fff;
}
.bxg-comment-singl-Paying{
      width:256/72rem;
    height:88/72rem;
   border-radius: 12/72rem;
   border:2px solid #12B7F5;
   font-size:40/72rem;
   display: inline-block;
   line-height: 80/72rem;
   text-align: center;
   margin-left:64/72rem;
   color:#12B7F5;
   margin-top:60/72rem;  
}
.bxg-comment-singl-index{
    width:256/72rem;
    height:88/72rem;
   border-radius: 12/72rem;

   font-size:40/72rem;
   display: inline-block;
   line-height: 88/72rem;
   text-align: center;
   margin-left:64/72rem;
   color:#12B7F5;
   margin-top:60/72rem;
   background:#12B7F5;  
}
