body {
  background: #f0f0f2;
}

.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 998;
}

.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}

.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    box-sizing: border-box;
}

.bxg-mobilepay-result-head{
    height:560/72rem;
}
.bxg-mobilepay-icon{
    background: url(../images/mobile-pay.png)no-repeat;
    background-size:720/72rem 800/72rem;
}
.bxg-result{
  width:358/72rem;
    height:326/72rem;
    background-position:0 -474/72rem;  
    margin:50/72rem auto;
}
.bxg-mobilepay-result-head p{
    height:80/72rem;
    line-height: 80/72rem;
    text-align: center;
     font-size:42/72rem;
     color:#333;
}
.bxg-mobilepay-result-head-cost{
     height:80/72rem;
    line-height: 80/72rem;
    color:#666 !important;
    text-align: center;
    font-size:36/72rem;
}
.bxg-mobilepay-result-main{
    height:282/72rem;
    line-height: 80/72rem;
    text-align: center;
     font-size:42/72rem;
     color:#333;
     padding:10/72rem;
     border-top:1px solid #ddd;
}
.bxg-mobilepay-result-main p{
    height:80/72rem;
    line-height: 80/72rem;
   padding-left:30/72rem;
     font-size:32/72rem;
     color:#333;
    text-align: left;
color:#999;
}

.bxg-mobilepay-result-main span{
   float:right;
   padding-right:20/72rem;
    font-size:32/72rem;
}

.bxg-mobilepay-result-footer{
    height:320/72rem;
     font-size:42/72rem;
     color:#333;
     padding:30/72rem;
     border-top:1px solid #ddd;
}
.bxg-mobilepay-result-footer p{
    height:80/72rem;
    line-height: 80/72rem;
   padding-left:30/72rem;
     font-size:32/72rem;
     color:#333;
    text-align: left;
color:#999;
}
.bxg-mobilepay-result-footer span{
   float:right;
   padding-right:20/72rem;
    font-size:32/72rem;
}
.bxg-mobilepay-result-footer-foot p{
    text-align: center;
    height:60/72rem;
    line-height:60/72rem;
    font-size:26/72rem;
    color:#999;
    
}

.bxg-logout{
    width:90%;
    height:88/72rem;
    background: #12B7F5;
    text-align: center;
    color:#fff;
    font-size:42/72rem;
    margin:15/72rem auto;
    line-height: 88/72rem;
    border-radius: 12/72rem;
   
}


