body {
  background: #f0f0f2;
}
.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 998;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  box-sizing: border-box;
}
.bxg-mobilepay-result-head {
  height: 7.77777778rem;
}
.bxg-mobilepay-icon {
  background: url(../images/mobile-pay.png) no-repeat;
  background-size: 10rem 11.11111111rem;
}
.bxg-result {
  width: 4.97222222rem;
  height: 4.52777778rem;
  background-position: 0 -6.58333333rem;
  margin: 0.69444444rem auto;
}
.bxg-mobilepay-result-head p {
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  text-align: center;
  font-size: 0.58333333rem;
  color: #333;
}
.bxg-mobilepay-result-head-cost {
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  color: #666 !important;
  text-align: center;
  font-size: 0.5rem;
}
.bxg-mobilepay-result-main {
  height: 3.91666667rem;
  line-height: 1.11111111rem;
  text-align: center;
  font-size: 0.58333333rem;
  color: #333;
  padding: 0.13888889rem;
  border-top: 1px solid #ddd;
}
.bxg-mobilepay-result-main p {
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  padding-left: 0.41666667rem;
  font-size: 0.44444444rem;
  color: #333;
  text-align: left;
  color: #999;
}
.bxg-mobilepay-result-main span {
  float: right;
  padding-right: 0.27777778rem;
  font-size: 0.44444444rem;
}
.bxg-mobilepay-result-footer {
  height: 4.44444444rem;
  font-size: 0.58333333rem;
  color: #333;
  padding: 0.41666667rem;
  border-top: 1px solid #ddd;
}
.bxg-mobilepay-result-footer p {
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  padding-left: 0.41666667rem;
  font-size: 0.44444444rem;
  color: #333;
  text-align: left;
  color: #999;
}
.bxg-mobilepay-result-footer span {
  float: right;
  padding-right: 0.27777778rem;
  font-size: 0.44444444rem;
}
.bxg-mobilepay-result-footer-foot p {
  text-align: center;
  height: 0.83333333rem;
  line-height: 0.83333333rem;
  font-size: 0.36111111rem;
  color: #999;
}
.bxg-logout {
  width: 90%;
  height: 1.22222222rem;
  background: #12B7F5;
  text-align: center;
  color: #fff;
  font-size: 0.58333333rem;
  margin: 0.20833333rem auto;
  line-height: 1.22222222rem;
  border-radius: 0.16666667rem;
}
