body{
    background: #f0f0f2;
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
}
.bxg-f-title{
    padding:0 30/72rem;
    height:70/72rem;
    line-height: 70/72rem;
    font-size:30/72rem;
    color: #adadad;
}
.bxg-tool-list{
    background: #fff;
}
.bxg-tool-list ul li{
    float: left;
    text-align: center;
    width:10/4rem;
    height:10/4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.bxg-tool-list ul li:nth-child(4n){
    border-right:none;
}
.bxg-tool-list ul li a{
    display: block;
    font-size:28/72rem;
    color: #333;
}
.bxg-tool-list ul li i{
    display: block;
    margin:25/72rem auto;
    height:63/72rem;
}
.bxg-moretool-icon{
    background: url(../images/more_tool.png)no-repeat;
    background-size:612/72rem 215/72rem;
}
//资产权益
.bxg-forum-1 .bxg-tool-list ul li:first-child i{
    width:62/72rem;
    background-position:0 0;
}
.bxg-forum-1 .bxg-tool-list ul li:nth-child(2) i{
    width:67/72rem;
    background-position:-78/72rem 0;
}
.bxg-forum-1 .bxg-tool-list ul li:nth-child(3) i{
    width:59/72rem;
    background-position:-162/72rem 0;
}
.bxg-forum-1 .bxg-tool-list ul li:nth-child(4) i{
    width:60/72rem;
    background-position:-238/72rem 0;
}
.bxg-forum-1 .bxg-tool-list ul li:nth-child(5) i{
    width:83/72rem;
    background-position:-321/72rem 0;
}
.bxg-forum-1 .bxg-tool-list ul li:nth-child(6) i{
    width:41/72rem;
    background-position:-423/72rem 0;
}
.bxg-forum-1 .bxg-tool-list ul li:nth-child(7) i{
    width:45/72rem;
    background-position:-486/72rem 0;
}
//互动参与
.bxg-forum-2 .bxg-tool-list ul li:first-child i{
    width:64/72rem;
    background-position:0 -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(2) i{
    width:67/72rem;
    background-position:-80/72rem -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(3) i{
    width:69/72rem;
    background-position:-159/72rem -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(4) i{
    width:63/72rem;
    background-position:-238/72rem -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(5) i{
    width:78/72rem;
    background-position:-322/72rem -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(6) i{
    width:76/72rem;
    background-position:-414/72rem -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(7) i{
    width:64/72rem;
    background-position:-505/72rem -76/72rem;
}
.bxg-forum-2 .bxg-tool-list ul li:nth-child(8) i{
    width:64/72rem;
    background-position:0 -152/72rem;
}
//实用工具
.bxg-forum-3 .bxg-tool-list ul li:first-child i{
    width:70/72rem;
    background-position:-77/72rem -152/72rem;
}
.bxg-forum-3 .bxg-tool-list ul li:nth-child(2) i{
    width:50/72rem;
    background-position:-164/72rem -152/72rem;
}
//实用工具
.bxg-forum-4 .bxg-tool-list ul li:first-child i{
    width:80/72rem;
    background-position:-230/72rem -152/72rem;
}
.bxg-forum-4 .bxg-tool-list ul li:nth-child(2) i{
    width:64/72rem;
    background-position:-322/72rem -152/72rem;
}
.bxg-forum-4 .bxg-tool-list ul li:nth-child(3) i{
    width:69/72rem;
    background-position:-402/72rem -151/72rem;
}
.bxg-forum-4 .bxg-tool-list ul li:nth-child(4) i{
    width:68/72rem;
    background-position:-497/72rem -152/72rem;
}
.bxg-space-bottom{
   padding-bottom:152/72rem;
}
