.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-demo-table tr td {
  padding: 0.13888889rem 0.80555556rem;
  font: 16/72rem/1.8 normal 'microsoft yahei';
  vertical-align: top;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
margin-top:80/72rem;
box-sizing: border-box;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
.bxg-header-right{
    float:right;
    margin-right:20/72rem;
}
body {
  background: #f0f0f2;
}
.bxg-mygift-head{
    margin-top:20/72rem;
    height:210/72rem;
    background: #fff;
}
.bxg-mygift-icon{
   
    background: url(../images/mygift.png)no-repeat;
    background-size:188/72rem 226/72rem;
   
   
}
.bxg-mygift-product{
   width:188/72rem;
   height:188/72rem;  
   background-position:0 0;
  float:left;
 
    margin:10/72rem 30/72rem;
}
.bxg-mygift-head p{
    font-size:24/72rem;
    margin-right:30/72rem;
    line-height: 50/72rem;
}
.bxg-mygift-girl{
    float:left;
    width:32/72rem;
    height:32/72rem;
    border-radius: 50/72rem;
    background-position:0 -190/72rem;
    margin-top:58/72rem;
    margin-right:20/72rem;
    
}
.bxg-mygift-time{
    height:60/72rem;
    line-height: 60/72rem;
    margin-top:46/72rem;
    text-align: left;
}
.bxg-mygift-head span{
   text-align: right; 
   color:#999;
   margin-left:52/72rem;
}
