body {
  background: #f0f0f2;
}
.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 998;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
  box-sizing: border-box;
}
.bxg-payment-failure-icon {
  background: url(../images/payment-faiure.png) no-repeat;
  background-size: 10rem 13.33333333rem;
}
.bxg-approval {
  width: 10rem;
  height: 3.88888889rem;
  background-position: 0 0;
  margin: 0 auto;
}
.bxg-payment-approval p {
  color: #12B7F5;
  text-align: center;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
  font-size: 0.58333333rem;
}
.bxg-payment-approval span {
  display: block;
  color: #999;
  text-align: center;
  height: 0.69444444rem;
  line-height: 0.69444444rem;
  font-size: 0.41666667rem;
}
.bxg-payment-approval-Paying a {
  color: #12B7F5;
}
.bxg-payment-approval-index a {
  color: #fff;
}
.bxg-payment-approval-Paying {
  width: 3.55555556rem;
  height: 1.22222222rem;
  border-radius: 0.16666667rem;
  border: 2px solid #12B7F5;
  font-size: 0.55555556rem;
  display: inline-block;
  line-height: 1.11111111rem;
  text-align: center;
  margin-left: 0.88888889rem;
  color: #12B7F5;
  margin-top: 0.83333333rem;
}
.bxg-payment-approval-index {
  width: 3.55555556rem;
  height: 1.22222222rem;
  border-radius: 0.16666667rem;
  font-size: 0.55555556rem;
  display: inline-block;
  line-height: 1.11111111rem;
  text-align: center;
  margin-left: 0.88888889rem;
  color: #12B7F5;
  margin-top: 0.83333333rem;
  background: #12B7F5;
}
