.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 998;
}

.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
}


body {
  background: #f0f0f2;
}
#bxg_tixing{
    width:100%;
    height:50/72rem; 
    line-height: 50/72rem;
    z-index: 999;
    background:#ffd778;
    font-size:26/72rem;
  padding-left:30/72rem;
display: none;
}
.bxg-paymentparticulars-head{
    margin-top:20/72rem;
    height:340/72rem;
    background: #fff;
}
.bxg-paymentparticulars-head-top{
height:84/72rem;
line-height: 84/72rem;
font-size:32/72rem;
color:#666;
padding-left:30/72rem;
}
.bxg-paymentparticulars-head-main{
height:256/72rem;
border-top:1px solid #ddd;
font-size:32/72rem;
color:#666;
padding-left:30/72rem;
}
.bxg-paymentparticulars-head-main p{
height:84/72rem;
line-height: 84/72rem;
}
.bxg-paymentparticulars-main{
    
    height:430/72rem;
    background: #fff;
    margin-top:20/72rem;
    
}
.bxg-paymentparticulars-main span{
    
   color:#12B7F5;
    
}
.bxg-paymentparticulars-footer{
    height:500/72rem;
    background: #fff;
 
    margin-top:20/72rem;
}
.bxg-paymentparticulars-footer-top{
    height:500/72rem;
    border-bottom:1px solid #ddd;
    margin-top:20/72rem;
}
.bxg-paymentparticulars-footer-top-head{
    height:100/72rem;
    background:#fff;
 

}
.bxg-paymentparticulars-icon{
    background: url(../images/paymentparticulars.png)no-repeat;
    background-size:120/72rem 120/72rem;
   
}
.bxg-bxg{
    width:38/72rem;
    height:38/72rem;
    background-position:0 0;
   margin:28/72rem;
   float:left;
  
}

.bxg-paymentparticulars-footer-top-head p{
   float:left;
   font-size:33/72rem;
    color:#333;
    height:90/72rem;
    line-height: 90/72rem;
    margin-right:30/72rem;
}
.bxg-left{
    width:26/72rem;
    height:40/72rem;
    background-position:-83/72rem 0;
    float:left;
    margin-top:30/72rem;
  
}
.bxg-paymentparticulars-footer-main{
    height:400/72rem;
   background: #fafafa;
   
}
.bxg-header-girl{
    width:150/72rem;
    height:150/72rem;
    background: url(../images/preferences-gender.png)no-repeat;
    background-size:150/72rem 150/72rem;
    margin:20/72rem;
    float:left;
    border:1px solid #ddd;
}
.bxg-paymentparticulars-footer-main p{
    margin-top:20/72rem;
    float:left;
   font-size:23/72rem;
   margin-left:20/72rem;
   width:400/72rem;
   line-height: 40/72rem;
   
}
.bxg-paymentpar-text{
    font-size:36/72rem !important;
    color:#fa9f0f;
}
.bxg-paymentpar-num{
    color:#333;
    float:right;
    font-size:24/72rem;
}
.bxg-paymentparticulars-footer-foot{
    height:206/72rem;
    background: #fff;
    clear:both;
}
.bxg-paymentparticulars-footer-foot-top{
    height:70/72rem;
   
}
.bxg-paymentparticulars-footer-foot-top p{
    width:320/72rem;
    line-height: 50/72rem;
    float:left;
    display: inline-block;
    text-align: right;
}
 
    .bxg-paymentparticulars-footer-foot-main ul{
        margin-top:20/72rem;
    list-style:none; 
    float:right; 

    line-height: 42/72rem; 
    margin-right:20/72rem;
    }

   
    .navdown{
    color:#12B7F5; 
    border:2px solid #12B7F5;
    display:inline-block;
    width:158/72rem;
    height:58/72rem;
    border-radius: 50/72rem; 
    font-size:26/72rem;
     text-align: center;
        line-height: 58/72rem;
    }
    
.bxg-payment-foot-border{
     font-size:26/72rem; 
        font-style:normal; 
     
        letter-spacing:1px; 
        width:158/72rem;
        height:58/72rem;
        color:#333;
        border:2px solid #ddd;
        border-radius: 50/72rem;
        text-align: center;
        line-height: 58/72rem;
        display: inline-block;
        margin-left:30/72rem;
}

.bxg-paymentparticulars-last{
    clear:both;
    height:320/72rem;
    background: #fff;
    margin-top:20/72rem;
}
.bxg-paymentparticulars-last span{
    color:#12B7F5;
    font-size:23/72rem;
    text-align: right;
}
.bxg-paymentparticulars-last p{
    color:#666;
    font-size:23/72rem;
    text-align: right;
    height:60/72rem;
    line-height: 60/72rem;
    margin-right:30/72rem;
}
.bxg-paymentparticulars-last a{
  color:#fff;
}
.bxg-logistics{
      width:242/72rem;
    color:#666;
    font-size:42/72rem;
    text-align: right;
    height:86/72rem;
    line-height: 86/72rem;
    border-radius: 12/72rem;
    margin-right:30/72rem;
    background: #12B7F5;
    color:#fff;
    float:right;
    text-align: center;
    margin:30/72rem 0;
}
