
.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 999;
}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
body {
  background: #f0f0f2;
}

.bxg-prerogative-head{
    text-align: center;
    height:320/72rem;
    background: #ec9613;
    line-height: 290/72rem;
   
}
.bxg-prerogative-icon{
    background: url(../images/prerogative.png)no-repeat;
    background-size:720/72rem 502/72rem;
    display: block;
}
.bxg-prerogative-head a{
  
   color:#fff;
   font-size:22/72rem ; 
   width:100%;

}
 .bxg-prerogative-head-one{
     width:272/72rem;
     height:220/72rem;
     background-position: 0 -8/72rem;
     margin:0 auto;

 }
.waic{
    width:100%;
    height:80/72rem;

    /*padding: 30px;*/
}
.hengxian{
    width: 100%;
    height:4/72rem;
    background-color:#fff;
    opacity: 0.5;
}
.hongxian{
    width: 0;
    height: 4/72rem;
    background-color: #df7813;
    opacity: 0.4;
}
.yixiaof{
    float:left;
    color: #ff6933;
    display: inline-block;
    line-height: 18/72rem;
    font-size: 13/72rem;
    position: relative;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.dingwei{
    width: 13px;
    position: relative;
    top: 3px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.yifen{
    -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1; /* OLD - Firefox 19- */
    width: 20%; /* For old syntax, otherwise collapses. */
    -webkit-flex: 1; /* Chrome */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.yixif{
    width:100%;
    height:50/72rem;
    padding-left:30/72rem;
    padding-right:30/72rem;
}
.flexbox {
    display: box; /* OLD - Android 4.4- */
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.jucol{

}
.dengji{
    text-align: center;
    font-size: 13/72rem;
    line-height: 20/72rem;
    float: left;
}
.dengji img{
    width: 16/72rem;
}
.djwai{
    position: relative;
    top: -8/72rem;
    height: 62/72rem;
}
.jucol{
    color: #ff6933;
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);    
    filter: grayscale(100%);    
    filter: gray;
}
.dingwei{
    float:left;
}
/*进度条结束*/
.bxg-prerogative-main-head{
     text-align: center;
    font-size:24/72rem;
    height:80/72rem;
    line-height: 10/72rem;
    color:#ec9613;
}
.bxg-prerogative-icon{
   
    background: url(../images/prerogative.png)no-repeat;
    background-size:720/72rem 502/72rem;
}
 .bxg-prerogative-one{
     margin:40/72rem auto;

     height:17/72rem;
     background-position:0 -357/72rem;
   
 }
.xiapa{
    padding-left:30/72rem;
    padding-right:30/72rem;
}
.bxg-prerogative-main-head ul li{
    float:left;
    width:176/72rem;
    height:176/72rem;
}
.bxg-prerogative-main-head ul li p{
   text-align: center;
   height:20/72rem;
   line-height: 20/72rem;
   color:#333;
   font-size:30/72rem;
}
.bxg-prerogative-happy{
    width:128/72rem;
    height:128/72rem;
    background-position:-2/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-freight{
     width:128/72rem;
    height:128/72rem;
    background-position:-138/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-gust{
   width:128/72rem;
    height:128/72rem;
    background-position:-280/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;  
}
.bxg-prerogative-preferred{
    width:128/72rem;
    height:128/72rem;
    background-position:-418/72rem -229/72rem;
    margin:0 20/72rem 20/72rem;  
    
}
.bxg-pre-ul{
    float:left;
    margin:20/72rem 0;
}
.bxg-prerogative-finance{
     width:128/72rem;
    height:128/72rem;
    background-position:-2/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-for{
 width:128/72rem;
    height:128/72rem;
    background-position:-138/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;
}
.bxg-prerogative-vip{
     width:128/72rem;
    height:128/72rem;
    background-position:-280/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;  
}
.bxg-prerogative-double{
    width:128/72rem;
    height:128/72rem;
    background-position:-418/72rem -374/72rem;
    margin:0 20/72rem 20/72rem;   
}
.bxg-prerogative-footer{
   clear:both;
    height:720/72rem;
}
.bxg-prerogative-footer-head{
    clear:both;
    height:300/72rem;
    
}
.bxg-prerogative-footer-head-top{
    height:100/72rem;
    line-height: 100/72rem;
}
.bxg-prerogative-diamond{
    width:58/72rem;
    height:58/72rem;
     background-position:-462/72rem -128/72rem;
     margin:20/72rem 30/72rem;
     float:left;
}
.bxg-prerogative-footer-head p{

 color:#333;
 height:100/72rem;
 line-height:100/72rem;
 font-size:37/72rem;

    
}
.bxg-prerogative-footer-head-welfare{
    width:49%;
    height:194/72rem;
    float:left;
}

.bxg-prerogative-footer-head-daw-right{
    width:49%;
    height:194/72rem;
    float:right;
}
.bxg-welfare{
    width:130/72rem;
    height:110/72rem;
    background-position: -454/72rem 0;
    margin:30/72rem 5/72rem;
    float:left;
}
.bxg-draw{
    width:130/72rem;
    height:120/72rem;
    background-position: -601/72rem 0;
    margin:30/72rem 5/72rem;
    float:left;

}

.bxg-welfare-p{
     display: inline-block;
  float:left;
  font-size:34/72rem;
  font-weight: bold;  
}

.bxg-prerogative-footer-head-welfare span{
  float:left;
  font-size:22/72rem;
  color:#999;
}
.bxg-prerogative-footer-head-daw-right span{
  float:left;
  font-size:22/72rem;
  color:#666;
}
.bxg-welfare-games{
    display:block;
    text-align: center;
}
.bxg-welfare-packet{
    width:100%;
    display: block;
    float:left;
    height:30/72rem;
    line-height: 30/72rem;
  font-size:22/72rem;
  color:#666; 
  text-align:center ;
}
.bxg-packet{
    clear:both;
    width:180/72rem;
    height:174/72rem;
    background-position: -273/72rem -36/72rem;
    margin:40/72rem 80/72rem ;
}
