
.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 999;
}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
body {
  background: #f0f0f2;
}

.bxg-submitaudit-header{
    float:left;
    width:100%;
    height:200/72rem;
    background: #fff;
 

}
.bxg-submitaudit-header-left{
    width:150/72rem;
    height:150/72rem;
    background: url(../images/preferences-gender1.png)no-repeat;
    display: block;
    border:1px solid red;
    margin:25/72rem !important;
    float:left;
}
.bxg-submitaudit-header-right{
    height:150/72rem;
    font-size:21/72rem;
    padding:20/72rem;
    color:#666;
}
.bxg-submitaudit-header-right-s{
    font-size:32/72rem !important;
}
.bxg-submitaudit-header-right p{
    height:50/72rem;
    display: block;
    font-size:21/72rem;
    line-height: 60/72rem;
    color:#666;
}
.bxg-submitaudit-header-right span{
  color:#12B7F5;
}
.bxg-submitaudit-main{
    clear:both;
    height:750/72rem;
}
.bxg-submitaudit-main{
 padding-top:20/72rem;
 height:750/72rem;
}
.bxg-index{
    width:90%;
    height:88/72rem;
    background: #12B7F5;
    border-radius: 12/72rem;
    margin:0 auto;
    text-align: center;
    line-height: 88/72rem;
    font-size:42/72rem;
}
.bxg-index a{
    color:#fff;
}
.bxg-submitaudit-main-top{
    border-left:2px solid #12B7F5;
    margin-left:50/72rem;
    margin-top:30/72rem;
    color:#12B7F5;
}
.bxg-submitaudit-main-top-hui{
    border-left:2px solid #ddd;
    margin-left:50/72rem;
    color:#666;
}
.bxg-submitaudit-main ul li{
    height:150/72rem;
    line-height: 150/72rem;
    font-size:36/72rem;
}
.bxg-submitaudit-main-top span{
    float:left;
  width:46/72rem;
  height:46/72rem;
  border:3px solid #12B7F5;
  border-radius: 50/72rem;
    margin-top:50/72rem;
   margin-left:-30/72rem;
    margin-right:20/72rem;
    z-index: 55;
     display: inline-block;
}
.bxg-submitaudit-main-top-hui span{
    float:left;
  width:46/72rem;
  height:46/72rem;
  border:3px solid #ddd;
  border-radius: 50/72rem;
    margin-top:50/72rem;
   margin-left:-30/72rem;
    margin-right:20/72rem;
    z-index: 55;
     display: inline-block; 
}
.bxg-submit-blue{
    border-radius: 50/72rem;
    float:left;
    color:#12B7F5;
   width:38/72rem;
   height:38/72rem;
   background: #12B7F5;
   margin-right:20/72rem;
     z-index: 52;
     display: inline-block;
     margin:0 auto;
     margin-top: 4/72rem;
margin-left: 4/72rem;
}
.bxg-submit-hui{
    border-radius: 50/72rem;
    float:left;
    color:#12B7F5;
   width:38/72rem;
   height:38/72rem;
   background: #ddd;
   margin-top:4/72rem;
   margin-left:4/72rem;
    margin-right:20/72rem;
}