
.bxg-header{
    position: fixed;
    top:0;
    width:100%;
    height:80/72rem;
    line-height: 82/72rem;
    background: #12b7f5;
    text-align: center;
    color: #fff;
    font-size:40/72rem;
    z-index: 999;
}
.bxg-head-icon{
    background: url(../images/head_icon.png) no-repeat;
    background-size:207/72rem 52/72rem;
 
}
.bxg-back,.bxg-list,.bxg-search{
    position: absolute;
    top:27/2/72rem;
    height:53/72rem;
    display: block;
}
.bxg-back{
    left:30/72rem;
    width:28/72rem;
    background-position:0 0;
}
.bxg-list{
    right:15/72rem;
    width:16/72rem;
    background-position:-34/72rem 0;

}
.bxg-content{
    position: relative;
    margin-top:80/72rem;
    box-sizing: border-box;
}
.bxg-between{
    display: -webkit-box;  
    display: -webkit-flex;  
    display: -ms-flexbox;  
    display: flex;   
    -webkit-box-pack: justify;  
    -webkit-justify-content: space-between;  
    -ms-flex-pack:justify ;  
    justify-content: space-between; 
}
body {
  background: #f0f0f2;
}

.bxg-transfer-head{
    height:556/72rem;
    background: #fff;
}
.bxg-transfer-head ul li{
    height:110/72rem;
    line-height: 110/72rem;
    font-size:42/72rem;
    color:#333;
    padding-left:30/72rem;
    border-top:1px solid #ddd;
}
.bxg-transfer-head ul li input{
   color:#999;
   font-size:32/72rem;
   border:none;
   padding-left:30/72rem;
}
//弹框开始
#bxg_cause {
    height:588/72rem;
    width:86%;
    margin:0 auto;
    margin-right: auto;
    margin-left: auto;
    z-index: 50;
    display: none;
    position: relative;
    background-color: #FFF;
    border-radius: 12/72rem;
}
#bxg_cause #bxg_win_top {
    height: 90/72rem;
    border-bottom-style: solid;
    border-bottom-color: #999;
    line-height: 90/72rem;
    color: #666;
    font-size:24/72rem;
}
#bxg_cause #bxg_win_top a {
    float: right;
    margin-right: 5/72rem;
    color:#999;
    padding-right:20/72rem;
}
#bxg_sel {
    background-color:#000;
    position:absolute;
    z-index:49;
    display:none;
    width:100%;
    height:1280/72rem;
    opacity:0.4;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    margin: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
#bxg_cause .bxg-refund-main-cause {
    margin-top: 5/72rem;
    margin-right: 30/72rem;
    margin-left: 30/72rem;
}
.bxg-refund-main-cause ul li{
    color:#666;
    height:100/72rem;
    line-height: 80/72rem;
    border:none;
}
#bxg_win_top p{
    width:500/72rem;
    float:left;
    text-align: center;
    font-size: 34/72rem;
    display: inline-block;
    
}
.bxg-abrogate{
   text-align: right;
   font-size:32/72rem;
   height:60/72rem;
   line-height: 60/72rem;
   color:#12B7F5;
   padding-right:20/72rem;
}

.bxg-transfer-input{
      text-align: right;
      width:480/72rem;
}

.bxg-right-icon{
    float:right;
    margin-top:30/72rem;
    width:40/72rem;
    height:53/72rem;
    background-position:-150/72rem 0;
    padding-left:30/72rem;
 
}
/* input 按钮*/


.regular-radio {
    display: none;
}

.regular-radio + label {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    margin-right:20/72rem;
}

.regular-radio:checked + label:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background: #12B7F5;
    text-shadow: 0px;
    left: 3px;
    font-size: 32px;
}

.regular-radio:checked + label {
   
    color: #99a1a7;
    border: 2px solid #12B7F5;
 
}

.regular-radio + label:active, .regular-radio:checked + label:active {
}

.big-radio + label {
    padding: 16px;
}

.big-radio:checked + label:after {
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}

.bxg-transfer-logout{
    width:90%;
    height:88/72rem;
    background: #12B7F5;
    text-align: center;
    color:#fff;
    font-size:33/72rem;
    margin:0 auto;
    line-height: 88/72rem;
    border-radius: 12/72rem;
 margin-top:30/72rem;
 margin-bottom:30/72rem;
    
}
.bxg-transfer-logout a{
   color:#fff;
}
