.bxg-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1.11111111rem;
  line-height: 1.13888889rem;
  background: #12b7f5;
  text-align: center;
  color: #fff;
  font-size: 0.55555556rem;
  z-index: 999;
}
.bxg-head-icon {
  background: url(../images/head_icon.png) no-repeat;
  background-size: 2.875rem 0.72222222rem;
}
.bxg-back,
.bxg-list,
.bxg-search {
  position: absolute;
  top: 0.1875rem;
  height: 0.73611111rem;
  display: block;
}
.bxg-back {
  left: 0.41666667rem;
  width: 0.38888889rem;
  background-position: 0 0;
}
.bxg-list {
  right: 0.20833333rem;
  width: 0.22222222rem;
  background-position: -0.47222222rem 0;
}
.bxg-content {
  position: relative;
  margin-top: 1.11111111rem;
  box-sizing: border-box;
}
.bxg-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify ;
  justify-content: space-between;
}
body {
  background: #f0f0f2;
}
.bxg-transfer-head {
  height: 7.72222222rem;
  background: #fff;
}
.bxg-transfer-head ul li {
  height: 1.52777778rem;
  line-height: 1.52777778rem;
  font-size: 0.58333333rem;
  color: #333;
  padding-left: 0.41666667rem;
  border-top: 1px solid #ddd;
}
.bxg-transfer-head ul li input {
  color: #999;
  font-size: 0.44444444rem;
  border: none;
  padding-left: 0.41666667rem;
}
#bxg_cause {
  height: 8.16666667rem;
  width: 86%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  z-index: 50;
  display: none;
  position: relative;
  background-color: #FFF;
  border-radius: 0.16666667rem;
}
#bxg_cause #bxg_win_top {
  height: 1.25rem;
  border-bottom-style: solid;
  border-bottom-color: #999;
  line-height: 1.25rem;
  color: #666;
  font-size: 0.33333333rem;
}
#bxg_cause #bxg_win_top a {
  float: right;
  margin-right: 0.06944444rem;
  color: #999;
  padding-right: 0.27777778rem;
}
#bxg_sel {
  background-color: #000;
  position: absolute;
  z-index: 49;
  display: none;
  width: 100%;
  height: 17.77777778rem;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  margin: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
#bxg_cause .bxg-refund-main-cause {
  margin-top: 0.06944444rem;
  margin-right: 0.41666667rem;
  margin-left: 0.41666667rem;
}
.bxg-refund-main-cause ul li {
  color: #666;
  height: 1.38888889rem;
  line-height: 1.11111111rem;
  border: none;
}
#bxg_win_top p {
  width: 6.94444444rem;
  float: left;
  text-align: center;
  font-size: 0.47222222rem;
  display: inline-block;
}
.bxg-abrogate {
  text-align: right;
  font-size: 0.44444444rem;
  height: 0.83333333rem;
  line-height: 0.83333333rem;
  color: #12B7F5;
  padding-right: 0.27777778rem;
}
.bxg-transfer-input {
  text-align: right;
  width: 6.66666667rem;
}
.bxg-right-icon {
  float: right;
  margin-top: 0.41666667rem;
  width: 0.55555556rem;
  height: 0.73611111rem;
  background-position: -2.08333333rem 0;
  padding-left: 0.41666667rem;
}
/* input 按钮*/
.regular-radio {
  display: none;
}
.regular-radio + label {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  margin-right: 0.27777778rem;
}
.regular-radio:checked + label:after {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #12B7F5;
  text-shadow: 0px;
  left: 3px;
  font-size: 32px;
}
.regular-radio:checked + label {
  color: #99a1a7;
  border: 2px solid #12B7F5;
}
.big-radio + label {
  padding: 16px;
}
.big-radio:checked + label:after {
  width: 24px;
  height: 24px;
  left: 4px;
  top: 4px;
}
.bxg-transfer-logout {
  width: 90%;
  height: 1.22222222rem;
  background: #12B7F5;
  text-align: center;
  color: #fff;
  font-size: 0.45833333rem;
  margin: 0 auto;
  line-height: 1.22222222rem;
  border-radius: 0.16666667rem;
  margin-top: 0.41666667rem;
  margin-bottom: 0.41666667rem;
}
.bxg-transfer-logout a {
  color: #fff;
}
