

.bxg-content-top{
    width: 100%rem;
    height: 660/72rem;
    background: #f0f0f2;
}
.bxg-content-top>p{
    font-size: 39/72rem;
    color: #848484;
    text-align: center;
    line-height: 80/72rem;
}
.bxg-content-top>img{
    height: 527/72rem;
    width: 527/72rem;
    display: block;
    margin: 20/72rem auto;
}
.bxg-content-cen{
    height: 145/72rem;
    background: #396ea2;
}
.gn{
    color: #848484;
    font-size: 36/72rem;
    text-align: center;
    line-height: 70/72rem;
}
.content-cen-left{
    margin-top: -1/72rem;
    width:49.4% ;
    height: 146/72rem;
    float: left;
    background: #ffffff;
}
.content-cen-left>span{
    color:#333333;
}
.content-cen-right{
    margin-top: -1/72rem;
    width:49.4% ;
    height: 146/72rem;
    float: right;
    background: #ffffff;
}
.content-cen-right>span{
    color:#333333;
}
.bxg-invite>img{
    width: 340/72rem;
    height: 60/72rem;
    display: block;
    margin: 100/72rem auto;
}
.bxg-invite-message{
    height: 878/72rem;
    width: 660/72rem;
//  background: url(../images/bgf.png) no-repeat;
//  background-size:100%;
    margin: 0 auto;
//  opacity: 0.4;
background: #6790b8;
padding-top: 36/72rem;
}
.bxg-message-out{
   margin:  auto;
    height: 750/72rem;
    width: 612/72rem;
    background: #fff;
    overflow: scroll;
}
.ef{
    
    width: 612/72rem;
    height: 80/72rem;
    border-bottom: 1px solid #396ea2;
    background: #ffffff;
    margin:  auto;
}
.ef>li{
    width: 33%;
    float: left;
    line-height:80/72rem ;
    text-align: center;
    font-size: 33/72rem;
    color:#396ea2;
}

.message-in-end{
    
    height: 100/72rem;
// background: red;
}
.message-in-end>img{
    height: 88/72rem;
    width: 88/72rem;
    border-radius: 44/72rem;
    margin: 6/72rem 30/72rem;
    float: left;
}

.message-in-end>p{
    float: left;
    font-size: 30/72rem;
    color:#12b7f5;
    line-height: 100/72rem;
    margin-left: 70/72rem;
}
.message-in-end>span{
    float: left;
    font-size: 30/72rem;
    color:#12b7f5;
    line-height: 100/72rem;
    margin-left: 85/72rem;
    
}
