body {
  background: #f0f0f2;
}
.bxg-conent {
  background: #ffffff;
  margin-top: 0.27777778rem;
}
.bxg-conent > input {
  color: #b3b3b3;
  border: 0;
  width: 100%;
  margin-left: 0.36111111rem;
}
.bxg-conent img {
  height: 1.63888889rem;
  width: 1.63888889rem;
  margin: 1.52777778rem 0 0 0.36111111rem;
}
.bxg-ending {
  height: 1.38888889rem;
  width: 100%;
  background: #ffffff;
  margin-top: 0.27777778rem;
  line-height: 1.38888889rem;
}
.bxg-ending > p {
  float: left;
  color: #333333;
  font-size: 0.45833333rem;
  margin-left: 0.48611111rem;
}
.bxg-ending > a {
  height: 0.69444444rem;
  width: 0.41666667rem;
  background: url(../images/yy.png) no-repeat;
  background-size: 100% 100%;
  float: right;
  text-decoration: none;
  margin: 0.34722222rem 0.48611111rem 0 0;
}
