body{
    background: #f0f0f2;
}

.bxg-conent{
    background: #ffffff;
    margin-top: 20/72rem;
    
}

.bxg-conent>input{
    color: #b3b3b3;
    border: 0;
    width: 100%;
    margin-left: 26/72rem;
   
}
.bxg-conent img{
    height: 118/72rem;
    width: 118/72rem;
    margin: 110/72rem 0 0 26/72rem;
}
.bxg-ending{
    height: 100/72rem;
    width: 100%;
    background: #ffffff;
    margin-top: 20/72rem;
    line-height:100/72rem ;
}
.bxg-ending>p{
    float: left;
    color: #333333;
    font-size:33/72rem;
    margin-left: 35/72rem;
}
.bxg-ending>a{
    height: 50/72rem;
    width: 30/72rem;
    background: url(../images/yy.png) no-repeat;
    background-size:100% 100%;
    float:right;
    text-decoration: none;
    margin: 25/72rem  35/72rem 0  0;
}
