
body {
    background: #FFFFFF;
}
.bxg-header2{
    height: 80/72rem;
    width: 100%;
    background: #12b7f5;
    font-size: 33/72rem;
    color: #fefefe;
    text-align: center;
    line-height:80/72rem ;
  
    }
.bxg-header2>p:nth-child(1){
    font-size: 21/72rem;
    float: left;
    margin-left: 18/72rem;
}
.bxg-header2>p:nth-child(2){
    font-size: 21/72rem;
    float: right;
    margin-right: 18/72rem;
}
.bxg-content {
    height: 63/72rem;
    width: 100%;
    background: #ffffff;
}

.bxg-content-ul>p {
    font-size: 24/72rem;
    color: #333333;
    line-height: 63/72rem;
    margin-left: 30/72rem;
}

.bxg-content-ul>li {
    height: 261/72rem;
    width: 100%;
    background: #f0f0f2;
//     background: yellowgreen;
}

.bxg-content-left {
    width: 30%;
    height: 261/72rem;
//background: red;
    float: left;
}

.bxg-content-left>img {
    height: 251/72rem;
    width: 100%;
    margin-top: 10/72rem;
}

.bxg-content-right {
    height: 261/72rem;
    width: 68%;
// background: darkcyan;
    float: right;
    border-bottom: 1px solid #CFCFCF;
}

.bxg-content-right>div>p {
    float: left;
    font-size: 27/72rem;
    color: #333333;
//  background: red;
    height: 80/72rem;
    width: 80%;
    line-height: 1.5;
    margin: 30/72rem 0 0 10/72rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.bxg-content-right>div>span {
    float: left;
    font-size: 21/72rem;
    color: #adadad;
    margin: 40/72rem 0 0 10/72rem;
}

.bxg-content-right>p {
    clear: both;
    width: 80%;
    font-size: 21/72rem;
    color: #999999;
    margin: 130/72rem 0 0 10/72rem;
}

.bxg-content-right>span {
    display: inline;
    height: 60/72rem;
    line-height: 90/72rem;
    width: 90%;
    margin-left: 10/72rem;
    font-size: 33/72rem;
    color: #ff6100;
//  background: red;
}

.bxg-content-right>span>p {
    display: inline;
    font-size: 30/72rem;
}

.findlike {
//  background: yellow;
    text-align: center;
    line-height: 55/72rem;
    font-size: 24/72rem;
    color: #5f5f5f;
    float: right;
    height: 55/72rem;
    width: 140/72rem;
    border: 1px solid #adadad;
    border-radius: 20/72rem;
    margin: 20/72rem 20/72rem 0 0;
}
.content-border{
    height: 0.5/72rem;
    width: 98%;
    border: 0.5/72rem solid #cfcfcf;
    margin-left:2%;
}
