.bxg-center{
    margin-top: 10/72rem;
}
.bxg-center>li{
    height: 200/72rem;
    background: #ffffff;
    margin-bottom: 20/72rem;
      
}
.bxg-center-img{
    width: 160/72rem;
    height: 150/72rem;
//  background: yellowgreen;
    padding-top: 50/72rem;
    float: left;
    
    
}
.bxg-center-img>img{
    height: 98/72rem;
    width: 98/72rem;
    border-radius: 45/72rem;
    display: block;
    margin-left:30/72rem;
}
.bxg-center-cc{
    float: left;
    height: 200/72rem;
    width: 250/72rem;
//  background: burlywood;
    font-size: 24/72rem;
}
.bxg-center-cc>p{
    line-height: 120/72rem;
    font-size: 24/72rem;
    color:#4b4b4b;
}
.bxg-center-cc>span{
    font-size: 40/72rem;
    color:#4b4b4b;
    
}
.bxg-center-right{
    height: 200/72rem;
    width: 310/72rem;
//  background: cyan;
    float: left;
}
.bxg-center-right>div{
    width: 100/72rem;
    height: 200/72rem;
//  background: blue;
    float: left;
    margin-left: 110/72rem;
//  padding-top: 64/72rem;
}
.bxg-center-right>div>img{
    height: 50/72rem;
    width: 60/72rem;
    margin: 35/72rem 0 0 15/72rem;
    display: block;
 
}
.bxg-center-right>div>small{
    font-size: 21/72rem;
    color:#4b4b4b;
//  margin-top:-30/72rem;
    text-align: center;
}
.bxg-center-right>b{
    color: #4b4b4b;
    font-size: 66/72rem;
    font-weight: normal;
    line-height: 200/72rem;
}
