.bxg-center {
  margin-top: 0.13888889rem;
}
.bxg-center > li {
  height: 2.77777778rem;
  background: #ffffff;
  margin-bottom: 0.27777778rem;
}
.bxg-center-img {
  width: 2.22222222rem;
  height: 2.08333333rem;
  padding-top: 0.69444444rem;
  float: left;
}
.bxg-center-img > img {
  height: 1.36111111rem;
  width: 1.36111111rem;
  border-radius: 0.625rem;
  display: block;
  margin-left: 0.41666667rem;
}
.bxg-center-cc {
  float: left;
  height: 2.77777778rem;
  width: 3.47222222rem;
  font-size: 0.33333333rem;
}
.bxg-center-cc > p {
  line-height: 1.66666667rem;
  font-size: 0.33333333rem;
  color: #4b4b4b;
}
.bxg-center-cc > span {
  font-size: 0.55555556rem;
  color: #4b4b4b;
}
.bxg-center-right {
  height: 2.77777778rem;
  width: 4.30555556rem;
  float: left;
}
.bxg-center-right > div {
  width: 1.38888889rem;
  height: 2.77777778rem;
  float: left;
  margin-left: 1.52777778rem;
}
.bxg-center-right > div > img {
  height: 0.69444444rem;
  width: 0.83333333rem;
  margin: 0.48611111rem 0 0 0.20833333rem;
  display: block;
}
.bxg-center-right > div > small {
  font-size: 0.29166667rem;
  color: #4b4b4b;
  text-align: center;
}
.bxg-center-right > b {
  color: #4b4b4b;
  font-size: 0.91666667rem;
  font-weight: normal;
  line-height: 2.77777778rem;
}
