.ui-tab {
    overflow: hidden;
    width: 100%;
}

.tab-nav {
    height: 100/72rem;
    background: #ffffff;
}

.tab-nav>li {
    height: 100/72rem;
    width: 50%;
    float: left;
    font-size: 33/72rem;
    color: #333333;
    text-align: center;
    position: relative;
    height: 100/72rem;
    line-height: 100/72rem;
}

.tab-nav li.current:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #12B7F5;
}

.tab-content {
    display: -webkit-box;
    -webkit-transition: all 0.4s ease-out;
}
.bxg-conent{
//  height: 752/72rem;
    width: 100%;
    margin-top: 20/72rem;
    background: #ffffff;
    
    
}
.bxg-conent-top{
    height: 140/72rem;
}
.conent-top-left>img{
    height: 100/72rem;
    width: 100/72rem;
    border-radius: 50/72rem;
    float:left;
    display: block;
    margin: 20/72rem 30/72rem;
    
}
.adf{
    height: 100/72rem;
}
.adf2{
    height: 40/72rem;
}
.adf>p{
    font-size: 30/72rem;
    color: #333333;
    float: left;
    margin-top: 45/72rem;
}
.adf>span{
    height: 23/72rem;
    width: 37/72rem;
//  background: red;
    float: right;
   background: url(../images/my.png)no-repeat;
    background-size: 200/72rem;
    background-position: -162/72rem -69/72rem;
    margin: 45/72rem 30/72rem 0 0; 
}
.adf2>p:nth-child(1){
    font-size: 24/72rem;
    color:#12B7F5;
    float: left;
}
.adf2>p:nth-child(2){
    font-size: 24/72rem;
    color:#a2a2a2;
    float: right;
    margin-right: 30/72rem;
}
.bxg-conent-cen{
    height: 340/72rem;

}
.bxg-conent-cen>p{
    font-size: 24/72rem;
    color: #333333;   
    margin: 0 0 30/72rem 30/72rem; 
    
    
}
.cen-of{
    height: 230/72rem;
}
.cen-of>img{
    height: 160/72rem;
    width: 120/72rem;
    margin: 0  30/72rem; 
    float: left;
    
}
.cen-of>div{
    float: left;
    
}
.cen-of>div>p{
    color: #333333;
    font-size: 36/72rem;
}
.cen-of>div>small{
    color: #5a5959;
    font-size: 24/72rem;
    display: block;
    margin-top: 33/72rem;
}
.cen-of>div>span{
    color: #5a5959;
    font-size: 24/72rem;
}
.cen-of>a{
    background:#12b7f5;
    float: right;
    text-decoration: none;
    font-size: 36/72rem;
    color: #ffffff;
    margin:100/72rem 30/72rem 0 0;
    padding: 20/72rem 30/72rem;
    border-radius: 15/72rem;
}
.cen-ot>p:nth-child(1){
    font-size: 24/72rem;
    color:#8f8f8f;
    margin-left: 30/72rem;
    float: left;
}
.cen-ot>span:nth-child(2){
    height: 36/72rem;
    width: 50/72rem;
    background: url(../images/wish.png)no-repeat;
    background-size: 50/72rem 100/72rem;
    background-position: 0 0;
    float: left;
    margin-left: 260/72rem;
    
}
.cen-ot>span:nth-child(3){
    height: 36/72rem;
    width: 50/72rem;
    background: url(../images/wish.png)no-repeat;
    background-size: 50/72rem 100/72rem;
    background-position: 0 -35/72rem;
    float: left;
    margin-left: 86/72rem;

}
.cen-ot>span:nth-child(4){
    height: 37/72rem;
    width: 50/72rem;
    background: url(../images/wish.png)no-repeat;
    background-size: 50/72rem 100/72rem;
    background-position: 0 -68/72rem;
    float: right;
    margin-right: 30/72rem;
}

.bxg-conent-bottom>p{
    font-size: 24/72rem;
    color: #12B7F5;
    line-height: 60/72rem;
    margin-left: 30/72rem;
    color: #12B7F5;                                                                               
}
.bxg-conent-bottom>p>span:nth-child(1){
    display: block;
    height: 42/72rem;
    width: 42/72rem;
    background:url(../images/zan.png) no-repeat;
    background-size: 100%;
    margin-top: 10/72rem;
    float:left ;

}
.bxg-conent-bottom>input{
    width: 660/72rem;
    height: 60/72rem;
//  margin-left: 30/72rem;
    border: 1px solid #aeaeae;
    border-radius: 20/72rem;
    margin: 50/72rem 0 30/72rem 30/72rem;;

}
