.ui-tab {
  overflow: hidden;
  width: 100%;
}
.tab-nav {
  height: 1.38888889rem;
  background: #ffffff;
}
.tab-nav > li {
  width: 50%;
  float: left;
  font-size: 0.45833333rem;
  color: #333333;
  text-align: center;
  position: relative;
  height: 1.38888889rem;
  line-height: 1.38888889rem;
}
.tab-nav li.current:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #12B7F5;
}
.tab-content {
  display: -webkit-box;
  -webkit-transition: all 0.4s ease-out;
}
.bxg-conent {
  width: 100%;
  margin-top: 0.27777778rem;
  background: #ffffff;
}
.bxg-conent-top {
  height: 1.94444444rem;
}
.conent-top-left > img {
  height: 1.38888889rem;
  width: 1.38888889rem;
  border-radius: 0.69444444rem;
  float: left;
  display: block;
  margin: 0.27777778rem 0.41666667rem;
}
.adf {
  height: 1.38888889rem;
}
.adf2 {
  height: 0.55555556rem;
}
.adf > p {
  font-size: 0.41666667rem;
  color: #333333;
  float: left;
  margin-top: 0.625rem;
}
.adf > span {
  height: 0.31944444rem;
  width: 0.51388889rem;
  float: right;
  background: url(../images/my.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: -2.25rem -0.95833333rem;
  margin: 0.625rem 0.41666667rem 0 0;
}
.adf2 > p:nth-child(1) {
  font-size: 0.33333333rem;
  color: #12B7F5;
  float: left;
}
.adf2 > p:nth-child(2) {
  font-size: 0.33333333rem;
  color: #a2a2a2;
  float: right;
  margin-right: 0.41666667rem;
}
.bxg-conent-cen {
  height: 4.72222222rem;
}
.bxg-conent-cen > p {
  font-size: 0.33333333rem;
  color: #333333;
  margin: 0 0 0.41666667rem 0.41666667rem;
}
.cen-of {
  height: 3.19444444rem;
}
.cen-of > img {
  height: 2.22222222rem;
  width: 1.66666667rem;
  margin: 0 0.41666667rem;
  float: left;
}
.cen-of > div {
  float: left;
}
.cen-of > div > p {
  color: #333333;
  font-size: 0.5rem;
}
.cen-of > div > small {
  color: #5a5959;
  font-size: 0.33333333rem;
  display: block;
  margin-top: 0.45833333rem;
}
.cen-of > div > span {
  color: #5a5959;
  font-size: 0.33333333rem;
}
.cen-of > a {
  background: #12b7f5;
  float: right;
  text-decoration: none;
  font-size: 0.5rem;
  color: #ffffff;
  margin: 1.38888889rem 0.41666667rem 0 0;
  padding: 0.27777778rem 0.41666667rem;
  border-radius: 0.20833333rem;
}
.cen-ot > p:nth-child(1) {
  font-size: 0.33333333rem;
  color: #8f8f8f;
  margin-left: 0.41666667rem;
  float: left;
}
.cen-ot > span:nth-child(2) {
  height: 0.5rem;
  width: 0.69444444rem;
  background: url(../images/wish.png) no-repeat;
  background-size: 0.69444444rem 1.38888889rem;
  background-position: 0 0;
  float: left;
  margin-left: 3.61111111rem;
}
.cen-ot > span:nth-child(3) {
  height: 0.5rem;
  width: 0.69444444rem;
  background: url(../images/wish.png) no-repeat;
  background-size: 0.69444444rem 1.38888889rem;
  background-position: 0 -0.48611111rem;
  float: left;
  margin-left: 1.19444444rem;
}
.cen-ot > span:nth-child(4) {
  height: 0.51388889rem;
  width: 0.69444444rem;
  background: url(../images/wish.png) no-repeat;
  background-size: 0.69444444rem 1.38888889rem;
  background-position: 0 -0.94444444rem;
  float: right;
  margin-right: 0.41666667rem;
}
.bxg-conent-bottom > p {
  font-size: 0.33333333rem;
  line-height: 0.83333333rem;
  margin-left: 0.41666667rem;
  color: #12B7F5;
}
.bxg-conent-bottom > p > span:nth-child(1) {
  display: block;
  height: 0.58333333rem;
  width: 0.58333333rem;
  background: url(../images/zan.png) no-repeat;
  background-size: 100%;
  margin-top: 0.13888889rem;
  float: left ;
}
.bxg-conent-bottom > input {
  width: 9.16666667rem;
  height: 0.83333333rem;
  border: 1px solid #aeaeae;
  border-radius: 0.27777778rem;
  margin: 0.69444444rem 0 0.41666667rem 0.41666667rem;
}
.black_overlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.6;
  opacity: .60;
  filter: alpha(opacity=60);
}
.delate_ejct {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(../images/zf.png);
  height: 6.91666667rem;
  border-radius: 0.27777778rem;
  z-index: 1002;
  overflow: auto;
  display: none;
}
.edit > li:nth-child(1) {
  height: 1.38888889rem;
  margin: 0.69444444rem 0 0.69444444rem 0;
}
.edit > li:nth-child(1) > span {
  height: 0.83333333rem;
  width: 0.97222222rem;
  background: url(../images/zhuanfa.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: 0 -1.84722222rem;
  float: left;
  margin: 0.52777778rem 0.34722222rem 0 0.5rem;
}
.edit > li:nth-child(1) > p {
  font-size: 0.41666667rem;
  float: left;
  color: #333333;
  margin: 0.83333333rem 0.41666667rem 0 0;
}
.edit > li:nth-child(1) > a:nth-child(3) {
  width: 0.69444444rem;
  height: 0.75rem;
  float: left;
  background: url(../images/zhuanfa.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: -2.08333333rem -0.94444444rem;
  margin: 0.52777778rem 1.08333333rem 0;
}
.edit > li:nth-child(1) > a:nth-child(4) {
  width: 0.69444444rem;
  height: 0.75rem;
  float: left;
  background: url(../images/zhuanfa.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: -2.08333333rem -1.65277778rem;
  margin: 0.52777778rem 1.08333333rem 0 0;
}
.edit > li:nth-child(1) > a:nth-child(5) {
  width: 0.69444444rem;
  height: 0.75rem;
  float: left;
  background: url(../images/zhuanfa.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: -0.98611111rem -1.31944444rem;
  margin: 0.52777778rem 0 0 0;
}
.edit > li:nth-child(2) {
  height: 1.38888889rem;
  margin-bottom: 0.69444444rem;
}
.edit > li:nth-child(2) > span {
  height: 0.83333333rem;
  width: 0.97222222rem;
  background: url(../images/zhuanfa.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: 0 -0.98611111rem;
  float: left;
  margin: 0.52777778rem 0.34722222rem 0 0.5rem;
}
.edit > li:nth-child(2) > p {
  font-size: 0.41666667rem;
  float: left;
  color: #333333;
  margin: 0.83333333rem 0.41666667rem 0 0;
}
.edit > li:nth-child(3) {
  height: 1.38888889rem;
}
.edit > li:nth-child(3) > span {
  height: 0.83333333rem;
  width: 0.83333333rem;
  background: url(../images/zhuanfa.png) no-repeat;
  background-size: 2.77777778rem;
  background-position: 0 -0.11111111rem;
  float: left;
  margin: 0.52777778rem 0.34722222rem 0 0.5rem;
}
.edit > li:nth-child(3) > p {
  font-size: 0.41666667rem;
  float: left;
  color: #333333;
  margin: 0.83333333rem 0.41666667rem 0 0;
}
