body {
  background: #f0f0f2;
}
.bxg-messaeg > li {
  height: 2.66666667rem;
  width: 10rem;
  background: #ffffff;
  margin-bottom: 0.27777778rem;
}
.bxg-messaeg-left {
  height: 2.66666667rem;
  width: 2.72222222rem;
  float: left;
}
.bxg-messaeg-left > img {
  height: 2.19444444rem;
  width: 2.19444444rem;
  display: block;
  margin: 0.26388889rem;
}
.bxg-messaeg-right {
  height: 2.66666667rem;
  width: 7.27777778rem;
  float: left;
}
.bxg-messaeg-right > p {
  margin: 0.29166667rem 0.27777778rem;
  font-size: 0.5rem;
  color: #333333;
}
.bxg-messaeg-right > div:nth-child(2) {
  width: 100%;
  height: 0.72222222rem;
}
.bxg-messaeg-right > div:nth-child(2) > span {
  float: left;
  font-size: 0.41666667rem;
  color: #7e7e7e;
  margin: 0.13888889rem 0.27777778rem;
  display: inline;
}
.bxg-messaeg-right > div:nth-child(3) {
  height: 0.83333333rem;
  font-size: 0.41666667rem;
  color: #333333;
  line-height: 0.69444444rem;
  margin-left: 0.27777778rem;
}
.bxg-messaeg-right > div:nth-child(3) > b {
  font-size: 0.41666667rem;
  color: #ff940a;
}
.bxg-messaeg-right > div:nth-child(3) > b > span {
  color: #ff940a;
  font-size: 0.5rem;
}
