body{
    background: #ffffff;
}
.bxg-hoetel-banner{
    height:540/72rem;
    width: 720/72rem;
}
.bxg-hoetel-banner>img{
    height: 100%;
    width: 100%;
}
.bxg-hoetel-content>li{
    height: 100/72rem;
    width: 100%;
    
//  background: red;
}
.bxg-hoetel-content>li div{
    width: 90%;
    height: 100/72rem;
//  background: yellow;
    margin: 0 auto ;
    border-bottom: 1px solid #f0f0f2;
    
}
.bxg-list>span{
    float: left;
    margin-top:25/72rem;

}

.bxg-list>span:nth-child(1){
    height: 60/72rem;
    width: 45/72rem;
    background: url(../images/hotel.png)no-repeat;
    background-size: 100/72rem 200/72rem;
    background-position:0 0 ;
}
.bxg-list>p:nth-child(2){
    float: left;
    color:#333333;
    font-size: 36/72rem;
    margin-left: 27/72rem;
    line-height: 100/72rem;
}
.bxg-list>p:nth-child(3){
    float: left;
    color:#333333;
    font-size: 36/72rem;
    margin-left: 300/72rem;
    line-height: 100/72rem;
}

.bxg-list>a:nth-child(4){
    height: 35/72rem;
    width:30/72rem;
    float: right;
    margin-top: 40/72rem;
    background: url(../images/hotel.png)no-repeat;
    background-size: 100/72rem 200/72rem;
    background-position:-79/72rem -56/72rem;
}

.bxg-list2>span:nth-child(1){
    height: 60/72rem;
    width: 60/72rem;
    background: url(../images/hotel.png)no-repeat;
    background-size: 100/72rem 200/72rem;
    background-position:0 -60/72rem;
}
.offturn{
    float: left;
}
.offturn-p{
    height: 60/72rem;
    width: 60/72rem;
    font-size: 10/72rem;
    margin-top: 20/72rem;
    float: left;
    
}

.offturn>b{
    font-size: 45/72rem;
    color: #333333;
    float: left;
}
.bxg-list2>p:nth-child(3){
    font-size: 36/72rem;
    margin-left: 300/72rem;
}
.bxg-list2>a:nth-child(4){
    height: 35/72rem;
    width:30/72rem;
    float: right;
    margin-top: 40/72rem;
    background: url(../images/hotel.png)no-repeat;
    background-size: 100/72rem 200/72rem;
    background-position:-79/72rem -56/72rem;
}
.bxg-list3>span:nth-child(1){
    height: 60/72rem;
    width: 60/72rem;
    background: url(../images/hotel.png)no-repeat;
    background-size: 100/72rem 200/72rem;
    background-position:0 -120/72rem;
}
.bxg-list3>p:nth-child(3){
    margin-left: 0;
}
.bxg-list4>span:nth-child(1){
    height: 60/72rem;
    width: 60/72rem;
    background: url(../images/hotel.png)no-repeat;
    background-size: 100/72rem 200/72rem;
    background-position:-45/72rem 0/72rem;
}
.footer>input{
    height: 90/72rem;
    width: 660/72rem;
    margin: 86/72rem 0 0 35/72rem;
    background: #12b7f5;
    border-radius: 15/72rem;
    color:#ffffff;
    font-size: 42/72rem;
}
